# 공공자전거 대여소별 월별 이용정보 데이터 병합

In [1]:
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import os
import missingno as msno
import warnings
warnings.filterwarnings('ignore')

mpl.rcParams['axes.unicode_minus'] = False
plt.rcParams['font.family'] = 'NanumGothic'

import json
import folium

geo_path = 'C:/Users/psuny/Desktop/대학원/데이터/따릉이 데이터/seoul_municipalities_geo_simple.json'
geo_str = json.load(open(geo_path, encoding = 'utf-8'))

## 데이터 로드

In [2]:
dirpath = 'C:/Users/psuny/Desktop/대학원/데이터/따릉이 데이터/원본 데이터/공공자전거 대여소별 월별 이용정보'
files = os.listdir(dirpath)
files

['공공자전거 대여소별 이용정보_201812_201905.xlsx',
 '공공자전거 대여소별 이용정보_201906_201911.xlsx',
 '공공자전거 대여소별 이용정보_201912_202005.csv',
 '공공자전거 대여소별 이용정보_2020.07_2021.01.xlsx',
 '공공자전거 대여소별 이용정보_202006.csv',
 '공공자전거 대여소별 이용정보_21.02_21.06.xlsx',
 '대여소별 대여정보_201807_11.xlsx',
 '서울특별시 공공자전거 대여소별 이용정보(월간)_2018_1_6.xlsx']

In [15]:
data1 = pd.read_excel('C:/Users/psuny/Desktop/대학원/데이터/따릉이 데이터/원본 데이터/공공자전거 대여소별 월별 이용정보/공공자전거 대여소별 이용정보_201812_201905.xlsx')
data1

       구분                            대여소명      대여일자    대여건수    반납건수
0     강남구                2301. 현대고등학교 건너편  201812.0   364.0   437.0
1     강남구  2302. 교보타워 버스정류장(신논현역 3번출구 후면)  201812.0   500.0   556.0
2     강남구                  2303. 논현역 7번출구  201812.0   286.0   273.0
3     강남구         2304. 신영 ROYAL PALACE 앞  201812.0   149.0    62.0
4     강남구              2305. MCM 본사 직영점 앞  201812.0   145.0   218.0
...   ...                             ...       ...     ...     ...
9184  중랑구                 1455. 상봉역 2번 출구  201905.0  1362.0  1300.0
9185  중랑구            1456. 상아빌딩(우림시장 교차로)  201905.0   826.0   867.0
9186  중랑구                     1457. 동원사거리  201905.0   827.0   749.0
9187  중랑구                    1458. 상봉터미널2  201905.0  1421.0  1492.0
9188  중랑구                1459. 용마한신아파트사거리  201905.0   447.0   320.0

[9189 rows x 5 columns]

In [16]:
data1 = data1.rename(columns = {'구분' : '대여소위치', '대여일자' : '기준일자'})
data1

     대여소위치                            대여소명      기준일자    대여건수    반납건수
0      강남구                2301. 현대고등학교 건너편  201812.0   364.0   437.0
1      강남구  2302. 교보타워 버스정류장(신논현역 3번출구 후면)  201812.0   500.0   556.0
2      강남구                  2303. 논현역 7번출구  201812.0   286.0   273.0
3      강남구         2304. 신영 ROYAL PALACE 앞  201812.0   149.0    62.0
4      강남구              2305. MCM 본사 직영점 앞  201812.0   145.0   218.0
...    ...                             ...       ...     ...     ...
9184   중랑구                 1455. 상봉역 2번 출구  201905.0  1362.0  1300.0
9185   중랑구            1456. 상아빌딩(우림시장 교차로)  201905.0   826.0   867.0
9186   중랑구                     1457. 동원사거리  201905.0   827.0   749.0
9187   중랑구                    1458. 상봉터미널2  201905.0  1421.0  1492.0
9188   중랑구                1459. 용마한신아파트사거리  201905.0   447.0   320.0

[9189 rows x 5 columns]

In [17]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9189 entries, 0 to 9188
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   대여소위치   9184 non-null   object
 1   대여소명    9184 non-null   object
 2   기준일자    9184 non-null   float64
 3   대여건수    9184 non-null   float64
 4   반납건수    9184 non-null   float64
dtypes: float64(3), object(2)
memory usage: 359.1+ KB

In [18]:
data1.isnull().sum()

대여소위치    5
대여소명     5
기준일자     5
대여건수     5
반납건수     5
dtype: int64

In [23]:
data1 = data1.dropna()
data1

     대여소위치                            대여소명      기준일자    대여건수    반납건수
0      강남구                2301. 현대고등학교 건너편  201812.0   364.0   437.0
1      강남구  2302. 교보타워 버스정류장(신논현역 3번출구 후면)  201812.0   500.0   556.0
2      강남구                  2303. 논현역 7번출구  201812.0   286.0   273.0
3      강남구         2304. 신영 ROYAL PALACE 앞  201812.0   149.0    62.0
4      강남구              2305. MCM 본사 직영점 앞  201812.0   145.0   218.0
...    ...                             ...       ...     ...     ...
9184   중랑구                 1455. 상봉역 2번 출구  201905.0  1362.0  1300.0
9185   중랑구            1456. 상아빌딩(우림시장 교차로)  201905.0   826.0   867.0
9186   중랑구                     1457. 동원사거리  201905.0   827.0   749.0
9187   중랑구                    1458. 상봉터미널2  201905.0  1421.0  1492.0
9188   중랑구                1459. 용마한신아파트사거리  201905.0   447.0   320.0

[9184 rows x 5 columns]

In [24]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9184 entries, 0 to 9188
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   대여소위치   9184 non-null   object
 1   대여소명    9184 non-null   object
 2   기준일자    9184 non-null   float64
 3   대여건수    9184 non-null   float64
 4   반납건수    9184 non-null   float64
dtypes: float64(3), object(2)
memory usage: 430.5+ KB

In [25]:
data2 = pd.read_excel('C:/Users/psuny/Desktop/대학원/데이터/따릉이 데이터/원본 데이터/공공자전거 대여소별 월별 이용정보/공공자전거 대여소별 이용정보_201906_201911.xlsx')
data2

     대여소 그룹                           대여소 명  대여 일자 / 월  대여 건수  반납 건수
0       강남구                2301. 현대고등학교 건너편     201906   3909   4072
1       강남구  2302. 교보타워 버스정류장(신논현역 3번출구 후면)     201906   2432   2382
2       강남구                  2303. 논현역 7번출구     201906   1567   1402
3       강남구         2304. 신영 ROYAL PALACE 앞     201906    559    207
4       강남구              2305. MCM 본사 직영점 앞     201906    730    905
...     ...                             ...        ...    ...    ...
9265    중랑구                 1455. 상봉역 2번 출구     201911   1205   1193
9266    중랑구            1456. 상아빌딩(우림시장 교차로)     201911    764    860
9267    중랑구                     1457. 동원사거리     201911    577    572
9268    중랑구                    1458. 상봉터미널2     201911   1243   1305
9269    중랑구                1459. 용마한신아파트사거리     201911    339    316

[9270 rows x 5 columns]

In [26]:
data2 = data2.rename(columns = {'대여소 그룹' : '대여소위치', '대여소 명' : '대여소명', '대여 일자 / 월' : '기준일자', '대여 건수': '대여건수', '반납 건수' : '반납건수'})
data2

     대여소위치                            대여소명    기준일자  대여건수  반납건수
0      강남구                2301. 현대고등학교 건너편  201906  3909  4072
1      강남구  2302. 교보타워 버스정류장(신논현역 3번출구 후면)  201906  2432  2382
2      강남구                  2303. 논현역 7번출구  201906  1567  1402
3      강남구         2304. 신영 ROYAL PALACE 앞  201906   559   207
4      강남구              2305. MCM 본사 직영점 앞  201906   730   905
...    ...                             ...     ...   ...   ...
9265   중랑구                 1455. 상봉역 2번 출구  201911  1205  1193
9266   중랑구            1456. 상아빌딩(우림시장 교차로)  201911   764   860
9267   중랑구                     1457. 동원사거리  201911   577   572
9268   중랑구                    1458. 상봉터미널2  201911  1243  1305
9269   중랑구                1459. 용마한신아파트사거리  201911   339   316

[9270 rows x 5 columns]

In [27]:
data2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9270 entries, 0 to 9269
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   대여소위치   9270 non-null   object
 1   대여소명    9270 non-null   object
 2   기준일자    9270 non-null   int64
 3   대여건수    9270 non-null   int64
 4   반납건수    9270 non-null   int64
dtypes: int64(3), object(2)
memory usage: 362.2+ KB

In [5]:
data3 = pd.read_csv('C:/Users/psuny/Desktop/대학원/데이터/따릉이 데이터/원본 데이터/공공자전거 대여소별 월별 이용정보/공공자전거 대여소별 이용정보_201912_202005.csv')
data3

      대여소 그룹                           대여소 명  대여 일자 / 월  대여 건수  반납 건수
0        강남구                2301. 현대고등학교 건너편     201912    501    662
1        강남구  2302. 교보타워 버스정류장(신논현역 3번출구 후면)     201912    737    736
2        강남구                  2303. 논현역 7번출구     201912    460    438
3        강남구         2304. 신영 ROYAL PALACE 앞     201912    150     62
4        강남구              2305. MCM 본사 직영점 앞     201912    257    342
...      ...                             ...        ...    ...    ...
9998     중랑구                 1455. 상봉역 2번 출구     202005   1802   1823
9999     중랑구            1456. 상아빌딩(우림시장 교차로)     202005   1113   1179
10000    중랑구                     1457. 동원사거리     202005    883    863
10001    중랑구                    1458. 상봉터미널2     202005   2128   2162
10002    중랑구                1459. 용마한신아파트사거리     202005    432    433

[10003 rows x 5 columns]

In [28]:
data3 = data3.rename(columns = {'대여소 그룹' : '대여소위치', '대여소 명' : '대여소명', '대여 일자 / 월' : '기준일자', '대여 건수': '대여건수', '반납 건수' : '반납건수'})
data3

      대여소위치                            대여소명    기준일자  대여건수  반납건수
0       강남구                2301. 현대고등학교 건너편  201912   501   662
1       강남구  2302. 교보타워 버스정류장(신논현역 3번출구 후면)  201912   737   736
2       강남구                  2303. 논현역 7번출구  201912   460   438
3       강남구         2304. 신영 ROYAL PALACE 앞  201912   150    62
4       강남구              2305. MCM 본사 직영점 앞  201912   257   342
...     ...                             ...     ...   ...   ...
9998    중랑구                 1455. 상봉역 2번 출구  202005  1802  1823
9999    중랑구            1456. 상아빌딩(우림시장 교차로)  202005  1113  1179
10000   중랑구                     1457. 동원사거리  202005   883   863
10001   중랑구                    1458. 상봉터미널2  202005  2128  2162
10002   중랑구                1459. 용마한신아파트사거리  202005   432   433

[10003 rows x 5 columns]

In [29]:
data3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10003 entries, 0 to 10002
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   대여소위치   10003 non-null  object
 1   대여소명    10003 non-null  object
 2   기준일자    10003 non-null  int64
 3   대여건수    10003 non-null  int64
 4   반납건수    10003 non-null  int64
dtypes: int64(3), object(2)
memory usage: 390.9+ KB

In [6]:
data4 = pd.read_excel('C:/Users/psuny/Desktop/대학원/데이터/따릉이 데이터/원본 데이터/공공자전거 대여소별 월별 이용정보/공공자전거 대여소별 이용정보_2020.07_2021.01.xlsx')
data4

      대여소 그룹                           대여소 명  대여 일자 / 월  대여 건수
0        강남구                2301. 현대고등학교 건너편     202007   3997
1        강남구  2302. 교보타워 버스정류장(신논현역 3번출구 후면)     202007   1250
2        강남구                  2303. 논현역 7번출구     202007    863
3        강남구         2304. 신영 ROYAL PALACE 앞     202007    334
4        강남구              2305. MCM 본사 직영점 앞     202007    436
...      ...                             ...        ...    ...
14749    중랑구                    1474.서울중랑우체국     202101    315
14750    중랑구                  1477.면목삼익아파트 앞     202101    159
14751    중랑구                 1478.홈플러스 상봉점 앞     202101    427
14752    중랑구                  1479.면목 홈플러스 2     202101    187
14753    중랑구                   1480. 용마지구대 옆     202101    207

[14754 rows x 4 columns]

In [ ]:
#data4.to_excel('./공공자전거 대여소별 이용정보_2020.07_2021.01.xlsx', index = False)

In [30]:
data4 = data4.rename(columns = {'대여소 그룹' : '대여소위치', '대여소 명' : '대여소명', '대여 일자 / 월' : '기준일자', '대여 건수': '대여건수'})
data4

      대여소위치                            대여소명    기준일자  대여건수
0       강남구                2301. 현대고등학교 건너편  202007  3997
1       강남구  2302. 교보타워 버스정류장(신논현역 3번출구 후면)  202007  1250
2       강남구                  2303. 논현역 7번출구  202007   863
3       강남구         2304. 신영 ROYAL PALACE 앞  202007   334
4       강남구              2305. MCM 본사 직영점 앞  202007   436
...     ...                             ...     ...   ...
14749   중랑구                    1474.서울중랑우체국  202101   315
14750   중랑구                  1477.면목삼익아파트 앞  202101   159
14751   중랑구                 1478.홈플러스 상봉점 앞  202101   427
14752   중랑구                  1479.면목 홈플러스 2  202101   187
14753   중랑구                   1480. 용마지구대 옆  202101   207

[14754 rows x 4 columns]

In [31]:
data4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14754 entries, 0 to 14753
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   대여소위치   14754 non-null  object
 1   대여소명    14754 non-null  object
 2   기준일자    14754 non-null  int64
 3   대여건수    14754 non-null  int64
dtypes: int64(2), object(2)
memory usage: 461.2+ KB

In [7]:
data5 = pd.read_csv('C:/Users/psuny/Desktop/대학원/데이터/따릉이 데이터/원본 데이터/공공자전거 대여소별 월별 이용정보/공공자전거 대여소별 이용정보_202006.csv')
data5

     대여소 그룹                           대여소 명  대여 일자 / 월  대여 건수  반납 건수
0       강남구                2301. 현대고등학교 건너편     202006   4512   4714
1       강남구  2302. 교보타워 버스정류장(신논현역 3번출구 후면)     202006   1650   1628
2       강남구                  2303. 논현역 7번출구     202006   1134   1072
3       강남구         2304. 신영 ROYAL PALACE 앞     202006    399    130
4       강남구              2305. MCM 본사 직영점 앞     202006    490    475
...     ...                             ...        ...    ...    ...
2057    중랑구        1473.중랑역 1번 출구(중화문화복지센터)     202006     85     83
2058    중랑구                  1477.면목삼익아파트 앞     202006     85     82
2059    중랑구                 1478.홈플러스 상봉점 앞     202006    322    329
2060    중랑구                  1479.면목 홈플러스 2     202006    150    166
2061    중랑구                   1480. 용마지구대 옆     202006    235    243

[2062 rows x 5 columns]

In [32]:
data5 = data5.rename(columns = {'대여소 그룹' : '대여소위치', '대여소 명' : '대여소명', '대여 일자 / 월' : '기준일자', '대여 건수': '대여건수', '반납 건수' : '반납건수'})
data5

     대여소위치                            대여소명    기준일자  대여건수  반납건수
0      강남구                2301. 현대고등학교 건너편  202006  4512  4714
1      강남구  2302. 교보타워 버스정류장(신논현역 3번출구 후면)  202006  1650  1628
2      강남구                  2303. 논현역 7번출구  202006  1134  1072
3      강남구         2304. 신영 ROYAL PALACE 앞  202006   399   130
4      강남구              2305. MCM 본사 직영점 앞  202006   490   475
...    ...                             ...     ...   ...   ...
2057   중랑구        1473.중랑역 1번 출구(중화문화복지센터)  202006    85    83
2058   중랑구                  1477.면목삼익아파트 앞  202006    85    82
2059   중랑구                 1478.홈플러스 상봉점 앞  202006   322   329
2060   중랑구                  1479.면목 홈플러스 2  202006   150   166
2061   중랑구                   1480. 용마지구대 옆  202006   235   243

[2062 rows x 5 columns]

In [33]:
data5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2062 entries, 0 to 2061
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   대여소위치   2062 non-null   object
 1   대여소명    2062 non-null   object
 2   기준일자    2062 non-null   int64
 3   대여건수    2062 non-null   int64
 4   반납건수    2062 non-null   int64
dtypes: int64(3), object(2)
memory usage: 80.7+ KB

In [8]:
data6 = pd.read_excel('C:/Users/psuny/Desktop/대학원/데이터/따릉이 데이터/원본 데이터/공공자전거 대여소별 월별 이용정보/공공자전거 대여소별 이용정보_21.02_21.06.xlsx')
data6

      대여소 그룹                           대여소 명  대여 일자 / 월  대여 건수
0        강남구                2301. 현대고등학교 건너편     202102   1713
1        강남구  2302. 교보타워 버스정류장(신논현역 3번출구 후면)     202102    538
2        강남구                  2303. 논현역 7번출구     202102    440
3        강남구         2304. 신영 ROYAL PALACE 앞     202102    156
4        강남구              2305. MCM 본사 직영점 앞     202102    197
...      ...                             ...        ...    ...
11771    중랑구                4811. 한양수자인아파트 앞     202106    260
11772    중랑구                  4812. 묵동 이마트 앞     202106   1305
11773    중랑구                 4813. 망우로 버거킹 앞     202106   1624
11774    중랑구                4815. 중랑데시앙플렉스 앞     202106    218
11775    중랑구             4819. 면목동 새싹어린이공원 앞     202106    661

[11776 rows x 4 columns]

In [ ]:
#data6.to_excel('./공공자전거 대여소별 이용정보_21.02_21.06.xlsx', index = False)

In [34]:
data6 = data6.rename(columns = {'대여소 그룹' : '대여소위치', '대여소 명' : '대여소명', '대여 일자 / 월' : '기준일자', '대여 건수': '대여건수'})
data6

      대여소위치                            대여소명    기준일자  대여건수
0       강남구                2301. 현대고등학교 건너편  202102  1713
1       강남구  2302. 교보타워 버스정류장(신논현역 3번출구 후면)  202102   538
2       강남구                  2303. 논현역 7번출구  202102   440
3       강남구         2304. 신영 ROYAL PALACE 앞  202102   156
4       강남구              2305. MCM 본사 직영점 앞  202102   197
...     ...                             ...     ...   ...
11771   중랑구                4811. 한양수자인아파트 앞  202106   260
11772   중랑구                  4812. 묵동 이마트 앞  202106  1305
11773   중랑구                 4813. 망우로 버거킹 앞  202106  1624
11774   중랑구                4815. 중랑데시앙플렉스 앞  202106   218
11775   중랑구             4819. 면목동 새싹어린이공원 앞  202106   661

[11776 rows x 4 columns]

In [35]:
data6.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11776 entries, 0 to 11775
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   대여소위치   11776 non-null  object
 1   대여소명    11776 non-null  object
 2   기준일자    11776 non-null  int64
 3   대여건수    11776 non-null  int64
dtypes: int64(2), object(2)
memory usage: 368.1+ KB

In [9]:
data7 = pd.read_excel('C:/Users/psuny/Desktop/대학원/데이터/따릉이 데이터/원본 데이터/공공자전거 대여소별 월별 이용정보/대여소별 대여정보_201807_11.xlsx')
data7

        대여일자  대여소번호                  대여소명  대여건수  반납건수
0     201806    101      101. (구)합정동 주민센터   832   807
1     201806    102       102. 망원역 1번출구 앞  2819  2568
2     201806    103       103. 망원역 2번출구 앞  1977  1769
3     201806    104       104. 합정역 1번출구 앞  1682  1610
4     201806    105       105. 합정역 5번출구 앞  1105   925
...      ...    ...                   ...   ...   ...
8033  201811   3534    3534. 건대입구역 5번출구 뒤  1278  1277
8034  201811   3535     3535. 중곡사거리(국민은행)   459   519
8035  201811   3536       3536. 중앙농협(자양동)   545   535
8036  201811   3537  3537. 아차산 휴먼시아 아파트 옆   267   204
8037  201811   3538        3538. 서울숲 IT캐슬   112    97

[8038 rows x 5 columns]

In [36]:
data7 = data7.rename(columns = {'대여일자' : '기준일자'})
data7

        기준일자  대여소번호                  대여소명  대여건수  반납건수
0     201806    101      101. (구)합정동 주민센터   832   807
1     201806    102       102. 망원역 1번출구 앞  2819  2568
2     201806    103       103. 망원역 2번출구 앞  1977  1769
3     201806    104       104. 합정역 1번출구 앞  1682  1610
4     201806    105       105. 합정역 5번출구 앞  1105   925
...      ...    ...                   ...   ...   ...
8033  201811   3534    3534. 건대입구역 5번출구 뒤  1278  1277
8034  201811   3535     3535. 중곡사거리(국민은행)   459   519
8035  201811   3536       3536. 중앙농협(자양동)   545   535
8036  201811   3537  3537. 아차산 휴먼시아 아파트 옆   267   204
8037  201811   3538        3538. 서울숲 IT캐슬   112    97

[8038 rows x 5 columns]

In [37]:
data = pd.read_csv('C:/Users/psuny/Desktop/대학원/데이터/따릉이 데이터/정리 데이터/공공자전거 대여소 정보(21.06월 기준).csv')
data

,대여소 번호,보관소(대여소)명,자치구,상세주소,위도,경도,설치 시기,LCD 거치대수,QR 거치대수,운영 방식
0,102,망원역 1번출구 앞,마포구,서울특별시 마포구 월드컵로 72,37.555649,126.910629,2015-09-06,20.0,NaN,LCD
1,103,망원역 2번출구 앞,마포구,서울특별시 마포구 월드컵로 79,37.554951,126.910835,2015-09-06,14.0,NaN,LCD
2,104,합정역 1번출구 앞,마포구,서울특별시 마포구 양화로 59,37.550629,126.914986,2015-09-06,13.0,NaN,LCD
3,105,합정역 5번출구 앞,마포구,서울특별시 마포구 양화로 48,37.550007,126.914825,2015-09-06,5.0,NaN,LCD
4,106,합정역 7번출구 앞,마포구,서울특별시 마포구 독막로 4,37.548645,126.912826,2015-09-06,10.0,NaN,LCD
...,...,...,...,...,...,...,...,...,...,...
2462,4864,송파사거리,송파구,송파구 송파동 97-2,37.502056,127.110550,2021-04-27,NaN,6.0,QR
2463,4865,한성백제역 1번출구 뒤,송파구,송파구 방이동 45-4,37.516342,127.115593,2021-04-28,NaN,5.0,QR
2464,4867,가락대림아파트 앞,송파구,송파구 가락동 94-9,37.500027,127.118431,2021-04-28,NaN,10.0,QR
2465,4868,레이크 호텔 앞,송파구,송파구 석촌동 158,37.507172,127.101242,2021-05-18,NaN,7.0,QR
2466,4869,잠실나들목6,송파구,잠실동 24,37.516296,127.084610,2021-06-21,NaN,9.0,QR

In [39]:
data = data.drop(['보관소(대여소)명', '상세주소', '위도', '경도', '설치 시기', 'LCD 거치대수', 'QR 거치대수', '운영 방식'], axis = 1)
data

      대여소 번호  자치구
0        102  마포구
1        103  마포구
2        104  마포구
3        105  마포구
4        106  마포구
...      ...  ...
2462    4864  송파구
2463    4865  송파구
2464    4867  송파구
2465    4868  송파구
2466    4869  송파구

[2467 rows x 2 columns]

In [40]:
data_merge = pd.merge(data7, data, how = 'left', left_on = '대여소번호', right_on = '대여소 번호')
data_merge

        기준일자  대여소번호                  대여소명  대여건수  반납건수  대여소 번호  자치구
0     201806    101      101. (구)합정동 주민센터   832   807     NaN  NaN
1     201806    102       102. 망원역 1번출구 앞  2819  2568   102.0  마포구
2     201806    103       103. 망원역 2번출구 앞  1977  1769   103.0  마포구
3     201806    104       104. 합정역 1번출구 앞  1682  1610   104.0  마포구
4     201806    105       105. 합정역 5번출구 앞  1105   925   105.0  마포구
...      ...    ...                   ...   ...   ...     ...  ...
8033  201811   3534    3534. 건대입구역 5번출구 뒤  1278  1277  3534.0  광진구
8034  201811   3535     3535. 중곡사거리(국민은행)   459   519     NaN  NaN
8035  201811   3536       3536. 중앙농협(자양동)   545   535  3536.0  광진구
8036  201811   3537  3537. 아차산 휴먼시아 아파트 옆   267   204  3537.0  광진구
8037  201811   3538        3538. 서울숲 IT캐슬   112    97  3538.0  성동구

[8038 rows x 7 columns]

In [41]:
data_merge.isnull().sum()

기준일자        0
대여소번호       0
대여소명        0
대여건수        0
반납건수        0
대여소 번호    245
자치구       245
dtype: int64

- 결측치로 나오는 데이터는 대여소가 예전엔 있었는데 2021년 6월 이전에 없어진 곳. 추후 결측치 삭제 후 분석할 것

In [43]:
data_merge = data_merge.drop(['대여소번호', '대여소 번호'], axis = 1)
data_merge

        기준일자                  대여소명  대여건수  반납건수  자치구
0     201806      101. (구)합정동 주민센터   832   807  NaN
1     201806       102. 망원역 1번출구 앞  2819  2568  마포구
2     201806       103. 망원역 2번출구 앞  1977  1769  마포구
3     201806       104. 합정역 1번출구 앞  1682  1610  마포구
4     201806       105. 합정역 5번출구 앞  1105   925  마포구
...      ...                   ...   ...   ...  ...
8033  201811    3534. 건대입구역 5번출구 뒤  1278  1277  광진구
8034  201811     3535. 중곡사거리(국민은행)   459   519  NaN
8035  201811       3536. 중앙농협(자양동)   545   535  광진구
8036  201811  3537. 아차산 휴먼시아 아파트 옆   267   204  광진구
8037  201811        3538. 서울숲 IT캐슬   112    97  성동구

[8038 rows x 5 columns]

In [44]:
data_merge = data_merge.rename(columns = {'자치구' : '대여소위치'})
data_merge

        기준일자                  대여소명  대여건수  반납건수 대여소위치
0     201806      101. (구)합정동 주민센터   832   807   NaN
1     201806       102. 망원역 1번출구 앞  2819  2568   마포구
2     201806       103. 망원역 2번출구 앞  1977  1769   마포구
3     201806       104. 합정역 1번출구 앞  1682  1610   마포구
4     201806       105. 합정역 5번출구 앞  1105   925   마포구
...      ...                   ...   ...   ...   ...
8033  201811    3534. 건대입구역 5번출구 뒤  1278  1277   광진구
8034  201811     3535. 중곡사거리(국민은행)   459   519   NaN
8035  201811       3536. 중앙농협(자양동)   545   535   광진구
8036  201811  3537. 아차산 휴먼시아 아파트 옆   267   204   광진구
8037  201811        3538. 서울숲 IT캐슬   112    97   성동구

[8038 rows x 5 columns]

In [45]:
data_merge = data_merge[['대여소위치', '대여소명', '기준일자', '대여건수', '반납건수']]
data_merge

     대여소위치                  대여소명    기준일자  대여건수  반납건수
0      NaN      101. (구)합정동 주민센터  201806   832   807
1      마포구       102. 망원역 1번출구 앞  201806  2819  2568
2      마포구       103. 망원역 2번출구 앞  201806  1977  1769
3      마포구       104. 합정역 1번출구 앞  201806  1682  1610
4      마포구       105. 합정역 5번출구 앞  201806  1105   925
...    ...                   ...     ...   ...   ...
8033   광진구    3534. 건대입구역 5번출구 뒤  201811  1278  1277
8034   NaN     3535. 중곡사거리(국민은행)  201811   459   519
8035   광진구       3536. 중앙농협(자양동)  201811   545   535
8036   광진구  3537. 아차산 휴먼시아 아파트 옆  201811   267   204
8037   성동구        3538. 서울숲 IT캐슬  201811   112    97

[8038 rows x 5 columns]

In [48]:
data8 = pd.read_excel('C:/Users/psuny/Desktop/대학원/데이터/따릉이 데이터/원본 데이터/공공자전거 대여소별 월별 이용정보/서울특별시 공공자전거 대여소별 이용정보(월간)_2018_1_6.xlsx')
data8

        대여일자 대여소번호               대여소  대여건수  반납건수
0     201801   108           서교동 사거리   355   422
1     201801   503       더샵스타시티 C동 앞   287   256
2     201801   731      서울시 도로환경관리센터     0     4
3     201801   504         신자초교입구교차로   370   368
4     201801   740              으뜸공원     0     1
...      ...   ...               ...   ...   ...
7007  201806   722     LG전자베스트샵 신정점    875  1003
7008  201806   723            SBS방송국  1441  1610
7009  201806   724   계남공원 입구 주출입구 좌측   204   199
7010  201806   725        양강중학교앞 교차로   435   178
7011  201806   726     목동3단지 시내버스정류장   726   719

[7012 rows x 5 columns]

In [ ]:
#data8.to_excel('./서울특별시 공공자전거 대여소별 이용정보(월간)_2018_1_6.xlsx', index = False)

In [52]:
data8.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7012 entries, 0 to 7011
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   대여일자    7012 non-null   int64
 1   대여소번호   7003 non-null   object
 2   대여소     7003 non-null   object
 3   대여건수    7012 non-null   int64
 4   반납건수    7012 non-null   int64
dtypes: int64(3), object(2)
memory usage: 274.0+ KB

In [53]:
data8 = data8.dropna()
data8

        대여일자 대여소번호               대여소  대여건수  반납건수
0     201801   108           서교동 사거리   355   422
1     201801   503       더샵스타시티 C동 앞   287   256
2     201801   731      서울시 도로환경관리센터     0     4
3     201801   504         신자초교입구교차로   370   368
4     201801   740              으뜸공원     0     1
...      ...   ...               ...   ...   ...
7007  201806   722     LG전자베스트샵 신정점    875  1003
7008  201806   723            SBS방송국  1441  1610
7009  201806   724   계남공원 입구 주출입구 좌측   204   199
7010  201806   725        양강중학교앞 교차로   435   178
7011  201806   726     목동3단지 시내버스정류장   726   719

[7003 rows x 5 columns]

In [54]:
data8.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7003 entries, 0 to 7011
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   대여일자    7003 non-null   int64
 1   대여소번호   7003 non-null   object
 2   대여소     7003 non-null   object
 3   대여건수    7003 non-null   int64
 4   반납건수    7003 non-null   int64
dtypes: int64(3), object(2)
memory usage: 328.3+ KB

In [55]:
data_merge8 = pd.merge(data8, data, how = 'left', left_on = '대여소번호', right_on = '대여소 번호')
data_merge8

        대여일자 대여소번호               대여소  대여건수  반납건수  대여소 번호  자치구
0     201801   108           서교동 사거리   355   422   108.0  마포구
1     201801   503       더샵스타시티 C동 앞   287   256     NaN  NaN
2     201801   731      서울시 도로환경관리센터     0     4   731.0  양천구
3     201801   504         신자초교입구교차로   370   368     NaN  NaN
4     201801   740              으뜸공원     0     1   740.0  양천구
...      ...   ...               ...   ...   ...     ...  ...
6998  201806   722     LG전자베스트샵 신정점    875  1003   722.0  양천구
6999  201806   723            SBS방송국  1441  1610   723.0  양천구
7000  201806   724   계남공원 입구 주출입구 좌측   204   199   724.0  양천구
7001  201806   725        양강중학교앞 교차로   435   178   725.0  양천구
7002  201806   726     목동3단지 시내버스정류장   726   719   726.0  양천구

[7003 rows x 7 columns]

In [56]:
data_merge8.isnull().sum()

대여일자        0
대여소번호       0
대여소         0
대여건수        0
반납건수        0
대여소 번호    250
자치구       250
dtype: int64

In [57]:
data_merge8 = data_merge8.drop(['대여소번호', '대여소 번호'], axis = 1)
data_merge8

        대여일자               대여소  대여건수  반납건수  자치구
0     201801           서교동 사거리   355   422  마포구
1     201801       더샵스타시티 C동 앞   287   256  NaN
2     201801      서울시 도로환경관리센터     0     4  양천구
3     201801         신자초교입구교차로   370   368  NaN
4     201801              으뜸공원     0     1  양천구
...      ...               ...   ...   ...  ...
6998  201806     LG전자베스트샵 신정점    875  1003  양천구
6999  201806            SBS방송국  1441  1610  양천구
7000  201806   계남공원 입구 주출입구 좌측   204   199  양천구
7001  201806        양강중학교앞 교차로   435   178  양천구
7002  201806     목동3단지 시내버스정류장   726   719  양천구

[7003 rows x 5 columns]

In [58]:
data_merge8 = data_merge8.rename(columns = {'대여일자': '기준일자', '대여소' : '대여소명', '자치구' : '대여소위치'})
data_merge8

        기준일자              대여소명  대여건수  반납건수 대여소위치
0     201801           서교동 사거리   355   422   마포구
1     201801       더샵스타시티 C동 앞   287   256   NaN
2     201801      서울시 도로환경관리센터     0     4   양천구
3     201801         신자초교입구교차로   370   368   NaN
4     201801              으뜸공원     0     1   양천구
...      ...               ...   ...   ...   ...
6998  201806     LG전자베스트샵 신정점    875  1003   양천구
6999  201806            SBS방송국  1441  1610   양천구
7000  201806   계남공원 입구 주출입구 좌측   204   199   양천구
7001  201806        양강중학교앞 교차로   435   178   양천구
7002  201806     목동3단지 시내버스정류장   726   719   양천구

[7003 rows x 5 columns]

In [59]:
data_merge8 = data_merge8[['대여소위치', '대여소명', '기준일자', '대여건수', '반납건수']]
data_merge8

     대여소위치              대여소명    기준일자  대여건수  반납건수
0      마포구           서교동 사거리  201801   355   422
1      NaN       더샵스타시티 C동 앞  201801   287   256
2      양천구      서울시 도로환경관리센터  201801     0     4
3      NaN         신자초교입구교차로  201801   370   368
4      양천구              으뜸공원  201801     0     1
...    ...               ...     ...   ...   ...
6998   양천구     LG전자베스트샵 신정점   201806   875  1003
6999   양천구            SBS방송국  201806  1441  1610
7000   양천구   계남공원 입구 주출입구 좌측  201806   204   199
7001   양천구        양강중학교앞 교차로  201806   435   178
7002   양천구     목동3단지 시내버스정류장  201806   726   719

[7003 rows x 5 columns]

- data_merge8 2018.01
- data_merge 2018.06
- data1 2018.12
- data2 2019.06
- data3 2019.12
- data5 2020.06
- data4 2020.07
- data6 2021.02
합치기

In [60]:
df = data_merge8.append(data_merge, ignore_index = True) 
df

      대여소위치                  대여소명    기준일자  대여건수  반납건수
0       마포구               서교동 사거리  201801   355   422
1       NaN           더샵스타시티 C동 앞  201801   287   256
2       양천구          서울시 도로환경관리센터  201801     0     4
3       NaN             신자초교입구교차로  201801   370   368
4       양천구                  으뜸공원  201801     0     1
...     ...                   ...     ...   ...   ...
15036   광진구    3534. 건대입구역 5번출구 뒤  201811  1278  1277
15037   NaN     3535. 중곡사거리(국민은행)  201811   459   519
15038   광진구       3536. 중앙농협(자양동)  201811   545   535
15039   광진구  3537. 아차산 휴먼시아 아파트 옆  201811   267   204
15040   성동구        3538. 서울숲 IT캐슬  201811   112    97

[15041 rows x 5 columns]

In [61]:
df = df.append(data1, ignore_index = True)
df

      대여소위치                  대여소명      기준일자    대여건수    반납건수
0       마포구               서교동 사거리  201801.0   355.0   422.0
1       NaN           더샵스타시티 C동 앞  201801.0   287.0   256.0
2       양천구          서울시 도로환경관리센터  201801.0     0.0     4.0
3       NaN             신자초교입구교차로  201801.0   370.0   368.0
4       양천구                  으뜸공원  201801.0     0.0     1.0
...     ...                   ...       ...     ...     ...
24220   중랑구       1455. 상봉역 2번 출구  201905.0  1362.0  1300.0
24221   중랑구  1456. 상아빌딩(우림시장 교차로)  201905.0   826.0   867.0
24222   중랑구           1457. 동원사거리  201905.0   827.0   749.0
24223   중랑구          1458. 상봉터미널2  201905.0  1421.0  1492.0
24224   중랑구      1459. 용마한신아파트사거리  201905.0   447.0   320.0

[24225 rows x 5 columns]

In [62]:
df = df.append(data2, ignore_index = True)
df

      대여소위치                  대여소명      기준일자    대여건수    반납건수
0       마포구               서교동 사거리  201801.0   355.0   422.0
1       NaN           더샵스타시티 C동 앞  201801.0   287.0   256.0
2       양천구          서울시 도로환경관리센터  201801.0     0.0     4.0
3       NaN             신자초교입구교차로  201801.0   370.0   368.0
4       양천구                  으뜸공원  201801.0     0.0     1.0
...     ...                   ...       ...     ...     ...
33490   중랑구       1455. 상봉역 2번 출구  201911.0  1205.0  1193.0
33491   중랑구  1456. 상아빌딩(우림시장 교차로)  201911.0   764.0   860.0
33492   중랑구           1457. 동원사거리  201911.0   577.0   572.0
33493   중랑구          1458. 상봉터미널2  201911.0  1243.0  1305.0
33494   중랑구      1459. 용마한신아파트사거리  201911.0   339.0   316.0

[33495 rows x 5 columns]

In [63]:
df = df.append(data3, ignore_index = True)
df

      대여소위치                  대여소명      기준일자    대여건수    반납건수
0       마포구               서교동 사거리  201801.0   355.0   422.0
1       NaN           더샵스타시티 C동 앞  201801.0   287.0   256.0
2       양천구          서울시 도로환경관리센터  201801.0     0.0     4.0
3       NaN             신자초교입구교차로  201801.0   370.0   368.0
4       양천구                  으뜸공원  201801.0     0.0     1.0
...     ...                   ...       ...     ...     ...
43493   중랑구       1455. 상봉역 2번 출구  202005.0  1802.0  1823.0
43494   중랑구  1456. 상아빌딩(우림시장 교차로)  202005.0  1113.0  1179.0
43495   중랑구           1457. 동원사거리  202005.0   883.0   863.0
43496   중랑구          1458. 상봉터미널2  202005.0  2128.0  2162.0
43497   중랑구      1459. 용마한신아파트사거리  202005.0   432.0   433.0

[43498 rows x 5 columns]

In [64]:
df = df.append(data5, ignore_index = True)
df

      대여소위치                      대여소명      기준일자   대여건수   반납건수
0       마포구                   서교동 사거리  201801.0  355.0  422.0
1       NaN               더샵스타시티 C동 앞  201801.0  287.0  256.0
2       양천구              서울시 도로환경관리센터  201801.0    0.0    4.0
3       NaN                 신자초교입구교차로  201801.0  370.0  368.0
4       양천구                      으뜸공원  201801.0    0.0    1.0
...     ...                       ...       ...    ...    ...
45555   중랑구  1473.중랑역 1번 출구(중화문화복지센터)  202006.0   85.0   83.0
45556   중랑구            1477.면목삼익아파트 앞  202006.0   85.0   82.0
45557   중랑구           1478.홈플러스 상봉점 앞  202006.0  322.0  329.0
45558   중랑구            1479.면목 홈플러스 2  202006.0  150.0  166.0
45559   중랑구             1480. 용마지구대 옆  202006.0  235.0  243.0

[45560 rows x 5 columns]

In [65]:
df = df.append(data4, ignore_index = True)
df

      대여소위치             대여소명      기준일자   대여건수   반납건수
0       마포구          서교동 사거리  201801.0  355.0  422.0
1       NaN      더샵스타시티 C동 앞  201801.0  287.0  256.0
2       양천구     서울시 도로환경관리센터  201801.0    0.0    4.0
3       NaN        신자초교입구교차로  201801.0  370.0  368.0
4       양천구             으뜸공원  201801.0    0.0    1.0
...     ...              ...       ...    ...    ...
60309   중랑구     1474.서울중랑우체국  202101.0  315.0    NaN
60310   중랑구   1477.면목삼익아파트 앞  202101.0  159.0    NaN
60311   중랑구  1478.홈플러스 상봉점 앞  202101.0  427.0    NaN
60312   중랑구   1479.면목 홈플러스 2  202101.0  187.0    NaN
60313   중랑구    1480. 용마지구대 옆  202101.0  207.0    NaN

[60314 rows x 5 columns]

In [66]:
df = df.append(data6, ignore_index = True)
df

      대여소위치                 대여소명      기준일자    대여건수   반납건수
0       마포구              서교동 사거리  201801.0   355.0  422.0
1       NaN          더샵스타시티 C동 앞  201801.0   287.0  256.0
2       양천구         서울시 도로환경관리센터  201801.0     0.0    4.0
3       NaN            신자초교입구교차로  201801.0   370.0  368.0
4       양천구                 으뜸공원  201801.0     0.0    1.0
...     ...                  ...       ...     ...    ...
72085   중랑구     4811. 한양수자인아파트 앞  202106.0   260.0    NaN
72086   중랑구       4812. 묵동 이마트 앞  202106.0  1305.0    NaN
72087   중랑구      4813. 망우로 버거킹 앞  202106.0  1624.0    NaN
72088   중랑구     4815. 중랑데시앙플렉스 앞  202106.0   218.0    NaN
72089   중랑구  4819. 면목동 새싹어린이공원 앞  202106.0   661.0    NaN

[72090 rows x 5 columns]

In [67]:
df.to_excel('./공공자전거 대여소별 월별 이용정보.xlsx', index = False)