In [1]:
import pandas as pd
import numpy as np

import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

pd.set_option('display.max_columns', None)

mpl.rcParams['axes.unicode_minus'] = False
plt.rcParams['font.family'] = 'Malgun Gothic'


pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)

In [2]:
df_new1 = pd.read_csv('./data/file/공공자전거 대여이력_2020.06.csv', encoding='cp949')
df_new2 = pd.read_csv('./data/file/공공자전거 대여이력_2020.07.csv', encoding='cp949')
df_new3 = pd.read_csv('./data/file/공공자전거 대여이력_2020.08.csv', encoding='cp949')
df_new4 = pd.read_csv('./data/file/공공자전거 대여이력_2020.09.csv', encoding='cp949')
df_new5 = pd.read_csv('./data/file/공공자전거 대여이력_2020.10.csv', encoding='cp949')
df_new6 = pd.read_csv('./data/file/공공자전거 대여이력_2020.11.csv', encoding='cp949')
df_new7 = pd.read_csv('./data/file/공공자전거 대여이력_2020.12.csv', encoding='cp949')
df_new8 = pd.read_csv('./data/file/공공자전거 대여이력_2021.01.csv', encoding='cp949')
df_new9 = pd.read_csv('./data/file/공공자전거 대여이력_2021.02.csv', encoding='cp949')
df_new10 = pd.read_csv('./data/file/공공자전거 대여이력_2021.03.csv', encoding='cp949')
df_new11 = pd.read_csv('./data/file/공공자전거 대여이력_2021.04.csv', encoding='cp949')
df_new12 = pd.read_csv('./data/file/공공자전거 대여이력_2021.05.csv', encoding='cp949')

In [3]:
df_new = pd.merge(df_new1, df_new2, 
                  on = ['자전거번호', '대여일시', '대여대여소번호', '대여대여소명', '대여거치대', 
                        '반납일시', '반납대여소번호', '반납대여소명', '반납거치대', '이용시간', '이용거리'],how='outer')
df_new = pd.merge(df_new, df_new3, 
                  on = ['자전거번호', '대여일시', '대여대여소번호', '대여대여소명', '대여거치대', 
                        '반납일시', '반납대여소번호', '반납대여소명', '반납거치대', '이용시간', '이용거리'],how='outer')
df_new = pd.merge(df_new, df_new4, 
                  on = ['자전거번호', '대여일시', '대여대여소번호', '대여대여소명', '대여거치대', 
                        '반납일시', '반납대여소번호', '반납대여소명', '반납거치대', '이용시간', '이용거리'],how='outer')
df_new = pd.merge(df_new, df_new5, 
                  on = ['자전거번호', '대여일시', '대여대여소번호', '대여대여소명', '대여거치대', 
                        '반납일시', '반납대여소번호', '반납대여소명', '반납거치대', '이용시간', '이용거리'],how='outer')
df_new = pd.merge(df_new, df_new6, 
                  on = ['자전거번호', '대여일시', '대여대여소번호', '대여대여소명', '대여거치대', 
                        '반납일시', '반납대여소번호', '반납대여소명', '반납거치대', '이용시간', '이용거리'],how='outer')
df_new = pd.merge(df_new, df_new7, 
                  on = ['자전거번호', '대여일시', '대여대여소번호', '대여대여소명', '대여거치대', 
                        '반납일시', '반납대여소번호', '반납대여소명', '반납거치대', '이용시간', '이용거리'],how='outer')
df_new = pd.merge(df_new, df_new8, 
                  on = ['자전거번호', '대여일시', '대여대여소번호', '대여대여소명', '대여거치대', 
                        '반납일시', '반납대여소번호', '반납대여소명', '반납거치대', '이용시간', '이용거리'],how='outer')
df_new = pd.merge(df_new, df_new9, 
                  on = ['자전거번호', '대여일시', '대여대여소번호', '대여대여소명', '대여거치대', 
                        '반납일시', '반납대여소번호', '반납대여소명', '반납거치대', '이용시간', '이용거리'],how='outer')
df_new = pd.merge(df_new, df_new10, 
                  on = ['자전거번호', '대여일시', '대여대여소번호', '대여대여소명', '대여거치대', 
                        '반납일시', '반납대여소번호', '반납대여소명', '반납거치대', '이용시간', '이용거리'],how='outer')
df_new = pd.merge(df_new, df_new11, 
                  on = ['자전거번호', '대여일시', '대여대여소번호', '대여대여소명', '대여거치대', 
                        '반납일시', '반납대여소번호', '반납대여소명', '반납거치대', '이용시간', '이용거리'],how='outer')
df_new = pd.merge(df_new, df_new12, 
                  on = ['자전거번호', '대여일시', '대여대여소번호', '대여대여소명', '대여거치대', 
                        '반납일시', '반납대여소번호', '반납대여소명', '반납거치대', '이용시간', '이용거리'],how='outer')
df_new

,자전거번호,대여일시,대여대여소번호,대여대여소명,대여거치대,반납일시,반납대여소번호,반납대여소명,반납거치대,이용시간,이용거리
0,SPB-36260,2020-06-01 00:00:35,1681,현대6차 아파트,0,2020-06-01 00:05:24,1665,양지근린공원앞,0,5,0.00
1,SPB-36146,2020-06-01 00:01:47,816,신용산역 6번출구 앞,0,2020-06-01 00:05:54,829,베르가모앞,0,4,0.00
2,SPB-33273,2020-06-01 00:03:05,1050,둔촌역 3번 출입구,0,2020-06-01 00:05:59,1078,둔촌사거리,0,3,0.00
3,SPB-35969,2020-06-01 00:04:31,1209,잠실나루역 (2번 출구 쪽),0,2020-06-01 00:06:10,1209,잠실나루역 (2번 출구 쪽),0,2,0.00
4,SPB-30703,2020-06-01 00:00:46,1132,등촌역 7번출구,0,2020-06-01 00:06:53,1169,염창역 1번 출구,0,6,0.00
...,...,...,...,...,...,...,...,...,...,...,...
25968004,SPB-31282,2021-05-31 23:48:22,2190,도원맨션,0,2021-05-31 23:59:57,2102,봉림교 교통섬,0,11,1145.32
25968005,SPB-50316,2021-05-31 23:55:04,1106,신방화사거리,0,2021-05-31 23:59:57,1103,방화역 4번출구앞,0,4,639.19
25968006,SPB-44035,2021-05-31 23:51:12,1627,수락산역 4번출구,0,2021-05-31 23:59:58,1727,서울도봉초등학교인근,0,8,1383.25
25968007,SPB-50409,2021-05-31 23:31:37,1008,암사역 3번출구(국민은행앞),0,2021-05-31 23:59:58,544,광남중학교,0,28,3234.21
25968008,SPB-55881,2021-05-31 23:51:36,2377,수서역 5번출구 뒤,0,2021-05-31 23:59:58,1257,가락시장역 롯데마트앞,0,8,1430.00

In [4]:
df = df_new[~df_new['대여대여소명'].str.contains('\?')]
df

,자전거번호,대여일시,대여대여소번호,대여대여소명,대여거치대,반납일시,반납대여소번호,반납대여소명,반납거치대,이용시간,이용거리
0,SPB-36260,2020-06-01 00:00:35,1681,현대6차 아파트,0,2020-06-01 00:05:24,1665,양지근린공원앞,0,5,0.00
1,SPB-36146,2020-06-01 00:01:47,816,신용산역 6번출구 앞,0,2020-06-01 00:05:54,829,베르가모앞,0,4,0.00
2,SPB-33273,2020-06-01 00:03:05,1050,둔촌역 3번 출입구,0,2020-06-01 00:05:59,1078,둔촌사거리,0,3,0.00
3,SPB-35969,2020-06-01 00:04:31,1209,잠실나루역 (2번 출구 쪽),0,2020-06-01 00:06:10,1209,잠실나루역 (2번 출구 쪽),0,2,0.00
4,SPB-30703,2020-06-01 00:00:46,1132,등촌역 7번출구,0,2020-06-01 00:06:53,1169,염창역 1번 출구,0,6,0.00
...,...,...,...,...,...,...,...,...,...,...,...
25968004,SPB-31282,2021-05-31 23:48:22,2190,도원맨션,0,2021-05-31 23:59:57,2102,봉림교 교통섬,0,11,1145.32
25968005,SPB-50316,2021-05-31 23:55:04,1106,신방화사거리,0,2021-05-31 23:59:57,1103,방화역 4번출구앞,0,4,639.19
25968006,SPB-44035,2021-05-31 23:51:12,1627,수락산역 4번출구,0,2021-05-31 23:59:58,1727,서울도봉초등학교인근,0,8,1383.25
25968007,SPB-50409,2021-05-31 23:31:37,1008,암사역 3번출구(국민은행앞),0,2021-05-31 23:59:58,544,광남중학교,0,28,3234.21
25968008,SPB-55881,2021-05-31 23:51:36,2377,수서역 5번출구 뒤,0,2021-05-31 23:59:58,1257,가락시장역 롯데마트앞,0,8,1430.00

In [5]:
df_new = df[~df['반납대여소명'].str.contains('\?')]
df_new

,자전거번호,대여일시,대여대여소번호,대여대여소명,대여거치대,반납일시,반납대여소번호,반납대여소명,반납거치대,이용시간,이용거리
0,SPB-36260,2020-06-01 00:00:35,1681,현대6차 아파트,0,2020-06-01 00:05:24,1665,양지근린공원앞,0,5,0.00
1,SPB-36146,2020-06-01 00:01:47,816,신용산역 6번출구 앞,0,2020-06-01 00:05:54,829,베르가모앞,0,4,0.00
2,SPB-33273,2020-06-01 00:03:05,1050,둔촌역 3번 출입구,0,2020-06-01 00:05:59,1078,둔촌사거리,0,3,0.00
3,SPB-35969,2020-06-01 00:04:31,1209,잠실나루역 (2번 출구 쪽),0,2020-06-01 00:06:10,1209,잠실나루역 (2번 출구 쪽),0,2,0.00
4,SPB-30703,2020-06-01 00:00:46,1132,등촌역 7번출구,0,2020-06-01 00:06:53,1169,염창역 1번 출구,0,6,0.00
...,...,...,...,...,...,...,...,...,...,...,...
25968004,SPB-31282,2021-05-31 23:48:22,2190,도원맨션,0,2021-05-31 23:59:57,2102,봉림교 교통섬,0,11,1145.32
25968005,SPB-50316,2021-05-31 23:55:04,1106,신방화사거리,0,2021-05-31 23:59:57,1103,방화역 4번출구앞,0,4,639.19
25968006,SPB-44035,2021-05-31 23:51:12,1627,수락산역 4번출구,0,2021-05-31 23:59:58,1727,서울도봉초등학교인근,0,8,1383.25
25968007,SPB-50409,2021-05-31 23:31:37,1008,암사역 3번출구(국민은행앞),0,2021-05-31 23:59:58,544,광남중학교,0,28,3234.21
25968008,SPB-55881,2021-05-31 23:51:36,2377,수서역 5번출구 뒤,0,2021-05-31 23:59:58,1257,가락시장역 롯데마트앞,0,8,1430.00

In [6]:
df_new = df_new.drop(['자전거번호', '대여거치대', '반납거치대', '이용거리'], axis = 1)
df_new.head()

,대여일시,대여대여소번호,대여대여소명,반납일시,반납대여소번호,반납대여소명,이용시간
0,2020-06-01 00:00:35,1681,현대6차 아파트,2020-06-01 00:05:24,1665,양지근린공원앞,5
1,2020-06-01 00:01:47,816,신용산역 6번출구 앞,2020-06-01 00:05:54,829,베르가모앞,4
2,2020-06-01 00:03:05,1050,둔촌역 3번 출입구,2020-06-01 00:05:59,1078,둔촌사거리,3
3,2020-06-01 00:04:31,1209,잠실나루역 (2번 출구 쪽),2020-06-01 00:06:10,1209,잠실나루역 (2번 출구 쪽),2
4,2020-06-01 00:00:46,1132,등촌역 7번출구,2020-06-01 00:06:53,1169,염창역 1번 출구,6

In [7]:
df = df_new.copy()

In [8]:
df['대여일시'] = pd.to_datetime(df['대여일시'])
df['반납일시'] = pd.to_datetime(df['반납일시'])

df['대여년'] = df['대여일시'].dt.year
df['대여월'] = df['대여일시'].dt.month
df['대여일'] = df['대여일시'].dt.day
df['대여요일'] = df['대여일시'].dt.dayofweek
df['대여시간'] = df['대여일시'].dt.hour
df['대여시간_분'] = df['대여일시'].dt.minute

df['반납년'] = df['반납일시'].dt.year
df['반납월'] = df['반납일시'].dt.month
df['반납일'] = df['반납일시'].dt.day
df['반납요일'] = df['반납일시'].dt.dayofweek
df['반납시간'] = df['반납일시'].dt.hour
df['반납시간_분'] = df['반납일시'].dt.minute

In [9]:
df = df.sort_values('대여일시', ignore_index = True)
df.head()

,대여일시,대여대여소번호,대여대여소명,반납일시,반납대여소번호,반납대여소명,이용시간,대여년,대여월,대여일,대여요일,대여시간,대여시간_분,반납년,반납월,반납일,반납요일,반납시간,반납시간_분
0,2020-06-01 00:00:00,106,합정역 7번출구 앞,2020-06-01 00:41:00,830,청암자이아파트앞,40,2020,6,1,0,0,0,2020,6,1,0,0,41
1,2020-06-01 00:00:16,956,응암시장교차로,2020-06-01 00:08:25,939,은평구청 교차로,7,2020,6,1,0,0,0,2020,6,1,0,0,8
2,2020-06-01 00:00:24,2340,삼호물산버스정류장(23370) 옆,2020-06-01 00:14:50,2263,바우뫼문화복지회관,13,2020,6,1,0,0,0,2020,6,1,0,0,14
3,2020-06-01 00:00:26,1057,능골근린공원,2020-06-01 00:07:13,1057,능골근린공원,7,2020,6,1,0,0,0,2020,6,1,0,0,7
4,2020-06-01 00:00:32,3511,응봉역 1번출구,2020-06-01 00:21:38,362,청계8가 사거리,21,2020,6,1,0,0,0,2020,6,1,0,0,21

In [10]:
df_rental = df[['대여일시', '대여대여소명','대여대여소번호', '대여년', '대여월', '대여일', '대여요일', '대여시간', '대여시간_분']]
df_rental.reset_index(drop = True, inplace = True)
df_rental.head()

,대여일시,대여대여소명,대여대여소번호,대여년,대여월,대여일,대여요일,대여시간,대여시간_분
0,2020-06-01 00:00:00,합정역 7번출구 앞,106,2020,6,1,0,0,0
1,2020-06-01 00:00:16,응암시장교차로,956,2020,6,1,0,0,0
2,2020-06-01 00:00:24,삼호물산버스정류장(23370) 옆,2340,2020,6,1,0,0,0
3,2020-06-01 00:00:26,능골근린공원,1057,2020,6,1,0,0,0
4,2020-06-01 00:00:32,응봉역 1번출구,3511,2020,6,1,0,0,0

In [11]:
df_rental2 = df_rental.groupby(['대여대여소명','대여대여소번호', '대여년', '대여월', '대여일', '대여시간']).size().reset_index().rename(columns = {0 : 'rent_count'})
df_rental2

                대여대여소명  대여대여소번호   대여년  대여월  대여일  대여시간  rent_count
0        (구)신한은행 중랑교지점     1442  2020    6    1     0           1
1        (구)신한은행 중랑교지점     1442  2020    6    1     2           1
2        (구)신한은행 중랑교지점     1442  2020    6    1     5           2
3        (구)신한은행 중랑교지점     1442  2020    6    1     6           1
4        (구)신한은행 중랑교지점     1442  2020    6    1     7           4
...                ...      ...   ...  ...  ...   ...         ...
8908123        힐스테이트에코     2720  2021    5   31    18          16
8908124        힐스테이트에코     2720  2021    5   31    19          15
8908125        힐스테이트에코     2720  2021    5   31    20          20
8908126        힐스테이트에코     2720  2021    5   31    21          27
8908127        힐스테이트에코     2720  2021    5   31    22          11

[8908128 rows x 7 columns]

In [12]:
df_rental2['mu_15'] = df_rental2['rent_count'] # 1시간단위
df_rental2

                대여대여소명  대여대여소번호   대여년  대여월  대여일  대여시간  rent_count  mu_15
0        (구)신한은행 중랑교지점     1442  2020    6    1     0           1      1
1        (구)신한은행 중랑교지점     1442  2020    6    1     2           1      1
2        (구)신한은행 중랑교지점     1442  2020    6    1     5           2      2
3        (구)신한은행 중랑교지점     1442  2020    6    1     6           1      1
4        (구)신한은행 중랑교지점     1442  2020    6    1     7           4      4
...                ...      ...   ...  ...  ...   ...         ...    ...
8908123        힐스테이트에코     2720  2021    5   31    18          16     16
8908124        힐스테이트에코     2720  2021    5   31    19          15     15
8908125        힐스테이트에코     2720  2021    5   31    20          20     20
8908126        힐스테이트에코     2720  2021    5   31    21          27     27
8908127        힐스테이트에코     2720  2021    5   31    22          11     11

[8908128 rows x 8 columns]

In [13]:
df_return = df[['반납일시', '반납대여소명', '반납대여소번호','반납년', '반납월', '반납일', '반납요일', '반납시간', '반납시간_분']]
df_return.reset_index(drop = True, inplace = True)
df_return

,반납일시,반납대여소명,반납대여소번호,반납년,반납월,반납일,반납요일,반납시간,반납시간_분
0,2020-06-01 00:41:00,청암자이아파트앞,830,2020,6,1,0,0,41
1,2020-06-01 00:08:25,은평구청 교차로,939,2020,6,1,0,0,8
2,2020-06-01 00:14:50,바우뫼문화복지회관,2263,2020,6,1,0,0,14
3,2020-06-01 00:07:13,능골근린공원,1057,2020,6,1,0,0,7
4,2020-06-01 00:21:38,청계8가 사거리,362,2020,6,1,0,0,21
...,...,...,...,...,...,...,...,...,...
25924496,2021-05-31 23:59:57,방화역 4번출구앞,1103,2021,5,31,0,23,59
25924497,2021-05-31 23:59:27,석촌호교차로 (스타벅스 앞),1293,2021,5,31,0,23,59
25924498,2021-05-31 23:59:27,도봉세무서 앞,1560,2021,5,31,0,23,59
25924499,2021-05-31 23:58:12,동대문롯데캐슬아파트 앞,657,2021,5,31,0,23,58
25924500,2021-05-31 23:59:45,당고개입구오거리 당현천변,4004,2021,5,31,0,23,59

In [14]:
df_c = pd.DataFrame(df_return[['반납대여소명','반납대여소번호','반납년', '반납월', '반납일', '반납시간']].value_counts()).rename(columns = {0 : 'return_count'}).reset_index()
df_c.reset_index(drop=True, inplace = True)
df_c['lambda15'] = df_c['return_count']     # 1시간단위
df_c.columns = ['대여소명','대여소번호','년', '월','일', '시간','return_count','lambda15']
df_c

                    대여소명  대여소번호     년   월   일  시간  return_count  lambda15
0          뚝섬유원지역 1번출구 앞    502  2021   5   2  17           262       262
1          뚝섬유원지역 1번출구 앞    502  2021   5   5  18           248       248
2          뚝섬유원지역 1번출구 앞    502  2021   5   2  16           246       246
3          뚝섬유원지역 1번출구 앞    502  2021   5   5  17           235       235
4           여의나루역 1번출구 앞    207  2021   5   5  17           230       230
...                  ...    ...   ...  ..  ..  ..           ...       ...
8796837  상암월드컵파크 1단지 교차로    416  2021   4   1  12             1         1
8796838  상암월드컵파크 1단지 교차로    416  2021   3  31  19             1         1
8796839  상암월드컵파크 1단지 교차로    416  2021   3  31  13             1         1
8796840  상암월드컵파크 1단지 교차로    416  2021   3  31   9             1         1
8796841         서울대학교 정문   2178  2020  11  12  16             1         1

[8796842 rows x 8 columns]

In [15]:
return_ubound = pd.DataFrame(df_c.groupby(['대여소명','대여소번호'])['return_count'].agg(lambda x : np.floor(np.percentile(x,75)+(np.percentile(x,75)-np.percentile(x,25))*1.5))).reset_index().rename(columns = {'return_count' : 'upperbound'})
return_ubound.head()

            대여소명  대여소번호  upperbound
0  (구)신한은행 중랑교지점   1442         8.0
1    (구)합정동 주민센터    101         3.0
2    (시립)고덕평생학습관   1070         3.0
3   (재)FITI시험연구원   2724         8.0
4  3호선 매봉역 3번출구앞   2335         6.0

In [16]:
df_rental2.columns = ['대여소명','대여소번호','년', '월','일', '시간', 'rent_count','mu_15']
df = pd.merge(df_c, df_rental2, on=['대여소명','대여소번호','년', '월','일','시간'], how='outer')
df.tail()

,대여소명,대여소번호,년,월,일,시간,return_count,lambda15,rent_count,mu_15
11224155,힐스테이트에코,2720,2021,5,30,0,NaN,NaN,1.0,1.0
11224156,힐스테이트에코,2720,2021,5,30,19,NaN,NaN,1.0,1.0
11224157,힐스테이트에코,2720,2021,5,30,21,NaN,NaN,1.0,1.0
11224158,힐스테이트에코,2720,2021,5,31,6,NaN,NaN,2.0,2.0
11224159,힐스테이트에코,2720,2021,5,31,7,NaN,NaN,3.0,3.0

In [17]:
df1 = df[df['월'] == 1].reset_index(drop = True)
stops = df[['대여소명','대여소번호']].drop_duplicates().reset_index(drop=True)
Dayhour = pd.DataFrame({'년':np.repeat(2021, 24*31*len(stops)),'월':np.repeat(1, 24*31*len(stops)),'일':np.repeat(np.arange(1,32), 24*len(stops)), '시간':np.tile(np.repeat(np.arange(24), len(stops)),31)})
stops2 = pd.concat([stops] * 24*31).reset_index(drop=True)
Dayhour_frame1 = pd.concat([stops2,Dayhour],axis=1)

In [18]:
df2 = df[df['월'] == 2].reset_index(drop = True)
stops = df[['대여소명','대여소번호']].drop_duplicates().reset_index(drop=True)
Dayhour = pd.DataFrame({'년':np.repeat(2021, 24*28*len(stops)),'월':np.repeat(2, 24*28*len(stops)),'일':np.repeat(np.arange(1,29), 24*len(stops)), '시간':np.tile(np.repeat(np.arange(24), len(stops)),28)})
stops2 = pd.concat([stops] * 24*28).reset_index(drop=True)
Dayhour_frame2= pd.concat([stops2,Dayhour],axis=1)

In [19]:
df3 = df[df['월'] == 3].reset_index(drop = True)
stops = df[['대여소명','대여소번호']].drop_duplicates().reset_index(drop=True)
Dayhour = pd.DataFrame({'년':np.repeat(2021, 24*31*len(stops)),'월':np.repeat(3, 24*31*len(stops)),'일':np.repeat(np.arange(1,32), 24*len(stops)), '시간':np.tile(np.repeat(np.arange(24), len(stops)),31)})
stops2 = pd.concat([stops] * 24*31).reset_index(drop=True)
Dayhour_frame3 = pd.concat([stops2,Dayhour],axis=1)

In [20]:
df4 = df[df['월'] == 4].reset_index(drop = True)
stops = df[['대여소명','대여소번호']].drop_duplicates().reset_index(drop=True)
Dayhour = pd.DataFrame({'년':np.repeat(2021, 24*30*len(stops)),'월':np.repeat(4, 24*30*len(stops)),'일':np.repeat(np.arange(1,31), 24*len(stops)), '시간':np.tile(np.repeat(np.arange(24), len(stops)),30)})
stops2 = pd.concat([stops] * 24*30).reset_index(drop=True)
Dayhour_frame4 = pd.concat([stops2,Dayhour],axis=1)

In [21]:
df5 = df[df['월'] == 5].reset_index(drop = True)
stops = df[['대여소명','대여소번호']].drop_duplicates().reset_index(drop=True)
Dayhour = pd.DataFrame({'년':np.repeat(2021, 24*31*len(stops)),'월':np.repeat(5, 24*31*len(stops)),'일':np.repeat(np.arange(1,32), 24*len(stops)), '시간':np.tile(np.repeat(np.arange(24), len(stops)),31)})
stops2 = pd.concat([stops] * 24*31).reset_index(drop=True)
Dayhour_frame5 = pd.concat([stops2,Dayhour],axis=1)

In [22]:
df6 = df[df['월'] == 6].reset_index(drop = True)
stops = df[['대여소명','대여소번호']].drop_duplicates().reset_index(drop=True)
Dayhour = pd.DataFrame({'년':np.repeat(2020, 24*30*len(stops)),'월':np.repeat(6, 24*30*len(stops)), '일':np.repeat(np.arange(1,31), 24*len(stops)), '시간':np.tile(np.repeat(np.arange(24), len(stops)),30)})
stops2 = pd.concat([stops] * 24*30).reset_index(drop=True)
Dayhour_frame6 = pd.concat([stops2,Dayhour],axis=1)

In [23]:
df7 = df[df['월'] == 7].reset_index(drop = True)
stops = df[['대여소명','대여소번호']].drop_duplicates().reset_index(drop=True)
Dayhour = pd.DataFrame({'년':np.repeat(2020, 24*31*len(stops)),'월':np.repeat(7, 24*31*len(stops)),'일':np.repeat(np.arange(1,32), 24*len(stops)), '시간':np.tile(np.repeat(np.arange(24), len(stops)),31)})
stops2 = pd.concat([stops] * 24*31).reset_index(drop=True)
Dayhour_frame7 = pd.concat([stops2,Dayhour],axis=1)

In [24]:
df8 = df[df['월'] == 8].reset_index(drop = True)
stops = df[['대여소명','대여소번호']].drop_duplicates().reset_index(drop=True)
Dayhour = pd.DataFrame({'년':np.repeat(2020, 24*31*len(stops)),'월':np.repeat(8, 24*31*len(stops)),'일':np.repeat(np.arange(1,32), 24*len(stops)), '시간':np.tile(np.repeat(np.arange(24), len(stops)),31)})
stops2 = pd.concat([stops] * 24*31).reset_index(drop=True)
Dayhour_frame8 = pd.concat([stops2,Dayhour],axis=1)

In [25]:
df9 = df[df['월'] == 9].reset_index(drop = True)
stops = df[['대여소명','대여소번호']].drop_duplicates().reset_index(drop=True)
Dayhour = pd.DataFrame({'년':np.repeat(2020, 24*30*len(stops)),'월':np.repeat(9, 24*30*len(stops)),'일':np.repeat(np.arange(1,31), 24*len(stops)), '시간':np.tile(np.repeat(np.arange(24), len(stops)),30)})
stops2 = pd.concat([stops] * 24*30).reset_index(drop=True)
Dayhour_frame9 = pd.concat([stops2,Dayhour],axis=1)

In [26]:
df10 = df[df['월'] == 10].reset_index(drop = True)
stops = df[['대여소명','대여소번호']].drop_duplicates().reset_index(drop=True)
Dayhour = pd.DataFrame({'년':np.repeat(2020, 24*31*len(stops)),'월':np.repeat(10, 24*31*len(stops)), '일':np.repeat(np.arange(1,32), 24*len(stops)), '시간':np.tile(np.repeat(np.arange(24), len(stops)),31)})
stops2 = pd.concat([stops] * 24*31).reset_index(drop=True)
Dayhour_frame10 = pd.concat([stops2,Dayhour],axis=1)

In [27]:
df11 = df[df['월'] == 11].reset_index(drop = True)
stops = df[['대여소명','대여소번호']].drop_duplicates().reset_index(drop=True)
Dayhour = pd.DataFrame({'년':np.repeat(2020, 24*30*len(stops)),'월':np.repeat(11, 24*30*len(stops)),'일':np.repeat(np.arange(1,31), 24*len(stops)), '시간':np.tile(np.repeat(np.arange(24), len(stops)),30)})
stops2 = pd.concat([stops] * 24*30).reset_index(drop=True)
Dayhour_frame11 = pd.concat([stops2,Dayhour],axis=1)

In [28]:
df12 = df[df['월'] == 12].reset_index(drop = True)
stops = df[['대여소명','대여소번호']].drop_duplicates().reset_index(drop=True)
Dayhour = pd.DataFrame({'년':np.repeat(2020, 24*31*len(stops)),'월':np.repeat(12, 24*31*len(stops)),'일':np.repeat(np.arange(1,32), 24*len(stops)), '시간':np.tile(np.repeat(np.arange(24), len(stops)),31)})
stops2 = pd.concat([stops] * 24*31).reset_index(drop=True)
Dayhour_frame12 = pd.concat([stops2,Dayhour],axis=1)

In [29]:
df = pd.merge(df,Dayhour_frame1, on = ['대여소명','대여소번호','년', '월', '일', '시간'],how='outer')
df = pd.merge(df,Dayhour_frame2, on = ['대여소명','대여소번호','년', '월', '일', '시간'],how='outer')
df = pd.merge(df,Dayhour_frame3, on = ['대여소명','대여소번호','년', '월', '일', '시간'],how='outer')
df = pd.merge(df,Dayhour_frame4, on = ['대여소명','대여소번호','년', '월', '일', '시간'],how='outer')
df = pd.merge(df,Dayhour_frame5, on = ['대여소명','대여소번호','년', '월', '일', '시간'],how='outer')
df = pd.merge(df,Dayhour_frame6, on = ['대여소명','대여소번호','년', '월', '일', '시간'],how='outer')
df = pd.merge(df,Dayhour_frame7, on = ['대여소명','대여소번호','년', '월', '일', '시간'],how='outer')
df = pd.merge(df,Dayhour_frame8, on = ['대여소명','대여소번호','년', '월', '일', '시간'],how='outer')
df = pd.merge(df,Dayhour_frame9, on = ['대여소명','대여소번호','년', '월', '일', '시간'],how='outer')
df = pd.merge(df,Dayhour_frame10, on = ['대여소명','대여소번호','년', '월', '일', '시간'],how='outer')
df = pd.merge(df,Dayhour_frame11, on = ['대여소명','대여소번호','년', '월', '일', '시간'],how='outer')
df = pd.merge(df,Dayhour_frame12, on = ['대여소명','대여소번호','년', '월', '일', '시간'],how='outer')
df

,대여소명,대여소번호,년,월,일,시간,return_count,lambda15,rent_count,mu_15
0,뚝섬유원지역 1번출구 앞,502,2021,5,2,17,262.0,262.0,119.0,119.0
1,뚝섬유원지역 1번출구 앞,502,2021,5,5,18,248.0,248.0,145.0,145.0
2,뚝섬유원지역 1번출구 앞,502,2021,5,2,16,246.0,246.0,194.0,194.0
3,뚝섬유원지역 1번출구 앞,502,2021,5,5,17,235.0,235.0,182.0,182.0
4,여의나루역 1번출구 앞,207,2021,5,5,17,230.0,230.0,185.0,185.0
...,...,...,...,...,...,...,...,...,...,...
21698515,골마을 근린공원,2918,2020,12,31,23,NaN,NaN,NaN,NaN
21698516,소피아 관광호텔 앞,1766,2020,12,31,23,NaN,NaN,NaN,NaN
21698517,신림동주민센터,2180,2020,12,31,23,NaN,NaN,NaN,NaN
21698518,서남물재생센터 버스정류장,1114,2020,12,31,23,NaN,NaN,NaN,NaN
21698519,상암단말정비,99998,2020,12,31,23,NaN,NaN,NaN,NaN

In [30]:
df = pd.merge(df, return_ubound, on=['대여소명','대여소번호'], how='outer')
df.fillna(0, inplace=True)
df

,대여소명,대여소번호,년,월,일,시간,return_count,lambda15,rent_count,mu_15,upperbound
0,뚝섬유원지역 1번출구 앞,502,2021,5,2,17,262.0,262.0,119.0,119.0,49.0
1,뚝섬유원지역 1번출구 앞,502,2021,5,5,18,248.0,248.0,145.0,145.0,49.0
2,뚝섬유원지역 1번출구 앞,502,2021,5,2,16,246.0,246.0,194.0,194.0,49.0
3,뚝섬유원지역 1번출구 앞,502,2021,5,5,17,235.0,235.0,182.0,182.0,49.0
4,뚝섬유원지역 1번출구 앞,502,2021,5,5,16,230.0,230.0,179.0,179.0,49.0
...,...,...,...,...,...,...,...,...,...,...,...
21698515,상암단말정비,99998,2020,12,31,19,0.0,0.0,0.0,0.0,1.0
21698516,상암단말정비,99998,2020,12,31,20,0.0,0.0,0.0,0.0,1.0
21698517,상암단말정비,99998,2020,12,31,21,0.0,0.0,0.0,0.0,1.0
21698518,상암단말정비,99998,2020,12,31,22,0.0,0.0,0.0,0.0,1.0
21698519,상암단말정비,99998,2020,12,31,23,0.0,0.0,0.0,0.0,1.0

In [31]:
df = df.sort_values(['대여소명', '대여소번호','년', '월', '일', '시간'], ignore_index = True)
df

,대여소명,대여소번호,년,월,일,시간,return_count,lambda15,rent_count,mu_15,upperbound
0,(구)신한은행 중랑교지점,1442,2020,6,1,0,1.0,1.0,1.0,1.0,8.0
1,(구)신한은행 중랑교지점,1442,2020,6,1,1,1.0,1.0,0.0,0.0,8.0
2,(구)신한은행 중랑교지점,1442,2020,6,1,2,3.0,3.0,1.0,1.0,8.0
3,(구)신한은행 중랑교지점,1442,2020,6,1,3,0.0,0.0,0.0,0.0,8.0
4,(구)신한은행 중랑교지점,1442,2020,6,1,4,1.0,1.0,0.0,0.0,8.0
...,...,...,...,...,...,...,...,...,...,...,...
21698515,힐스테이트에코,2720,2021,5,31,19,7.0,7.0,15.0,15.0,9.0
21698516,힐스테이트에코,2720,2021,5,31,20,8.0,8.0,20.0,20.0,9.0
21698517,힐스테이트에코,2720,2021,5,31,21,4.0,4.0,27.0,27.0,9.0
21698518,힐스테이트에코,2720,2021,5,31,22,7.0,7.0,11.0,11.0,9.0
21698519,힐스테이트에코,2720,2021,5,31,23,0.0,0.0,0.0,0.0,9.0

In [32]:
df = df.drop(['return_count', 'rent_count'], axis = 1)
df = df.rename(columns = {'lambda15' : 'lambda_15', 'upperbound' : 'c'})
df

                   대여소명  대여소번호     년  월   일  시간  lambda_15  mu_15    c
0         (구)신한은행 중랑교지점   1442  2020  6   1   0        1.0    1.0  8.0
1         (구)신한은행 중랑교지점   1442  2020  6   1   1        1.0    0.0  8.0
2         (구)신한은행 중랑교지점   1442  2020  6   1   2        3.0    1.0  8.0
3         (구)신한은행 중랑교지점   1442  2020  6   1   3        0.0    0.0  8.0
4         (구)신한은행 중랑교지점   1442  2020  6   1   4        1.0    0.0  8.0
...                 ...    ...   ... ..  ..  ..        ...    ...  ...
21698515        힐스테이트에코   2720  2021  5  31  19        7.0   15.0  9.0
21698516        힐스테이트에코   2720  2021  5  31  20        8.0   20.0  9.0
21698517        힐스테이트에코   2720  2021  5  31  21        4.0   27.0  9.0
21698518        힐스테이트에코   2720  2021  5  31  22        7.0   11.0  9.0
21698519        힐스테이트에코   2720  2021  5  31  23        0.0    0.0  9.0

[21698520 rows x 9 columns]

In [33]:
s = ['롯데월드타워(잠실역2번출구 쪽)', '올림픽공원역 3번출구', '몽촌토성역 1번출구 옆', '한성백제역 2번 출구', 
     '잠실역 8번출구', '송파나루역 4번 출구옆', '방이삼거리', '잠실새내역 5번 출구 뒤', '잠실나루역 (2번 출구 쪽)',
     '송파역 4번출구', '잠실나들목', '천호역 10번 출구 앞', '석촌호교차로 (스타벅스 앞)', '잠실역 6번출구', '석촌역 8번출구',
     '송파구청 교차로', '석촌호수 서호사거리', '석촌동 주민센터', '방이역 4번출구', '석촌역 2번출구', '잠실본동주민센터뒤 잠실근린공원',
     '삼전사거리 포스코더샵', '문정 법조단지7', '여흥레이크빌 앞 (석촌호수 까페거리)', '석촌호수교차로(동호 팔각정 앞)', 
     '문정 법조단지8', '잠실나들목4', '문정동 힐스데이트 에코 송파', '석촌고분역 2번 출구', '송파지역자활센터 뒤']

In [34]:
df = df[df['대여소명'].isin(s)].reset_index(drop=True)
df

                     대여소명  대여소번호     년  월   일  시간  lambda_15  mu_15     c
0       롯데월드타워(잠실역2번출구 쪽)   1210  2020  6   1   0        0.0    1.0  30.0
1       롯데월드타워(잠실역2번출구 쪽)   1210  2020  6   1   1        0.0    0.0  30.0
2       롯데월드타워(잠실역2번출구 쪽)   1210  2020  6   1   2        0.0    0.0  30.0
3       롯데월드타워(잠실역2번출구 쪽)   1210  2020  6   1   3        0.0    0.0  30.0
4       롯데월드타워(잠실역2번출구 쪽)   1210  2020  6   1   4        1.0    0.0  30.0
...                   ...    ...   ... ..  ..  ..        ...    ...   ...
262795        한성백제역 2번 출구   2621  2021  5  31  19       14.0   16.0  19.0
262796        한성백제역 2번 출구   2621  2021  5  31  20       24.0   17.0  19.0
262797        한성백제역 2번 출구   2621  2021  5  31  21       20.0   19.0  19.0
262798        한성백제역 2번 출구   2621  2021  5  31  22       14.0   18.0  19.0
262799        한성백제역 2번 출구   2621  2021  5  31  23        5.0    1.0  19.0

[262800 rows x 9 columns]

In [35]:
df['rho'] = float(-1)

for i in range(len(df)):
    if df['mu_15'][i] == 0:
        df['rho'][i] = 0
    else:
        df['rho'][i] = df['lambda_15'][i] / df['mu_15'][i]
df

,대여소명,대여소번호,년,월,일,시간,lambda_15,mu_15,c,rho
0,롯데월드타워(잠실역2번출구 쪽),1210,2020,6,1,0,0.0,1.0,30.0,0.000000
1,롯데월드타워(잠실역2번출구 쪽),1210,2020,6,1,1,0.0,0.0,30.0,0.000000
2,롯데월드타워(잠실역2번출구 쪽),1210,2020,6,1,2,0.0,0.0,30.0,0.000000
3,롯데월드타워(잠실역2번출구 쪽),1210,2020,6,1,3,0.0,0.0,30.0,0.000000
4,롯데월드타워(잠실역2번출구 쪽),1210,2020,6,1,4,1.0,0.0,30.0,0.000000
...,...,...,...,...,...,...,...,...,...,...
262795,한성백제역 2번 출구,2621,2021,5,31,19,14.0,16.0,19.0,0.875000
262796,한성백제역 2번 출구,2621,2021,5,31,20,24.0,17.0,19.0,1.411765
262797,한성백제역 2번 출구,2621,2021,5,31,21,20.0,19.0,19.0,1.052632
262798,한성백제역 2번 출구,2621,2021,5,31,22,14.0,18.0,19.0,0.777778
262799,한성백제역 2번 출구,2621,2021,5,31,23,5.0,1.0,19.0,5.000000

In [36]:
# p_0: 대여소에 자전거가 0대 있을 확률

df['p_0'] = float(-1)

for i in range(len(df)):
    if df['rho'][i] == 1:
        df['p_0'][i] = 1 / (1 + df['c'][i]) 
    else:
        df['p_0'][i] = (df['rho'][i]**0) * ((1 - df['rho'][i]) / (1 - (df['rho'][i]**(df['c'][i] + 1))))
df

,대여소명,대여소번호,년,월,일,시간,lambda_15,mu_15,c,rho,p_0
0,롯데월드타워(잠실역2번출구 쪽),1210,2020,6,1,0,0.0,1.0,30.0,0.000000,1.000000e+00
1,롯데월드타워(잠실역2번출구 쪽),1210,2020,6,1,1,0.0,0.0,30.0,0.000000,1.000000e+00
2,롯데월드타워(잠실역2번출구 쪽),1210,2020,6,1,2,0.0,0.0,30.0,0.000000,1.000000e+00
3,롯데월드타워(잠실역2번출구 쪽),1210,2020,6,1,3,0.0,0.0,30.0,0.000000,1.000000e+00
4,롯데월드타워(잠실역2번출구 쪽),1210,2020,6,1,4,1.0,0.0,30.0,0.000000,1.000000e+00
...,...,...,...,...,...,...,...,...,...,...,...
262795,한성백제역 2번 출구,2621,2021,5,31,19,14.0,16.0,19.0,0.875000,1.342943e-01
262796,한성백제역 2번 출구,2621,2021,5,31,20,24.0,17.0,19.0,1.411765,4.167178e-04
262797,한성백제역 2번 출구,2621,2021,5,31,21,20.0,19.0,19.0,1.052632,2.941117e-02
262798,한성백제역 2번 출구,2621,2021,5,31,22,14.0,18.0,19.0,0.777778,2.236903e-01
262799,한성백제역 2번 출구,2621,2021,5,31,23,5.0,1.0,19.0,5.000000,4.194304e-14

In [37]:
# p_1: 대여소에 자전거가 1대 있을 확률

#df['p_1'] = float(-1)

#for i in range(len(df)):
#    if df['rho'][i] == 1:
#        df['p_1'][i] = 1 / (1 + df['c'][i]) 
#    else:
#        df['p_1'][i] = (df['rho'][i]**1) * ((1 - df['rho'][i]) / (1 - (df['rho'][i]**(df['c'][i] + 1))))
#df

In [38]:
# p_1+: 1대 이상 있을 확률

df['p_1+'] = 1 - df['p_0']
df

,대여소명,대여소번호,년,월,일,시간,lambda_15,mu_15,c,rho,p_0,p_1+
0,롯데월드타워(잠실역2번출구 쪽),1210,2020,6,1,0,0.0,1.0,30.0,0.000000,1.000000e+00,0.000000
1,롯데월드타워(잠실역2번출구 쪽),1210,2020,6,1,1,0.0,0.0,30.0,0.000000,1.000000e+00,0.000000
2,롯데월드타워(잠실역2번출구 쪽),1210,2020,6,1,2,0.0,0.0,30.0,0.000000,1.000000e+00,0.000000
3,롯데월드타워(잠실역2번출구 쪽),1210,2020,6,1,3,0.0,0.0,30.0,0.000000,1.000000e+00,0.000000
4,롯데월드타워(잠실역2번출구 쪽),1210,2020,6,1,4,1.0,0.0,30.0,0.000000,1.000000e+00,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...
262795,한성백제역 2번 출구,2621,2021,5,31,19,14.0,16.0,19.0,0.875000,1.342943e-01,0.865706
262796,한성백제역 2번 출구,2621,2021,5,31,20,24.0,17.0,19.0,1.411765,4.167178e-04,0.999583
262797,한성백제역 2번 출구,2621,2021,5,31,21,20.0,19.0,19.0,1.052632,2.941117e-02,0.970589
262798,한성백제역 2번 출구,2621,2021,5,31,22,14.0,18.0,19.0,0.777778,2.236903e-01,0.776310
262799,한성백제역 2번 출구,2621,2021,5,31,23,5.0,1.0,19.0,5.000000,4.194304e-14,1.000000

In [39]:
# p_c: 대여소에 자전거가 c개(최대거치용량) 있을 확률

#df['p_c'] = float(-1)

#for i in range(len(df)):
#    if df['rho'][i] == 1:
#        df['p_c'][i] = 1 / (1 + df['c'][i]) 
#    else:
#        df['p_c'][i] = (df['rho'][i]**df['c'][i]) * ((1 - df['rho'][i]) / (1 - (df['rho'][i]**(df['c'][i] + 1))))
#df

In [40]:
# L_s : 대여소 내 평균 자전거 수

df['L_s'] = float(-1)

for i in range(len(df)):
    rho = df['rho'][i]
    c = df['c'][i]
    if df['rho'][i] == 1:
        df['L_s'][i] = c / 2
    else:
        df['L_s'][i] = (rho / (1 - rho)) * ((1 - ((c + 1) * rho**c) + (c * rho**(c + 1))) / (1 - (rho**(c + 1))))
df

,대여소명,대여소번호,년,월,일,시간,lambda_15,mu_15,c,rho,p_0,p_1+,L_s
0,롯데월드타워(잠실역2번출구 쪽),1210,2020,6,1,0,0.0,1.0,30.0,0.000000,1.000000e+00,0.000000,0.000000
1,롯데월드타워(잠실역2번출구 쪽),1210,2020,6,1,1,0.0,0.0,30.0,0.000000,1.000000e+00,0.000000,0.000000
2,롯데월드타워(잠실역2번출구 쪽),1210,2020,6,1,2,0.0,0.0,30.0,0.000000,1.000000e+00,0.000000,0.000000
3,롯데월드타워(잠실역2번출구 쪽),1210,2020,6,1,3,0.0,0.0,30.0,0.000000,1.000000e+00,0.000000,0.000000
4,롯데월드타워(잠실역2번출구 쪽),1210,2020,6,1,4,1.0,0.0,30.0,0.000000,1.000000e+00,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
262795,한성백제역 2번 출구,2621,2021,5,31,19,14.0,16.0,19.0,0.875000,1.342943e-01,0.865706,5.512905
262796,한성백제역 2번 출구,2621,2021,5,31,20,24.0,17.0,19.0,1.411765,4.167178e-04,0.999583,16.591669
262797,한성백제역 2번 출구,2621,2021,5,31,21,20.0,19.0,19.0,1.052632,2.941117e-02,0.970589,11.176245
262798,한성백제역 2번 출구,2621,2021,5,31,22,14.0,18.0,19.0,0.777778,2.236903e-01,0.776310,3.367870
262799,한성백제역 2번 출구,2621,2021,5,31,23,5.0,1.0,19.0,5.000000,4.194304e-14,1.000000,18.750000

In [41]:
# W_s : 대여소 내 평균 대기시간(자전거 반납 후 재대여 될 때까지의 시간)

#df['W_s'] = float(-1)

#for i in range(len(df)):
#    if df['p_c'][i] == 1:
#        df['W_s'][i] = 0
#    elif df['lambda_15'][i] == 0:
#        df['W_s'][i] = 0
#    else:
#        df['W_s'][i] = df['L_s'][i] / (df['lambda_15'][i] * (1 - df['p_c'][i]))
#df

In [42]:
# 일부 칼럼 타입 카테고리로 변환

df = df.astype({'대여소명' : 'category', '대여소번호' : 'category'})

In [43]:
station = pd.read_csv('./대학원/데이터/정리 데이터/공공자전거 대여소 정보(21.06월 기준).csv')
station.head()

,대여소 번호,보관소(대여소)명,자치구,상세주소,위도,경도,설치 시기,LCD 거치대수,QR 거치대수,운영 방식
0,102,망원역 1번출구 앞,마포구,서울특별시 마포구 월드컵로 72,37.555649,126.910629,2015-09-06,20.0,NaN,LCD
1,103,망원역 2번출구 앞,마포구,서울특별시 마포구 월드컵로 79,37.554951,126.910835,2015-09-06,14.0,NaN,LCD
2,104,합정역 1번출구 앞,마포구,서울특별시 마포구 양화로 59,37.550629,126.914986,2015-09-06,13.0,NaN,LCD
3,105,합정역 5번출구 앞,마포구,서울특별시 마포구 양화로 48,37.550007,126.914825,2015-09-06,5.0,NaN,LCD
4,106,합정역 7번출구 앞,마포구,서울특별시 마포구 독막로 4,37.548645,126.912826,2015-09-06,10.0,NaN,LCD

In [44]:
station = station.astype({'자치구' : 'category', '대여소 번호' : 'category'})

In [45]:
station = station.rename(columns = {'대여소 번호' : '대여소번호'})
station

,대여소번호,보관소(대여소)명,자치구,상세주소,위도,경도,설치 시기,LCD 거치대수,QR 거치대수,운영 방식
0,102,망원역 1번출구 앞,마포구,서울특별시 마포구 월드컵로 72,37.555649,126.910629,2015-09-06,20.0,NaN,LCD
1,103,망원역 2번출구 앞,마포구,서울특별시 마포구 월드컵로 79,37.554951,126.910835,2015-09-06,14.0,NaN,LCD
2,104,합정역 1번출구 앞,마포구,서울특별시 마포구 양화로 59,37.550629,126.914986,2015-09-06,13.0,NaN,LCD
3,105,합정역 5번출구 앞,마포구,서울특별시 마포구 양화로 48,37.550007,126.914825,2015-09-06,5.0,NaN,LCD
4,106,합정역 7번출구 앞,마포구,서울특별시 마포구 독막로 4,37.548645,126.912826,2015-09-06,10.0,NaN,LCD
...,...,...,...,...,...,...,...,...,...,...
2462,4864,송파사거리,송파구,송파구 송파동 97-2,37.502056,127.110550,2021-04-27,NaN,6.0,QR
2463,4865,한성백제역 1번출구 뒤,송파구,송파구 방이동 45-4,37.516342,127.115593,2021-04-28,NaN,5.0,QR
2464,4867,가락대림아파트 앞,송파구,송파구 가락동 94-9,37.500027,127.118431,2021-04-28,NaN,10.0,QR
2465,4868,레이크 호텔 앞,송파구,송파구 석촌동 158,37.507172,127.101242,2021-05-18,NaN,7.0,QR
2466,4869,잠실나들목6,송파구,잠실동 24,37.516296,127.084610,2021-06-21,NaN,9.0,QR

In [46]:
df = pd.merge(df, station[['자치구', '대여소번호']], on = '대여소번호')
df.head()

,대여소명,대여소번호,년,월,일,시간,lambda_15,mu_15,c,rho,p_0,p_1+,L_s,자치구
0,롯데월드타워(잠실역2번출구 쪽),1210,2020,6,1,0,0.0,1.0,30.0,0.0,1.0,0.0,0.0,송파구
1,롯데월드타워(잠실역2번출구 쪽),1210,2020,6,1,1,0.0,0.0,30.0,0.0,1.0,0.0,0.0,송파구
2,롯데월드타워(잠실역2번출구 쪽),1210,2020,6,1,2,0.0,0.0,30.0,0.0,1.0,0.0,0.0,송파구
3,롯데월드타워(잠실역2번출구 쪽),1210,2020,6,1,3,0.0,0.0,30.0,0.0,1.0,0.0,0.0,송파구
4,롯데월드타워(잠실역2번출구 쪽),1210,2020,6,1,4,1.0,0.0,30.0,0.0,1.0,0.0,0.0,송파구

In [47]:
df = df.rename(columns = {'lambda_15' : 'lambda', 'mu_15' : 'mu'})
df

,대여소명,대여소번호,년,월,일,시간,lambda,mu,c,rho,p_0,p_1+,L_s,자치구
0,롯데월드타워(잠실역2번출구 쪽),1210,2020,6,1,0,0.0,1.0,30.0,0.000000,1.000000e+00,0.000000,0.000000,송파구
1,롯데월드타워(잠실역2번출구 쪽),1210,2020,6,1,1,0.0,0.0,30.0,0.000000,1.000000e+00,0.000000,0.000000,송파구
2,롯데월드타워(잠실역2번출구 쪽),1210,2020,6,1,2,0.0,0.0,30.0,0.000000,1.000000e+00,0.000000,0.000000,송파구
3,롯데월드타워(잠실역2번출구 쪽),1210,2020,6,1,3,0.0,0.0,30.0,0.000000,1.000000e+00,0.000000,0.000000,송파구
4,롯데월드타워(잠실역2번출구 쪽),1210,2020,6,1,4,1.0,0.0,30.0,0.000000,1.000000e+00,0.000000,0.000000,송파구
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
262795,한성백제역 2번 출구,2621,2021,5,31,19,14.0,16.0,19.0,0.875000,1.342943e-01,0.865706,5.512905,송파구
262796,한성백제역 2번 출구,2621,2021,5,31,20,24.0,17.0,19.0,1.411765,4.167178e-04,0.999583,16.591669,송파구
262797,한성백제역 2번 출구,2621,2021,5,31,21,20.0,19.0,19.0,1.052632,2.941117e-02,0.970589,11.176245,송파구
262798,한성백제역 2번 출구,2621,2021,5,31,22,14.0,18.0,19.0,0.777778,2.236903e-01,0.776310,3.367870,송파구
262799,한성백제역 2번 출구,2621,2021,5,31,23,5.0,1.0,19.0,5.000000,4.194304e-14,1.000000,18.750000,송파구

In [48]:
df = df[['자치구', '대여소명', '대여소번호', '년', '월', '일', '시간', 'lambda', 'mu', 'c', 'rho', 'p_0', 'p_1+', 'L_s']]
df.head()

,자치구,대여소명,대여소번호,년,월,일,시간,lambda,mu,c,rho,p_0,p_1+,L_s
0,송파구,롯데월드타워(잠실역2번출구 쪽),1210,2020,6,1,0,0.0,1.0,30.0,0.0,1.0,0.0,0.0
1,송파구,롯데월드타워(잠실역2번출구 쪽),1210,2020,6,1,1,0.0,0.0,30.0,0.0,1.0,0.0,0.0
2,송파구,롯데월드타워(잠실역2번출구 쪽),1210,2020,6,1,2,0.0,0.0,30.0,0.0,1.0,0.0,0.0
3,송파구,롯데월드타워(잠실역2번출구 쪽),1210,2020,6,1,3,0.0,0.0,30.0,0.0,1.0,0.0,0.0
4,송파구,롯데월드타워(잠실역2번출구 쪽),1210,2020,6,1,4,1.0,0.0,30.0,0.0,1.0,0.0,0.0

In [49]:
df.to_csv('./1년 365일 1시간별 Ls, Ws.csv', index = False, encoding = 'cp949')