In [1]:
import pandas as pd
import numpy as np

import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

pd.set_option('display.max_columns', None)

mpl.rcParams['axes.unicode_minus'] = False
plt.rcParams['font.family'] = 'Malgun Gothic'


pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)

In [2]:
df2 = pd.read_excel('./data/file/공공자전거 대여이력_2020.01.xlsx')
df2.columns = ['자전거번호', '대여일시', '대여대여소번호', '대여대여소명', '대여거치대', '반납일시', '반납대여소번호', '반납대여소명', '반납거치대', '이용시간', '이용거리']
df2.head()

,자전거번호,대여일시,대여대여소번호,대여대여소명,대여거치대,반납일시,반납대여소번호,반납대여소명,반납거치대,이용시간,이용거리
0,SPB-04061,2020-01-01 00:01:04,429,송도병원,2,2020-01-01 00:04:21,372,약수역 3번출구 뒤,8,2,0
1,SPB-06686,2020-01-01 00:02:53,1637,KT 노원점 건물 앞,14,2020-01-01 00:04:48,1656,중앙하이츠 아파트 입구,9,1,350
2,SPB-15937,2020-01-01 00:01:21,1924,삼부르네상스파크빌,10,2020-01-01 00:05:51,1955,디지털입구 교차로,7,4,800
3,SPB-14805,2020-01-01 00:03:12,437,대흥역 1번출구,1,2020-01-01 00:05:54,126,서강대 후문 옆,18,2,0
4,SPB-09038,2020-01-01 00:01:11,1168,마곡엠밸리10단지 앞,5,2020-01-01 00:05:57,1152,마곡역교차로,2,4,660

In [3]:
df = df2[~df2['대여대여소명'].str.contains('\?')]
df.head()

,자전거번호,대여일시,대여대여소번호,대여대여소명,대여거치대,반납일시,반납대여소번호,반납대여소명,반납거치대,이용시간,이용거리
0,SPB-04061,2020-01-01 00:01:04,429,송도병원,2,2020-01-01 00:04:21,372,약수역 3번출구 뒤,8,2,0
1,SPB-06686,2020-01-01 00:02:53,1637,KT 노원점 건물 앞,14,2020-01-01 00:04:48,1656,중앙하이츠 아파트 입구,9,1,350
2,SPB-15937,2020-01-01 00:01:21,1924,삼부르네상스파크빌,10,2020-01-01 00:05:51,1955,디지털입구 교차로,7,4,800
3,SPB-14805,2020-01-01 00:03:12,437,대흥역 1번출구,1,2020-01-01 00:05:54,126,서강대 후문 옆,18,2,0
4,SPB-09038,2020-01-01 00:01:11,1168,마곡엠밸리10단지 앞,5,2020-01-01 00:05:57,1152,마곡역교차로,2,4,660

In [4]:
df = df[~df['반납대여소명'].str.contains('\?')]
df

,자전거번호,대여일시,대여대여소번호,대여대여소명,대여거치대,반납일시,반납대여소번호,반납대여소명,반납거치대,이용시간,이용거리
0,SPB-04061,2020-01-01 00:01:04,429,송도병원,2,2020-01-01 00:04:21,372,약수역 3번출구 뒤,8,2,0
1,SPB-06686,2020-01-01 00:02:53,1637,KT 노원점 건물 앞,14,2020-01-01 00:04:48,1656,중앙하이츠 아파트 입구,9,1,350
2,SPB-15937,2020-01-01 00:01:21,1924,삼부르네상스파크빌,10,2020-01-01 00:05:51,1955,디지털입구 교차로,7,4,800
3,SPB-14805,2020-01-01 00:03:12,437,대흥역 1번출구,1,2020-01-01 00:05:54,126,서강대 후문 옆,18,2,0
4,SPB-09038,2020-01-01 00:01:11,1168,마곡엠밸리10단지 앞,5,2020-01-01 00:05:57,1152,마곡역교차로,2,4,660
...,...,...,...,...,...,...,...,...,...,...,...
765281,SPB-13688,2020-01-31 23:45:51,178,증산3교 앞,3,2020-01-31 23:59:50,194,증산교 앞,3,13,0
765282,SPB-22994,2020-01-31 23:35:57,135,명물길 원형무대 앞,4,2020-01-31 23:59:51,188,홍은동 정원여중 입구,10,21,3670
765283,SPB-08546,2020-01-31 23:41:46,237,보라매 두산위브 건너편,17,2020-01-31 23:59:56,2169,봉천역 2번출구,2,17,3140
765284,SPB-13247,2020-01-31 23:52:34,2377,수서역 5번출구 뒤,4,2020-01-31 23:59:58,1250,문정2동 주민센터,1,6,860
765285,SPB-06034,2020-01-31 23:55:48,363,신설동역 11번출구 뒤,3,2020-01-31 23:59:59,361,동묘앞역 1번출구 뒤,6,3,700

In [5]:
df = df.drop(['자전거번호', '대여거치대', '반납거치대', '이용거리'], axis = 1)
df.head()

,대여일시,대여대여소번호,대여대여소명,반납일시,반납대여소번호,반납대여소명,이용시간
0,2020-01-01 00:01:04,429,송도병원,2020-01-01 00:04:21,372,약수역 3번출구 뒤,2
1,2020-01-01 00:02:53,1637,KT 노원점 건물 앞,2020-01-01 00:04:48,1656,중앙하이츠 아파트 입구,1
2,2020-01-01 00:01:21,1924,삼부르네상스파크빌,2020-01-01 00:05:51,1955,디지털입구 교차로,4
3,2020-01-01 00:03:12,437,대흥역 1번출구,2020-01-01 00:05:54,126,서강대 후문 옆,2
4,2020-01-01 00:01:11,1168,마곡엠밸리10단지 앞,2020-01-01 00:05:57,1152,마곡역교차로,4

In [6]:
df['대여일시'] = pd.to_datetime(df['대여일시'])
df['반납일시'] = pd.to_datetime(df['반납일시'])

df['대여년'] = df['대여일시'].dt.year
df['대여월'] = df['대여일시'].dt.month
df['대여일'] = df['대여일시'].dt.day
df['대여요일'] = df['대여일시'].dt.dayofweek
df['대여시간'] = df['대여일시'].dt.hour
df['대여시간_분'] = df['대여일시'].dt.minute

df['반납년'] = df['반납일시'].dt.year
df['반납월'] = df['반납일시'].dt.month
df['반납일'] = df['반납일시'].dt.day
df['반납요일'] = df['반납일시'].dt.dayofweek
df['반납시간'] = df['반납일시'].dt.hour
df['반납시간_분'] = df['반납일시'].dt.minute

In [7]:
df = df.sort_values('대여일시', ignore_index = True)
df.head()

,대여일시,대여대여소번호,대여대여소명,반납일시,반납대여소번호,반납대여소명,이용시간,대여년,대여월,대여일,대여요일,대여시간,대여시간_분,반납년,반납월,반납일,반납요일,반납시간,반납시간_분
0,2020-01-01 00:00:09,1373,성북구보건소 건너편,2020-01-01 00:10:24,1353,금호어울림센터힐 내,9,2020,1,1,2,0,0,2020,1,1,2,0,10
1,2020-01-01 00:00:53,173,서대문역 8번출구 앞,2020-01-01 00:21:50,846,용산중학교,20,2020,1,1,2,0,0,2020,1,1,2,0,21
2,2020-01-01 00:01:04,429,송도병원,2020-01-01 00:04:21,372,약수역 3번출구 뒤,2,2020,1,1,2,0,1,2020,1,1,2,0,4
3,2020-01-01 00:01:11,1168,마곡엠밸리10단지 앞,2020-01-01 00:05:57,1152,마곡역교차로,4,2020,1,1,2,0,1,2020,1,1,2,0,5
4,2020-01-01 00:01:15,3533,건대입구역 사거리(롯데백화점),2020-01-01 00:09:24,505,자양사거리 광진아크로텔 앞,7,2020,1,1,2,0,1,2020,1,1,2,0,9

In [8]:
df_rental = df[['대여일시', '대여대여소명','대여대여소번호', '대여년', '대여월', '대여일', '대여요일', '대여시간', '대여시간_분']]
df_rental.reset_index(drop = True, inplace = True)
df_rental.head()

,대여일시,대여대여소명,대여대여소번호,대여년,대여월,대여일,대여요일,대여시간,대여시간_분
0,2020-01-01 00:00:09,성북구보건소 건너편,1373,2020,1,1,2,0,0
1,2020-01-01 00:00:53,서대문역 8번출구 앞,173,2020,1,1,2,0,0
2,2020-01-01 00:01:04,송도병원,429,2020,1,1,2,0,1
3,2020-01-01 00:01:11,마곡엠밸리10단지 앞,1168,2020,1,1,2,0,1
4,2020-01-01 00:01:15,건대입구역 사거리(롯데백화점),3533,2020,1,1,2,0,1

In [9]:
df_rental2 = df_rental.groupby(['대여대여소명','대여대여소번호', '대여년', '대여월', '대여시간']).size().reset_index().rename(columns = {0 : 'rent_count'})
df_rental2

              대여대여소명  대여대여소번호   대여년  대여월  대여시간  rent_count
0      (구)신한은행 중랑교지점     1442  2020    1     0          17
1      (구)신한은행 중랑교지점     1442  2020    1     1          10
2      (구)신한은행 중랑교지점     1442  2020    1     2          14
3      (구)신한은행 중랑교지점     1442  2020    1     3           8
4      (구)신한은행 중랑교지점     1442  2020    1     4          15
...              ...      ...   ...  ...   ...         ...
35188          희성오피앙     1639  2020    1    19          17
35189          희성오피앙     1639  2020    1    20           8
35190          희성오피앙     1639  2020    1    21          18
35191          희성오피앙     1639  2020    1    22          18
35192          희성오피앙     1639  2020    1    23          18

[35193 rows x 6 columns]

In [10]:
df_rental2['rent_count'] = df_rental2['rent_count'] / 31
df_rental2['mu_15'] = df_rental2['rent_count'] / 4
df_rental2

              대여대여소명  대여대여소번호   대여년  대여월  대여시간  rent_count     mu_15
0      (구)신한은행 중랑교지점     1442  2020    1     0    0.548387  0.137097
1      (구)신한은행 중랑교지점     1442  2020    1     1    0.322581  0.080645
2      (구)신한은행 중랑교지점     1442  2020    1     2    0.451613  0.112903
3      (구)신한은행 중랑교지점     1442  2020    1     3    0.258065  0.064516
4      (구)신한은행 중랑교지점     1442  2020    1     4    0.483871  0.120968
...              ...      ...   ...  ...   ...         ...       ...
35188          희성오피앙     1639  2020    1    19    0.548387  0.137097
35189          희성오피앙     1639  2020    1    20    0.258065  0.064516
35190          희성오피앙     1639  2020    1    21    0.580645  0.145161
35191          희성오피앙     1639  2020    1    22    0.580645  0.145161
35192          희성오피앙     1639  2020    1    23    0.580645  0.145161

[35193 rows x 7 columns]

In [11]:
df_return = df[['반납일시', '반납대여소명', '반납대여소번호','반납년', '반납월', '반납일', '반납요일', '반납시간', '반납시간_분']]
df_return.reset_index(drop = True, inplace = True)
df_return

,반납일시,반납대여소명,반납대여소번호,반납년,반납월,반납일,반납요일,반납시간,반납시간_분
0,2020-01-01 00:10:24,금호어울림센터힐 내,1353,2020,1,1,2,0,10
1,2020-01-01 00:21:50,용산중학교,846,2020,1,1,2,0,21
2,2020-01-01 00:04:21,약수역 3번출구 뒤,372,2020,1,1,2,0,4
3,2020-01-01 00:05:57,마곡역교차로,1152,2020,1,1,2,0,5
4,2020-01-01 00:09:24,자양사거리 광진아크로텔 앞,505,2020,1,1,2,0,9
...,...,...,...,...,...,...,...,...,...
760430,2020-01-31 23:59:27,흑석역 4번출구,2026,2020,1,31,4,23,59
760431,2020-01-31 23:59:59,동묘앞역 1번출구 뒤,361,2020,1,31,4,23,59
760432,2020-01-31 23:59:17,송파나루역 4번 출구옆,2620,2020,1,31,4,23,59
760433,2020-01-31 23:58:20,금호사거리,534,2020,1,31,4,23,58
760434,2020-01-31 23:59:47,한남초교 앞 보도육교,803,2020,1,31,4,23,59

In [12]:
df_c = pd.DataFrame(df_return[['반납대여소명','반납대여소번호','반납년', '반납월','반납시간']].value_counts()).rename(columns = {0 : 'return_count'}).reset_index()
df_c.reset_index(drop=True, inplace = True)
df_c['return_count'] = df_c['return_count'] / 31
df_c['lambda15'] = df_c['return_count']/4
df_c.columns = ['대여소명','대여소번호','년', '월','시간','return_count','lambda15']
df_c

                    대여소명  대여소번호     년  월  시간  return_count  lambda15
0              성동세무서 건너편    563  2020  1   8     23.096774  5.774194
1          코오롱One&Only타워   1195  2020  1   8     15.322581  3.830645
2           홍대입구역 2번출구 앞    113  2020  1   8     15.064516  3.766129
3          마곡나루역 5번출구 뒤편   2701  2020  1  18     14.354839  3.588710
4      롯데월드타워(잠실역2번출구 쪽)   1210  2020  1   8     13.193548  3.298387
...                  ...    ...   ... ..  ..           ...       ...
34655           녹십초요양병원앞   2012  2020  1   5      0.032258  0.008065
34656               강남센터   9997  2020  1   8      0.032258  0.008065
34657               강남센터   9997  2020  1  13      0.032258  0.008065
34658          본마을 정류소 앞   2201  2020  1  18      0.032258  0.008065
34659     서울남부터미널 대합실 입구   2237  2020  1   7      0.032258  0.008065

[34660 rows x 7 columns]

In [13]:
return_ubound = pd.DataFrame(df_c.groupby(['대여소명','대여소번호'])['return_count'].agg(lambda x : np.floor(np.percentile(x,75)+(np.percentile(x,75)-np.percentile(x,25))*1.5))).reset_index().rename(columns = {'return_count' : 'upperbound'})
return_ubound.head()

             대여소명  대여소번호  upperbound
0   (구)신한은행 중랑교지점   1442         1.0
1     (구)합정동 주민센터    101         1.0
2   3호선 매봉역 3번출구앞   2335         1.0
3        419민주묘지역   1539         1.0
4  9호선종합운동장역 9번출구   1206         2.0

In [14]:
df_rental2.columns = ['대여소명','대여소번호','년', '월','시간', 'rent_count','mu_15']
df = pd.merge(df_c, df_rental2, on=['대여소명','대여소번호','년', '월','시간'], how='outer')
df.tail()

,대여소명,대여소번호,년,월,시간,return_count,lambda15,rent_count,mu_15
36117,휘경2동 주민센터,600,2020,1,20,NaN,NaN,0.032258,0.008065
36118,흑석한강푸르지오 106동앞,2064,2020,1,5,NaN,NaN,0.193548,0.048387
36119,흑석한강푸르지오 106동앞,2064,2020,1,6,NaN,NaN,0.096774,0.024194
36120,흑석한강푸르지오 106동앞,2064,2020,1,8,NaN,NaN,0.096774,0.024194
36121,흑석한강푸르지오 106동앞,2064,2020,1,10,NaN,NaN,0.225806,0.056452

In [15]:
stops = df[['대여소명','대여소번호']].drop_duplicates().reset_index(drop=True)
Dayhour = pd.DataFrame({'년':np.repeat(2020, 24*len(stops)),'월':np.repeat(1, 24*len(stops)),'시간':np.repeat(np.arange(24), len(stops))})
stops2 = pd.concat([stops] * 24).reset_index(drop=True)
Dayhour_frame = pd.concat([stops2,Dayhour],axis=1)

In [16]:
df = pd.merge(df,Dayhour_frame, on = ['대여소명','대여소번호','년', '월','시간'],how='outer')
df = pd.merge(df, return_ubound, on=['대여소명','대여소번호'], how='outer')
df.fillna(0, inplace=True)
df.tail()

,대여소명,대여소번호,년,월,시간,return_count,lambda15,rent_count,mu_15,upperbound
36907,상암단말정비,99998,2020,1,19,0.0,0.0,0.0,0.0,0.0
36908,상암단말정비,99998,2020,1,20,0.0,0.0,0.0,0.0,0.0
36909,상암단말정비,99998,2020,1,21,0.0,0.0,0.0,0.0,0.0
36910,상암단말정비,99998,2020,1,22,0.0,0.0,0.0,0.0,0.0
36911,상암단말정비,99998,2020,1,23,0.0,0.0,0.0,0.0,0.0

In [17]:
df = df.sort_values(['대여소명', '대여소번호','년', '월', '시간'], ignore_index = True)
df

,대여소명,대여소번호,년,월,시간,return_count,lambda15,rent_count,mu_15,upperbound
0,(구)신한은행 중랑교지점,1442,2020,1,0,1.032258,0.258065,0.548387,0.137097,1.0
1,(구)신한은행 중랑교지점,1442,2020,1,1,0.709677,0.177419,0.322581,0.080645,1.0
2,(구)신한은행 중랑교지점,1442,2020,1,2,0.870968,0.217742,0.451613,0.112903,1.0
3,(구)신한은행 중랑교지점,1442,2020,1,3,0.677419,0.169355,0.258065,0.064516,1.0
4,(구)신한은행 중랑교지점,1442,2020,1,4,0.258065,0.064516,0.483871,0.120968,1.0
...,...,...,...,...,...,...,...,...,...,...
36907,희성오피앙,1639,2020,1,19,0.354839,0.088710,0.548387,0.137097,1.0
36908,희성오피앙,1639,2020,1,20,0.225806,0.056452,0.258065,0.064516,1.0
36909,희성오피앙,1639,2020,1,21,0.806452,0.201613,0.580645,0.145161,1.0
36910,희성오피앙,1639,2020,1,22,0.483871,0.120968,0.580645,0.145161,1.0
36911,희성오피앙,1639,2020,1,23,0.354839,0.088710,0.580645,0.145161,1.0

In [18]:
df = df.drop(['return_count', 'rent_count'], axis = 1)
df = df.rename(columns = {'lambda15' : 'lambda_15', 'upperbound' : 'c'})
df

                대여소명  대여소번호     년  월  시간  lambda_15     mu_15    c
0      (구)신한은행 중랑교지점   1442  2020  1   0   0.258065  0.137097  1.0
1      (구)신한은행 중랑교지점   1442  2020  1   1   0.177419  0.080645  1.0
2      (구)신한은행 중랑교지점   1442  2020  1   2   0.217742  0.112903  1.0
3      (구)신한은행 중랑교지점   1442  2020  1   3   0.169355  0.064516  1.0
4      (구)신한은행 중랑교지점   1442  2020  1   4   0.064516  0.120968  1.0
...              ...    ...   ... ..  ..        ...       ...  ...
36907          희성오피앙   1639  2020  1  19   0.088710  0.137097  1.0
36908          희성오피앙   1639  2020  1  20   0.056452  0.064516  1.0
36909          희성오피앙   1639  2020  1  21   0.201613  0.145161  1.0
36910          희성오피앙   1639  2020  1  22   0.120968  0.145161  1.0
36911          희성오피앙   1639  2020  1  23   0.088710  0.145161  1.0

[36912 rows x 8 columns]

In [19]:
df['rho'] = float(-1)

for i in range(len(df)):
    if df['mu_15'][i] == 0:
        df['rho'][i] = 0
    else:
        df['rho'][i] = df['lambda_15'][i] / df['mu_15'][i]
df

                대여소명  대여소번호     년  월  시간  lambda_15     mu_15    c       rho
0      (구)신한은행 중랑교지점   1442  2020  1   0   0.258065  0.137097  1.0  1.882353
1      (구)신한은행 중랑교지점   1442  2020  1   1   0.177419  0.080645  1.0  2.200000
2      (구)신한은행 중랑교지점   1442  2020  1   2   0.217742  0.112903  1.0  1.928571
3      (구)신한은행 중랑교지점   1442  2020  1   3   0.169355  0.064516  1.0  2.625000
4      (구)신한은행 중랑교지점   1442  2020  1   4   0.064516  0.120968  1.0  0.533333
...              ...    ...   ... ..  ..        ...       ...  ...       ...
36907          희성오피앙   1639  2020  1  19   0.088710  0.137097  1.0  0.647059
36908          희성오피앙   1639  2020  1  20   0.056452  0.064516  1.0  0.875000
36909          희성오피앙   1639  2020  1  21   0.201613  0.145161  1.0  1.388889
36910          희성오피앙   1639  2020  1  22   0.120968  0.145161  1.0  0.833333
36911          희성오피앙   1639  2020  1  23   0.088710  0.145161  1.0  0.611111

[36912 rows x 9 columns]

In [20]:
# p_c: 대여소에 자전거가 c개(최대거치용량) 있을 확률

df['p_c'] = float(-1)

for i in range(len(df)):
    if df['rho'][i] == 1:
        df['p_c'][i] = 1 / (1 + df['c'][i]) 
    else:
        df['p_c'][i] = (df['rho'][i]**df['c'][i]) * ((1 - df['rho'][i]) / (1 - (df['rho'][i]**(df['c'][i] + 1))))
df

,대여소명,대여소번호,년,월,시간,lambda_15,mu_15,c,rho,p_c
0,(구)신한은행 중랑교지점,1442,2020,1,0,0.258065,0.137097,1.0,1.882353,0.653061
1,(구)신한은행 중랑교지점,1442,2020,1,1,0.177419,0.080645,1.0,2.200000,0.687500
2,(구)신한은행 중랑교지점,1442,2020,1,2,0.217742,0.112903,1.0,1.928571,0.658537
3,(구)신한은행 중랑교지점,1442,2020,1,3,0.169355,0.064516,1.0,2.625000,0.724138
4,(구)신한은행 중랑교지점,1442,2020,1,4,0.064516,0.120968,1.0,0.533333,0.347826
...,...,...,...,...,...,...,...,...,...,...
36907,희성오피앙,1639,2020,1,19,0.088710,0.137097,1.0,0.647059,0.392857
36908,희성오피앙,1639,2020,1,20,0.056452,0.064516,1.0,0.875000,0.466667
36909,희성오피앙,1639,2020,1,21,0.201613,0.145161,1.0,1.388889,0.581395
36910,희성오피앙,1639,2020,1,22,0.120968,0.145161,1.0,0.833333,0.454545
36911,희성오피앙,1639,2020,1,23,0.088710,0.145161,1.0,0.611111,0.379310

In [21]:
# L_s : 대여소 내 평균 자전거 수

df['L_s'] = float(-1)

for i in range(len(df)):
    rho = df['rho'][i]
    c = df['c'][i]
    if df['rho'][i] == 1:
        df['L_s'][i] = c / 2
    else:
        df['L_s'][i] = (rho / (1 - rho)) * ((1 - ((c + 1) * rho**c) + (c * rho**(c + 1))) / (1 - (rho**(c + 1))))
df

,대여소명,대여소번호,년,월,시간,lambda_15,mu_15,c,rho,p_c,L_s
0,(구)신한은행 중랑교지점,1442,2020,1,0,0.258065,0.137097,1.0,1.882353,0.653061,0.653061
1,(구)신한은행 중랑교지점,1442,2020,1,1,0.177419,0.080645,1.0,2.200000,0.687500,0.687500
2,(구)신한은행 중랑교지점,1442,2020,1,2,0.217742,0.112903,1.0,1.928571,0.658537,0.658537
3,(구)신한은행 중랑교지점,1442,2020,1,3,0.169355,0.064516,1.0,2.625000,0.724138,0.724138
4,(구)신한은행 중랑교지점,1442,2020,1,4,0.064516,0.120968,1.0,0.533333,0.347826,0.347826
...,...,...,...,...,...,...,...,...,...,...,...
36907,희성오피앙,1639,2020,1,19,0.088710,0.137097,1.0,0.647059,0.392857,0.392857
36908,희성오피앙,1639,2020,1,20,0.056452,0.064516,1.0,0.875000,0.466667,0.466667
36909,희성오피앙,1639,2020,1,21,0.201613,0.145161,1.0,1.388889,0.581395,0.581395
36910,희성오피앙,1639,2020,1,22,0.120968,0.145161,1.0,0.833333,0.454545,0.454545
36911,희성오피앙,1639,2020,1,23,0.088710,0.145161,1.0,0.611111,0.379310,0.379310

In [22]:
# W_s : 대여소 내 평균 대기시간(자전거 반납 후 재대여 될 때까지의 시간)

df['W_s'] = float(-1)

for i in range(len(df)):
    if df['p_c'][i] == 0:
        df['W_s'][i] = 0
    elif df['p_c'][i] == 1:
        df['W_s'][i] = 0
    else:
        df['W_s'][i] = df['L_s'][i] / (df['lambda_15'][i] * (1 - df['p_c'][i]))
df

,대여소명,대여소번호,년,월,시간,lambda_15,mu_15,c,rho,p_c,L_s,W_s
0,(구)신한은행 중랑교지점,1442,2020,1,0,0.258065,0.137097,1.0,1.882353,0.653061,0.653061,7.294118
1,(구)신한은행 중랑교지점,1442,2020,1,1,0.177419,0.080645,1.0,2.200000,0.687500,0.687500,12.400000
2,(구)신한은행 중랑교지점,1442,2020,1,2,0.217742,0.112903,1.0,1.928571,0.658537,0.658537,8.857143
3,(구)신한은행 중랑교지점,1442,2020,1,3,0.169355,0.064516,1.0,2.625000,0.724138,0.724138,15.500000
4,(구)신한은행 중랑교지점,1442,2020,1,4,0.064516,0.120968,1.0,0.533333,0.347826,0.347826,8.266667
...,...,...,...,...,...,...,...,...,...,...,...,...
36907,희성오피앙,1639,2020,1,19,0.088710,0.137097,1.0,0.647059,0.392857,0.392857,7.294118
36908,희성오피앙,1639,2020,1,20,0.056452,0.064516,1.0,0.875000,0.466667,0.466667,15.500000
36909,희성오피앙,1639,2020,1,21,0.201613,0.145161,1.0,1.388889,0.581395,0.581395,6.888889
36910,희성오피앙,1639,2020,1,22,0.120968,0.145161,1.0,0.833333,0.454545,0.454545,6.888889
36911,희성오피앙,1639,2020,1,23,0.088710,0.145161,1.0,0.611111,0.379310,0.379310,6.888889

In [23]:
# 일부 칼럼 타입 카테고리로 변환

df = df.astype({'대여소명' : 'category', '대여소번호' : 'category'})

In [24]:
station = pd.read_csv('./대학원/데이터/정리 데이터/공공자전거 대여소 정보(21.06월 기준).csv')
station.head()

,대여소 번호,보관소(대여소)명,자치구,상세주소,위도,경도,설치 시기,LCD 거치대수,QR 거치대수,운영 방식
0,102,망원역 1번출구 앞,마포구,서울특별시 마포구 월드컵로 72,37.555649,126.910629,2015-09-06,20.0,NaN,LCD
1,103,망원역 2번출구 앞,마포구,서울특별시 마포구 월드컵로 79,37.554951,126.910835,2015-09-06,14.0,NaN,LCD
2,104,합정역 1번출구 앞,마포구,서울특별시 마포구 양화로 59,37.550629,126.914986,2015-09-06,13.0,NaN,LCD
3,105,합정역 5번출구 앞,마포구,서울특별시 마포구 양화로 48,37.550007,126.914825,2015-09-06,5.0,NaN,LCD
4,106,합정역 7번출구 앞,마포구,서울특별시 마포구 독막로 4,37.548645,126.912826,2015-09-06,10.0,NaN,LCD

In [25]:
station = station.astype({'자치구' : 'category', '대여소 번호' : 'category'})

In [26]:
station = station.rename(columns = {'대여소 번호' : '대여소번호'})
station

,대여소번호,보관소(대여소)명,자치구,상세주소,위도,경도,설치 시기,LCD 거치대수,QR 거치대수,운영 방식
0,102,망원역 1번출구 앞,마포구,서울특별시 마포구 월드컵로 72,37.555649,126.910629,2015-09-06,20.0,NaN,LCD
1,103,망원역 2번출구 앞,마포구,서울특별시 마포구 월드컵로 79,37.554951,126.910835,2015-09-06,14.0,NaN,LCD
2,104,합정역 1번출구 앞,마포구,서울특별시 마포구 양화로 59,37.550629,126.914986,2015-09-06,13.0,NaN,LCD
3,105,합정역 5번출구 앞,마포구,서울특별시 마포구 양화로 48,37.550007,126.914825,2015-09-06,5.0,NaN,LCD
4,106,합정역 7번출구 앞,마포구,서울특별시 마포구 독막로 4,37.548645,126.912826,2015-09-06,10.0,NaN,LCD
...,...,...,...,...,...,...,...,...,...,...
2462,4864,송파사거리,송파구,송파구 송파동 97-2,37.502056,127.110550,2021-04-27,NaN,6.0,QR
2463,4865,한성백제역 1번출구 뒤,송파구,송파구 방이동 45-4,37.516342,127.115593,2021-04-28,NaN,5.0,QR
2464,4867,가락대림아파트 앞,송파구,송파구 가락동 94-9,37.500027,127.118431,2021-04-28,NaN,10.0,QR
2465,4868,레이크 호텔 앞,송파구,송파구 석촌동 158,37.507172,127.101242,2021-05-18,NaN,7.0,QR
2466,4869,잠실나들목6,송파구,잠실동 24,37.516296,127.084610,2021-06-21,NaN,9.0,QR

In [27]:
df = pd.merge(df, station[['자치구', '대여소번호']], on = '대여소번호')
df.head()

,대여소명,대여소번호,년,월,시간,lambda_15,mu_15,c,rho,p_c,L_s,W_s,자치구
0,(구)신한은행 중랑교지점,1442,2020,1,0,0.258065,0.137097,1.0,1.882353,0.653061,0.653061,7.294118,중랑구
1,(구)신한은행 중랑교지점,1442,2020,1,1,0.177419,0.080645,1.0,2.200000,0.687500,0.687500,12.400000,중랑구
2,(구)신한은행 중랑교지점,1442,2020,1,2,0.217742,0.112903,1.0,1.928571,0.658537,0.658537,8.857143,중랑구
3,(구)신한은행 중랑교지점,1442,2020,1,3,0.169355,0.064516,1.0,2.625000,0.724138,0.724138,15.500000,중랑구
4,(구)신한은행 중랑교지점,1442,2020,1,4,0.064516,0.120968,1.0,0.533333,0.347826,0.347826,8.266667,중랑구

In [28]:
df = df.drop(['대여소번호', 'c'], axis = 1)
df = df[['자치구', '대여소명', '년', '월', '시간','L_s', 'W_s']]
df.head()

   자치구           대여소명     년  월  시간       L_s        W_s
0  중랑구  (구)신한은행 중랑교지점  2020  1   0  0.653061   7.294118
1  중랑구  (구)신한은행 중랑교지점  2020  1   1  0.687500  12.400000
2  중랑구  (구)신한은행 중랑교지점  2020  1   2  0.658537   8.857143
3  중랑구  (구)신한은행 중랑교지점  2020  1   3  0.724138  15.500000
4  중랑구  (구)신한은행 중랑교지점  2020  1   4  0.347826   8.266667

In [29]:
df.to_excel('./2020.01 Ls, Ws.xlsx', index = False)