In [1]:
import pandas as pd
import numpy as np

import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

pd.set_option('display.max_columns', None)

mpl.rcParams['axes.unicode_minus'] = False
plt.rcParams['font.family'] = 'Malgun Gothic'


pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)

In [2]:
df2 = pd.read_csv('./data/file/공공자전거 대여이력_2020.03.csv', encoding = 'cp949')
df2.columns = ['자전거번호', '대여일시', '대여대여소번호', '대여대여소명', '대여거치대', '반납일시', '반납대여소번호', '반납대여소명', '반납거치대', '이용시간', '이용거리']
df2.head()

,자전거번호,대여일시,대여대여소번호,대여대여소명,대여거치대,반납일시,반납대여소번호,반납대여소명,반납거치대,이용시간,이용거리
0,SPB-18902,2020-02-29 23:18:35,358,성대입구 사거리,10,2020-03-01 00:00:02,347,동대문역사문화공원역 9번출구 앞,18,39,5180.0
1,SPB-15556,2020-02-29 23:46:45,641,용두역 4번출구,7,2020-03-01 00:00:06,559,왕십리역 4번 출구 건너편,9,13,0.0
2,SPB-14831,2020-02-29 23:06:15,2335,3호선 매봉역 3번출구앞,1,2020-03-01 00:00:08,2404,대모산입구역 4번 출구 앞,2,53,4040.0
3,SPB-23136,2020-02-29 23:44:11,1913,구로리공원,9,2020-03-01 00:00:09,1920,서울미래초등학교 사거리,4,15,1760.0
4,SPB-22450,2020-02-29 23:02:12,2265,이수고가차도 남단,6,2020-03-01 00:00:15,2220,반포본동 주민센터 앞,6,55,7760.0

In [3]:
df = df2[~df2['대여대여소명'].str.contains('\?')]
df.head()

,자전거번호,대여일시,대여대여소번호,대여대여소명,대여거치대,반납일시,반납대여소번호,반납대여소명,반납거치대,이용시간,이용거리
0,SPB-18902,2020-02-29 23:18:35,358,성대입구 사거리,10,2020-03-01 00:00:02,347,동대문역사문화공원역 9번출구 앞,18,39,5180.0
1,SPB-15556,2020-02-29 23:46:45,641,용두역 4번출구,7,2020-03-01 00:00:06,559,왕십리역 4번 출구 건너편,9,13,0.0
2,SPB-14831,2020-02-29 23:06:15,2335,3호선 매봉역 3번출구앞,1,2020-03-01 00:00:08,2404,대모산입구역 4번 출구 앞,2,53,4040.0
3,SPB-23136,2020-02-29 23:44:11,1913,구로리공원,9,2020-03-01 00:00:09,1920,서울미래초등학교 사거리,4,15,1760.0
4,SPB-22450,2020-02-29 23:02:12,2265,이수고가차도 남단,6,2020-03-01 00:00:15,2220,반포본동 주민센터 앞,6,55,7760.0

In [4]:
df = df[~df['반납대여소명'].str.contains('\?')]
df

,자전거번호,대여일시,대여대여소번호,대여대여소명,대여거치대,반납일시,반납대여소번호,반납대여소명,반납거치대,이용시간,이용거리
0,SPB-18902,2020-02-29 23:18:35,358,성대입구 사거리,10,2020-03-01 00:00:02,347,동대문역사문화공원역 9번출구 앞,18,39,5180.0
1,SPB-15556,2020-02-29 23:46:45,641,용두역 4번출구,7,2020-03-01 00:00:06,559,왕십리역 4번 출구 건너편,9,13,0.0
2,SPB-14831,2020-02-29 23:06:15,2335,3호선 매봉역 3번출구앞,1,2020-03-01 00:00:08,2404,대모산입구역 4번 출구 앞,2,53,4040.0
3,SPB-23136,2020-02-29 23:44:11,1913,구로리공원,9,2020-03-01 00:00:09,1920,서울미래초등학교 사거리,4,15,1760.0
4,SPB-22450,2020-02-29 23:02:12,2265,이수고가차도 남단,6,2020-03-01 00:00:15,2220,반포본동 주민센터 앞,6,55,7760.0
...,...,...,...,...,...,...,...,...,...,...,...
1475699,SPB-17326,2020-03-31 23:23:03,2173,당곡사거리,2,2020-03-31 23:59:47,2183,동방1교,8,36,0.0
1475700,SPB-14489,2020-03-31 21:59:12,1506,강북문화예술회관,16,2020-03-31 23:59:51,1540,가오리역,10,120,0.0
1475701,SPB-22226,2020-03-31 22:21:28,1722,창동청소년수련관,2,2020-03-31 23:59:52,1716,하나로마트 창동점,3,96,73850.0
1475702,SPB-19223,2020-03-31 23:53:03,1327,상월곡역 3번출구,3,2020-03-31 23:59:55,1332,석계역 5번출구 건너편,2,6,1420.0
1475703,SPB-10768,2020-03-31 23:44:09,1291,서울체육고등학교 앞,6,2020-03-31 23:59:56,1209,잠실나루역 (2번 출구 쪽),4,15,2730.0

In [5]:
df = df.drop(['자전거번호', '대여거치대', '반납거치대', '이용거리'], axis = 1)
df.head()

,대여일시,대여대여소번호,대여대여소명,반납일시,반납대여소번호,반납대여소명,이용시간
0,2020-02-29 23:18:35,358,성대입구 사거리,2020-03-01 00:00:02,347,동대문역사문화공원역 9번출구 앞,39
1,2020-02-29 23:46:45,641,용두역 4번출구,2020-03-01 00:00:06,559,왕십리역 4번 출구 건너편,13
2,2020-02-29 23:06:15,2335,3호선 매봉역 3번출구앞,2020-03-01 00:00:08,2404,대모산입구역 4번 출구 앞,53
3,2020-02-29 23:44:11,1913,구로리공원,2020-03-01 00:00:09,1920,서울미래초등학교 사거리,15
4,2020-02-29 23:02:12,2265,이수고가차도 남단,2020-03-01 00:00:15,2220,반포본동 주민센터 앞,55

In [6]:
df['대여일시'] = pd.to_datetime(df['대여일시'])
df['반납일시'] = pd.to_datetime(df['반납일시'])

df['대여년'] = df['대여일시'].dt.year
df['대여월'] = df['대여일시'].dt.month
df['대여일'] = df['대여일시'].dt.day
df['대여요일'] = df['대여일시'].dt.dayofweek
df['대여시간'] = df['대여일시'].dt.hour
df['대여시간_분'] = df['대여일시'].dt.minute

df['반납년'] = df['반납일시'].dt.year
df['반납월'] = df['반납일시'].dt.month
df['반납일'] = df['반납일시'].dt.day
df['반납요일'] = df['반납일시'].dt.dayofweek
df['반납시간'] = df['반납일시'].dt.hour
df['반납시간_분'] = df['반납일시'].dt.minute

In [7]:
df = df.sort_values('대여일시', ignore_index = True)
df.head()

,대여일시,대여대여소번호,대여대여소명,반납일시,반납대여소번호,반납대여소명,이용시간,대여년,대여월,대여일,대여요일,대여시간,대여시간_분,반납년,반납월,반납일,반납요일,반납시간,반납시간_분
0,2020-02-29 17:22:52,146,마포역 2번출구 뒤,2020-03-01 12:58:54,150,서강대역 2번출구 앞,144,2020,2,29,5,17,22,2020,3,1,6,12,58
1,2020-02-29 20:45:34,519,양지사거리,2020-03-01 00:38:02,525,한양대병원사거리,229,2020,2,29,5,20,45,2020,3,1,6,0,38
2,2020-02-29 21:02:31,1720,도봉구청 옆(중랑천변),2020-03-01 01:02:54,1660,서울시립과학관,239,2020,2,29,5,21,2,2020,3,1,6,1,2
3,2020-02-29 21:11:54,3101,서대문구청,2020-03-01 00:10:34,3106,홍남교 두바퀴쉼터,171,2020,2,29,5,21,11,2020,3,1,6,0,10
4,2020-02-29 21:47:35,1193,마곡센트럴타워 1차,2020-03-01 00:00:26,1117,스타벅스앞,131,2020,2,29,5,21,47,2020,3,1,6,0,0

In [8]:
df_rental = df[['대여일시', '대여대여소명','대여대여소번호', '대여년', '대여월', '대여일', '대여요일', '대여시간', '대여시간_분']]
df_rental.reset_index(drop = True, inplace = True)
df_rental.head()

,대여일시,대여대여소명,대여대여소번호,대여년,대여월,대여일,대여요일,대여시간,대여시간_분
0,2020-02-29 17:22:52,마포역 2번출구 뒤,146,2020,2,29,5,17,22
1,2020-02-29 20:45:34,양지사거리,519,2020,2,29,5,20,45
2,2020-02-29 21:02:31,도봉구청 옆(중랑천변),1720,2020,2,29,5,21,2
3,2020-02-29 21:11:54,서대문구청,3101,2020,2,29,5,21,11
4,2020-02-29 21:47:35,마곡센트럴타워 1차,1193,2020,2,29,5,21,47

In [9]:
df_rental2 = df_rental.groupby(['대여대여소명','대여대여소번호', '대여년', '대여월', '대여시간']).size().reset_index().rename(columns = {0 : 'rent_count'})
df_rental2

              대여대여소명  대여대여소번호   대여년  대여월  대여시간  rent_count
0      (구)신한은행 중랑교지점     1442  2020    3     0          26
1      (구)신한은행 중랑교지점     1442  2020    3     1          18
2      (구)신한은행 중랑교지점     1442  2020    3     2          29
3      (구)신한은행 중랑교지점     1442  2020    3     3          15
4      (구)신한은행 중랑교지점     1442  2020    3     4          19
...              ...      ...   ...  ...   ...         ...
36157          희성오피앙     1639  2020    3    19          60
36158          희성오피앙     1639  2020    3    20          41
36159          희성오피앙     1639  2020    3    21          54
36160          희성오피앙     1639  2020    3    22          45
36161          희성오피앙     1639  2020    3    23          16

[36162 rows x 6 columns]

In [10]:
df_rental2['rent_count'] = df_rental2['rent_count'] / 31
df_rental2['mu_15'] = df_rental2['rent_count'] / 4
df_rental2

              대여대여소명  대여대여소번호   대여년  대여월  대여시간  rent_count     mu_15
0      (구)신한은행 중랑교지점     1442  2020    3     0    0.838710  0.209677
1      (구)신한은행 중랑교지점     1442  2020    3     1    0.580645  0.145161
2      (구)신한은행 중랑교지점     1442  2020    3     2    0.935484  0.233871
3      (구)신한은행 중랑교지점     1442  2020    3     3    0.483871  0.120968
4      (구)신한은행 중랑교지점     1442  2020    3     4    0.612903  0.153226
...              ...      ...   ...  ...   ...         ...       ...
36157          희성오피앙     1639  2020    3    19    1.935484  0.483871
36158          희성오피앙     1639  2020    3    20    1.322581  0.330645
36159          희성오피앙     1639  2020    3    21    1.741935  0.435484
36160          희성오피앙     1639  2020    3    22    1.451613  0.362903
36161          희성오피앙     1639  2020    3    23    0.516129  0.129032

[36162 rows x 7 columns]

In [11]:
df_return = df[['반납일시', '반납대여소명', '반납대여소번호','반납년', '반납월', '반납일', '반납요일', '반납시간', '반납시간_분']]
df_return.reset_index(drop = True, inplace = True)
df_return

,반납일시,반납대여소명,반납대여소번호,반납년,반납월,반납일,반납요일,반납시간,반납시간_분
0,2020-03-01 12:58:54,서강대역 2번출구 앞,150,2020,3,1,6,12,58
1,2020-03-01 00:38:02,한양대병원사거리,525,2020,3,1,6,0,38
2,2020-03-01 01:02:54,서울시립과학관,1660,2020,3,1,6,1,2
3,2020-03-01 00:10:34,홍남교 두바퀴쉼터,3106,2020,3,1,6,0,10
4,2020-03-01 00:00:26,스타벅스앞,1117,2020,3,1,6,0,0
...,...,...,...,...,...,...,...,...,...
1468422,2020-03-31 23:57:54,천왕이펜하우스5단지 앞,1981,2020,3,31,1,23,57
1468423,2020-03-31 23:57:07,조원동서울본병원,2170,2020,3,31,1,23,57
1468424,2020-03-31 23:55:51,정릉역,1360,2020,3,31,1,23,55
1468425,2020-03-31 23:58:42,신성기사식당 앞,122,2020,3,31,1,23,58
1468426,2020-03-31 23:57:40,영휘원 교차로,656,2020,3,31,1,23,57

In [12]:
df_c = pd.DataFrame(df_return[['반납대여소명','반납대여소번호','반납년', '반납월','반납시간']].value_counts()).rename(columns = {0 : 'return_count'}).reset_index()
df_c.reset_index(drop=True, inplace = True)
df_c['return_count'] = df_c['return_count'] / 31
df_c['lambda15'] = df_c['return_count']/4
df_c.columns = ['대여소명','대여소번호','년', '월','시간','return_count','lambda15']
df_c

                대여소명  대여소번호     년  월  시간  return_count   lambda15
0      뚝섬유원지역 1번출구 앞    502  2020  3  17     77.903226  19.475806
1      뚝섬유원지역 1번출구 앞    502  2020  3  18     69.774194  17.443548
2       여의나루역 1번출구 앞    207  2020  3  17     68.645161  17.161290
3      뚝섬유원지역 1번출구 앞    502  2020  3  16     67.967742  16.991935
4       여의나루역 1번출구 앞    207  2020  3  18     61.483871  15.370968
...              ...    ...   ... ..  ..           ...        ...
35465       서울시설공단 앞    550  2020  3   2      0.032258   0.008065
35466    한티역 롯데백화점 앞   2415  2020  3  14      0.032258   0.008065
35467      한티역 6번 출구   2416  2020  3  14      0.032258   0.008065
35468    면목 대원칸타빌아파트   1410  2020  3  10      0.032258   0.008065
35469        영휘원 교차로    656  2020  3   2      0.032258   0.008065

[35470 rows x 7 columns]

In [13]:
return_ubound = pd.DataFrame(df_c.groupby(['대여소명','대여소번호'])['return_count'].agg(lambda x : np.floor(np.percentile(x,75)+(np.percentile(x,75)-np.percentile(x,25))*1.5))).reset_index().rename(columns = {'return_count' : 'upperbound'})
return_ubound.head()

             대여소명  대여소번호  upperbound
0   (구)신한은행 중랑교지점   1442         2.0
1     (구)합정동 주민센터    101         2.0
2   3호선 매봉역 3번출구앞   2335         2.0
3        419민주묘지역   1539         4.0
4  9호선종합운동장역 9번출구   1206         5.0

In [14]:
df_rental2.columns = ['대여소명','대여소번호','년', '월','시간', 'rent_count','mu_15']
df = pd.merge(df_c, df_rental2, on=['대여소명','대여소번호','년', '월','시간'], how='outer')
df.tail()

,대여소명,대여소번호,년,월,시간,return_count,lambda15,rent_count,mu_15
36896,휘봉고등학교 앞,628,2020,3,5,NaN,NaN,0.032258,0.008065
36897,흑석한강푸르지오 106동앞,2064,2020,3,5,NaN,NaN,0.032258,0.008065
36898,흑석한강푸르지오 106동앞,2064,2020,3,6,NaN,NaN,0.096774,0.024194
36899,흑석한강푸르지오 106동앞,2064,2020,3,7,NaN,NaN,0.258065,0.064516
36900,흑석한강푸르지오 106동앞,2064,2020,3,9,NaN,NaN,0.129032,0.032258

In [15]:
stops = df[['대여소명','대여소번호']].drop_duplicates().reset_index(drop=True)
Dayhour = pd.DataFrame({'년':np.repeat(2020, 24*len(stops)),'월':np.repeat(3, 24*len(stops)),'시간':np.repeat(np.arange(24), len(stops))})
stops2 = pd.concat([stops] * 24).reset_index(drop=True)
Dayhour_frame = pd.concat([stops2,Dayhour],axis=1)

In [16]:
df = pd.merge(df,Dayhour_frame, on = ['대여소명','대여소번호','년', '월','시간'],how='outer')
df = pd.merge(df, return_ubound, on=['대여소명','대여소번호'], how='outer')
df.fillna(0, inplace=True)
df.tail()

,대여소명,대여소번호,년,월,시간,return_count,lambda15,rent_count,mu_15,upperbound
38699,회현역 1번출구,469,2020,3,18,0.0,0.0,0.0,0.0,0.0
38700,회현역 1번출구,469,2020,3,19,0.0,0.0,0.0,0.0,0.0
38701,회현역 1번출구,469,2020,3,20,0.0,0.0,0.0,0.0,0.0
38702,회현역 1번출구,469,2020,3,22,0.0,0.0,0.0,0.0,0.0
38703,회현역 1번출구,469,2020,3,23,0.0,0.0,0.0,0.0,0.0

In [17]:
df = df.sort_values(['대여소명', '대여소번호','년', '월', '시간'], ignore_index = True)
df

,대여소명,대여소번호,년,월,시간,return_count,lambda15,rent_count,mu_15,upperbound
0,(구)신한은행 중랑교지점,1442,2020,3,0,1.451613,0.362903,0.838710,0.209677,2.0
1,(구)신한은행 중랑교지점,1442,2020,3,1,1.387097,0.346774,0.580645,0.145161,2.0
2,(구)신한은행 중랑교지점,1442,2020,3,2,0.870968,0.217742,0.935484,0.233871,2.0
3,(구)신한은행 중랑교지점,1442,2020,3,3,0.741935,0.185484,0.483871,0.120968,2.0
4,(구)신한은행 중랑교지점,1442,2020,3,4,0.580645,0.145161,0.612903,0.153226,2.0
...,...,...,...,...,...,...,...,...,...,...
38699,희성오피앙,1639,2020,3,19,2.387097,0.596774,1.935484,0.483871,3.0
38700,희성오피앙,1639,2020,3,20,1.838710,0.459677,1.322581,0.330645,3.0
38701,희성오피앙,1639,2020,3,21,1.612903,0.403226,1.741935,0.435484,3.0
38702,희성오피앙,1639,2020,3,22,1.677419,0.419355,1.451613,0.362903,3.0
38703,희성오피앙,1639,2020,3,23,0.870968,0.217742,0.516129,0.129032,3.0

In [18]:
df = df.drop(['return_count', 'rent_count'], axis = 1)
df = df.rename(columns = {'lambda15' : 'lambda_15', 'upperbound' : 'c'})
df

                대여소명  대여소번호     년  월  시간  lambda_15     mu_15    c
0      (구)신한은행 중랑교지점   1442  2020  3   0   0.362903  0.209677  2.0
1      (구)신한은행 중랑교지점   1442  2020  3   1   0.346774  0.145161  2.0
2      (구)신한은행 중랑교지점   1442  2020  3   2   0.217742  0.233871  2.0
3      (구)신한은행 중랑교지점   1442  2020  3   3   0.185484  0.120968  2.0
4      (구)신한은행 중랑교지점   1442  2020  3   4   0.145161  0.153226  2.0
...              ...    ...   ... ..  ..        ...       ...  ...
38699          희성오피앙   1639  2020  3  19   0.596774  0.483871  3.0
38700          희성오피앙   1639  2020  3  20   0.459677  0.330645  3.0
38701          희성오피앙   1639  2020  3  21   0.403226  0.435484  3.0
38702          희성오피앙   1639  2020  3  22   0.419355  0.362903  3.0
38703          희성오피앙   1639  2020  3  23   0.217742  0.129032  3.0

[38704 rows x 8 columns]

In [19]:
df['rho'] = float(-1)

for i in range(len(df)):
    if df['mu_15'][i] == 0:
        df['rho'][i] = 0
    else:
        df['rho'][i] = df['lambda_15'][i] / df['mu_15'][i]
df

                대여소명  대여소번호     년  월  시간  lambda_15     mu_15    c       rho
0      (구)신한은행 중랑교지점   1442  2020  3   0   0.362903  0.209677  2.0  1.730769
1      (구)신한은행 중랑교지점   1442  2020  3   1   0.346774  0.145161  2.0  2.388889
2      (구)신한은행 중랑교지점   1442  2020  3   2   0.217742  0.233871  2.0  0.931034
3      (구)신한은행 중랑교지점   1442  2020  3   3   0.185484  0.120968  2.0  1.533333
4      (구)신한은행 중랑교지점   1442  2020  3   4   0.145161  0.153226  2.0  0.947368
...              ...    ...   ... ..  ..        ...       ...  ...       ...
38699          희성오피앙   1639  2020  3  19   0.596774  0.483871  3.0  1.233333
38700          희성오피앙   1639  2020  3  20   0.459677  0.330645  3.0  1.390244
38701          희성오피앙   1639  2020  3  21   0.403226  0.435484  3.0  0.925926
38702          희성오피앙   1639  2020  3  22   0.419355  0.362903  3.0  1.155556
38703          희성오피앙   1639  2020  3  23   0.217742  0.129032  3.0  1.687500

[38704 rows x 9 columns]

In [20]:
# p_c: 대여소에 자전거가 c개(최대거치용량) 있을 확률

df['p_c'] = float(-1)

for i in range(len(df)):
    if df['rho'][i] == 1:
        df['p_c'][i] = 1 / (1 + df['c'][i]) 
    else:
        df['p_c'][i] = (df['rho'][i]**df['c'][i]) * ((1 - df['rho'][i]) / (1 - (df['rho'][i]**(df['c'][i] + 1))))
df

,대여소명,대여소번호,년,월,시간,lambda_15,mu_15,c,rho,p_c
0,(구)신한은행 중랑교지점,1442,2020,3,0,0.362903,0.209677,2.0,1.730769,0.523121
1,(구)신한은행 중랑교지점,1442,2020,3,1,0.346774,0.145161,2.0,2.388889,0.627418
2,(구)신한은행 중랑교지점,1442,2020,3,2,0.217742,0.233871,2.0,0.931034,0.309817
3,(구)신한은행 중랑교지점,1442,2020,3,3,0.185484,0.120968,2.0,1.533333,0.481347
4,(구)신한은행 중랑교지점,1442,2020,3,4,0.145161,0.153226,2.0,0.947368,0.315482
...,...,...,...,...,...,...,...,...,...,...
38699,희성오피앙,1639,2020,3,19,0.596774,0.483871,3.0,1.233333,0.333193
38700,희성오피앙,1639,2020,3,20,0.459677,0.330645,3.0,1.390244,0.383311
38701,희성오피앙,1639,2020,3,21,0.403226,0.435484,3.0,0.925926,0.221921
38702,희성오피앙,1639,2020,3,22,0.419355,0.362903,3.0,1.155556,0.306527
38703,희성오피앙,1639,2020,3,23,0.217742,0.129032,3.0,1.687500,0.464715

In [21]:
# L_s : 대여소 내 평균 자전거 수

df['L_s'] = float(-1)

for i in range(len(df)):
    rho = df['rho'][i]
    c = df['c'][i]
    if df['rho'][i] == 1:
        df['L_s'][i] = c / 2
    else:
        df['L_s'][i] = (rho / (1 - rho)) * ((1 - ((c + 1) * rho**c) + (c * rho**(c + 1))) / (1 - (rho**(c + 1))))
df

,대여소명,대여소번호,년,월,시간,lambda_15,mu_15,c,rho,p_c,L_s
0,(구)신한은행 중랑교지점,1442,2020,3,0,0.362903,0.209677,2.0,1.730769,0.523121,1.348489
1,(구)신한은행 중랑교지점,1442,2020,3,1,0.346774,0.145161,2.0,2.388889,0.627418,1.517475
2,(구)신한은행 중랑교지점,1442,2020,3,2,0.217742,0.233871,2.0,0.931034,0.309817,0.952401
3,(구)신한은행 중랑교지점,1442,2020,3,3,0.185484,0.120968,2.0,1.533333,0.481347,1.276615
4,(구)신한은행 중랑교지점,1442,2020,3,4,0.145161,0.153226,2.0,0.947368,0.315482,0.963973
...,...,...,...,...,...,...,...,...,...,...,...
38699,희성오피앙,1639,2020,3,19,0.596774,0.483871,3.0,1.233333,0.333193,1.758938
38700,희성오피앙,1639,2020,3,20,0.459677,0.330645,3.0,1.390244,0.383311,1.899685
38701,희성오피앙,1639,2020,3,21,0.403226,0.435484,3.0,0.925926,0.221921,1.403960
38702,희성오피앙,1639,2020,3,22,0.419355,0.362903,3.0,1.155556,0.306527,1.679665
38703,희성오피앙,1639,2020,3,23,0.217742,0.129032,3.0,1.687500,0.464715,2.108110

In [22]:
# W_s : 대여소 내 평균 대기시간(자전거 반납 후 재대여 될 때까지의 시간)

df['W_s'] = float(-1)

for i in range(len(df)):
    if df['p_c'][i] == 0:
        df['W_s'][i] = 0
    elif df['p_c'][i] == 1:
        df['W_s'][i] = 0
    else:
        df['W_s'][i] = df['L_s'][i] / (df['lambda_15'][i] * (1 - df['p_c'][i]))
df

,대여소명,대여소번호,년,월,시간,lambda_15,mu_15,c,rho,p_c,L_s,W_s
0,(구)신한은행 중랑교지점,1442,2020,3,0,0.362903,0.209677,2.0,1.730769,0.523121,1.348489,7.791983
1,(구)신한은행 중랑교지점,1442,2020,3,1,0.346774,0.145161,2.0,2.388889,0.627418,1.517475,11.744991
2,(구)신한은행 중랑교지점,1442,2020,3,2,0.217742,0.233871,2.0,0.931034,0.309817,0.952401,6.337438
3,(구)신한은행 중랑교지점,1442,2020,3,3,0.185484,0.120968,2.0,1.533333,0.481347,1.276615,13.270175
4,(구)신한은행 중랑교지점,1442,2020,3,4,0.145161,0.153226,2.0,0.947368,0.315482,0.963973,9.701280
...,...,...,...,...,...,...,...,...,...,...,...,...
38699,희성오피앙,1639,2020,3,19,0.596774,0.483871,3.0,1.233333,0.333193,1.758938,4.420183
38700,희성오피앙,1639,2020,3,20,0.459677,0.330645,3.0,1.390244,0.383311,1.899685,6.701353
38701,희성오피앙,1639,2020,3,21,0.403226,0.435484,3.0,0.925926,0.221921,1.403960,4.474892
38702,희성오피앙,1639,2020,3,22,0.419355,0.362903,3.0,1.155556,0.306527,1.679665,5.775791
38703,희성오피앙,1639,2020,3,23,0.217742,0.129032,3.0,1.687500,0.464715,2.108110,18.086980

In [23]:
# 일부 칼럼 타입 카테고리로 변환

df = df.astype({'대여소명' : 'category', '대여소번호' : 'category'})

In [24]:
station = pd.read_csv('./대학원/데이터/정리 데이터/공공자전거 대여소 정보(21.06월 기준).csv')
station.head()

,대여소 번호,보관소(대여소)명,자치구,상세주소,위도,경도,설치 시기,LCD 거치대수,QR 거치대수,운영 방식
0,102,망원역 1번출구 앞,마포구,서울특별시 마포구 월드컵로 72,37.555649,126.910629,2015-09-06,20.0,NaN,LCD
1,103,망원역 2번출구 앞,마포구,서울특별시 마포구 월드컵로 79,37.554951,126.910835,2015-09-06,14.0,NaN,LCD
2,104,합정역 1번출구 앞,마포구,서울특별시 마포구 양화로 59,37.550629,126.914986,2015-09-06,13.0,NaN,LCD
3,105,합정역 5번출구 앞,마포구,서울특별시 마포구 양화로 48,37.550007,126.914825,2015-09-06,5.0,NaN,LCD
4,106,합정역 7번출구 앞,마포구,서울특별시 마포구 독막로 4,37.548645,126.912826,2015-09-06,10.0,NaN,LCD

In [25]:
station = station.astype({'자치구' : 'category', '대여소 번호' : 'category'})

In [26]:
station = station.rename(columns = {'대여소 번호' : '대여소번호'})
station

,대여소번호,보관소(대여소)명,자치구,상세주소,위도,경도,설치 시기,LCD 거치대수,QR 거치대수,운영 방식
0,102,망원역 1번출구 앞,마포구,서울특별시 마포구 월드컵로 72,37.555649,126.910629,2015-09-06,20.0,NaN,LCD
1,103,망원역 2번출구 앞,마포구,서울특별시 마포구 월드컵로 79,37.554951,126.910835,2015-09-06,14.0,NaN,LCD
2,104,합정역 1번출구 앞,마포구,서울특별시 마포구 양화로 59,37.550629,126.914986,2015-09-06,13.0,NaN,LCD
3,105,합정역 5번출구 앞,마포구,서울특별시 마포구 양화로 48,37.550007,126.914825,2015-09-06,5.0,NaN,LCD
4,106,합정역 7번출구 앞,마포구,서울특별시 마포구 독막로 4,37.548645,126.912826,2015-09-06,10.0,NaN,LCD
...,...,...,...,...,...,...,...,...,...,...
2462,4864,송파사거리,송파구,송파구 송파동 97-2,37.502056,127.110550,2021-04-27,NaN,6.0,QR
2463,4865,한성백제역 1번출구 뒤,송파구,송파구 방이동 45-4,37.516342,127.115593,2021-04-28,NaN,5.0,QR
2464,4867,가락대림아파트 앞,송파구,송파구 가락동 94-9,37.500027,127.118431,2021-04-28,NaN,10.0,QR
2465,4868,레이크 호텔 앞,송파구,송파구 석촌동 158,37.507172,127.101242,2021-05-18,NaN,7.0,QR
2466,4869,잠실나들목6,송파구,잠실동 24,37.516296,127.084610,2021-06-21,NaN,9.0,QR

In [27]:
df = pd.merge(df, station[['자치구', '대여소번호']], on = '대여소번호')
df.head()

,대여소명,대여소번호,년,월,시간,lambda_15,mu_15,c,rho,p_c,L_s,W_s,자치구
0,(구)신한은행 중랑교지점,1442,2020,3,0,0.362903,0.209677,2.0,1.730769,0.523121,1.348489,7.791983,중랑구
1,(구)신한은행 중랑교지점,1442,2020,3,1,0.346774,0.145161,2.0,2.388889,0.627418,1.517475,11.744991,중랑구
2,(구)신한은행 중랑교지점,1442,2020,3,2,0.217742,0.233871,2.0,0.931034,0.309817,0.952401,6.337438,중랑구
3,(구)신한은행 중랑교지점,1442,2020,3,3,0.185484,0.120968,2.0,1.533333,0.481347,1.276615,13.270175,중랑구
4,(구)신한은행 중랑교지점,1442,2020,3,4,0.145161,0.153226,2.0,0.947368,0.315482,0.963973,9.701280,중랑구

In [28]:
df = df.drop(['대여소번호', 'c'], axis = 1)
df = df[['자치구', '대여소명', '년', '월', '시간','L_s', 'W_s']]
df.head()

   자치구           대여소명     년  월  시간       L_s        W_s
0  중랑구  (구)신한은행 중랑교지점  2020  3   0  1.348489   7.791983
1  중랑구  (구)신한은행 중랑교지점  2020  3   1  1.517475  11.744991
2  중랑구  (구)신한은행 중랑교지점  2020  3   2  0.952401   6.337438
3  중랑구  (구)신한은행 중랑교지점  2020  3   3  1.276615  13.270175
4  중랑구  (구)신한은행 중랑교지점  2020  3   4  0.963973   9.701280

In [29]:
df.to_excel('./2020.03 Ls, Ws.xlsx', index = False)