In [1]:
import pandas as pd
import numpy as np

import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

pd.set_option('display.max_columns', None)

mpl.rcParams['axes.unicode_minus'] = False
plt.rcParams['font.family'] = 'Malgun Gothic'


pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)

In [2]:
df2 = pd.read_csv('./data/file/공공자전거 대여이력_2020.08.csv', encoding = 'cp949')
df2.columns = ['자전거번호', '대여일시', '대여대여소번호', '대여대여소명', '대여거치대', '반납일시', '반납대여소번호', '반납대여소명', '반납거치대', '이용시간', '이용거리']
df2.head()

,자전거번호,대여일시,대여대여소번호,대여대여소명,대여거치대,반납일시,반납대여소번호,반납대여소명,반납거치대,이용시간,이용거리
0,SPB-31470,2020-08-01 00:00:01,714,한국SGI 양천문화회관 앞,0,2020-08-01 00:03:47,740,으뜸공원,0,4,0.0
1,SPB-33655,2020-08-01 00:00:01,2549,LH 서초 4단지 403동,0,2020-08-01 00:56:05,2549,LH 서초 4단지 403동,0,56,0.0
2,SPB-33402,2020-08-01 00:00:01,1017,맥도날드(길동),0,2020-08-01 00:08:35,1019,다성이즈빌아파트(호원대 대각선 맞은편),0,9,0.0
3,SPB-42406,2020-08-01 00:00:04,1402,금란주차장 앞,0,2020-08-01 00:16:15,1447,면목역 3번출구,0,16,0.0
4,SPB-38679,2020-08-01 00:00:06,592,건국대학교 학생회관,0,2020-08-01 00:13:57,513,뚝섬역 5번 출구 정류소 옆,0,14,0.0

In [3]:
df = df2[~df2['대여대여소명'].str.contains('\?')]
df.head()

,자전거번호,대여일시,대여대여소번호,대여대여소명,대여거치대,반납일시,반납대여소번호,반납대여소명,반납거치대,이용시간,이용거리
0,SPB-31470,2020-08-01 00:00:01,714,한국SGI 양천문화회관 앞,0,2020-08-01 00:03:47,740,으뜸공원,0,4,0.0
1,SPB-33655,2020-08-01 00:00:01,2549,LH 서초 4단지 403동,0,2020-08-01 00:56:05,2549,LH 서초 4단지 403동,0,56,0.0
2,SPB-33402,2020-08-01 00:00:01,1017,맥도날드(길동),0,2020-08-01 00:08:35,1019,다성이즈빌아파트(호원대 대각선 맞은편),0,9,0.0
3,SPB-42406,2020-08-01 00:00:04,1402,금란주차장 앞,0,2020-08-01 00:16:15,1447,면목역 3번출구,0,16,0.0
4,SPB-38679,2020-08-01 00:00:06,592,건국대학교 학생회관,0,2020-08-01 00:13:57,513,뚝섬역 5번 출구 정류소 옆,0,14,0.0

In [4]:
df = df[~df['반납대여소명'].str.contains('\?')]
df

,자전거번호,대여일시,대여대여소번호,대여대여소명,대여거치대,반납일시,반납대여소번호,반납대여소명,반납거치대,이용시간,이용거리
0,SPB-31470,2020-08-01 00:00:01,714,한국SGI 양천문화회관 앞,0,2020-08-01 00:03:47,740,으뜸공원,0,4,0.0
1,SPB-33655,2020-08-01 00:00:01,2549,LH 서초 4단지 403동,0,2020-08-01 00:56:05,2549,LH 서초 4단지 403동,0,56,0.0
2,SPB-33402,2020-08-01 00:00:01,1017,맥도날드(길동),0,2020-08-01 00:08:35,1019,다성이즈빌아파트(호원대 대각선 맞은편),0,9,0.0
3,SPB-42406,2020-08-01 00:00:04,1402,금란주차장 앞,0,2020-08-01 00:16:15,1447,면목역 3번출구,0,16,0.0
4,SPB-38679,2020-08-01 00:00:06,592,건국대학교 학생회관,0,2020-08-01 00:13:57,513,뚝섬역 5번 출구 정류소 옆,0,14,0.0
...,...,...,...,...,...,...,...,...,...,...,...
1715225,SPB-36683,2020-08-31 23:59:47,519,양지사거리,0,2020-09-01 00:09:02,378,청계7가 사거리,0,9,0.0
1715226,SPB-37010,2020-08-31 23:59:50,2228,뒷벌공원 옆,0,2020-09-01 00:03:32,2264,이수역 1번출구,0,4,0.0
1715227,SPB-41286,2020-08-31 23:59:54,130,신촌역(2호선) 7번출구 앞,0,2020-09-01 00:24:55,170,가재울 뉴타운 주유소 옆,0,25,0.0
1715228,SPB-40184,2020-08-31 23:59:55,502,뚝섬유원지역 1번출구 앞,0,2020-09-01 00:50:40,502,뚝섬유원지역 1번출구 앞,0,51,0.0
1715229,SPB-22523,2020-08-31 23:59:59,939,은평구청 교차로,15,2020-09-01 00:01:58,900,은평예술회관,6,1,280.0

In [5]:
df = df.drop(['자전거번호', '대여거치대', '반납거치대', '이용거리'], axis = 1)
df.head()

,대여일시,대여대여소번호,대여대여소명,반납일시,반납대여소번호,반납대여소명,이용시간
0,2020-08-01 00:00:01,714,한국SGI 양천문화회관 앞,2020-08-01 00:03:47,740,으뜸공원,4
1,2020-08-01 00:00:01,2549,LH 서초 4단지 403동,2020-08-01 00:56:05,2549,LH 서초 4단지 403동,56
2,2020-08-01 00:00:01,1017,맥도날드(길동),2020-08-01 00:08:35,1019,다성이즈빌아파트(호원대 대각선 맞은편),9
3,2020-08-01 00:00:04,1402,금란주차장 앞,2020-08-01 00:16:15,1447,면목역 3번출구,16
4,2020-08-01 00:00:06,592,건국대학교 학생회관,2020-08-01 00:13:57,513,뚝섬역 5번 출구 정류소 옆,14

In [6]:
df['대여일시'] = pd.to_datetime(df['대여일시'])
df['반납일시'] = pd.to_datetime(df['반납일시'])

df['대여년'] = df['대여일시'].dt.year
df['대여월'] = df['대여일시'].dt.month
df['대여일'] = df['대여일시'].dt.day
df['대여요일'] = df['대여일시'].dt.dayofweek
df['대여시간'] = df['대여일시'].dt.hour
df['대여시간_분'] = df['대여일시'].dt.minute

df['반납년'] = df['반납일시'].dt.year
df['반납월'] = df['반납일시'].dt.month
df['반납일'] = df['반납일시'].dt.day
df['반납요일'] = df['반납일시'].dt.dayofweek
df['반납시간'] = df['반납일시'].dt.hour
df['반납시간_분'] = df['반납일시'].dt.minute

In [7]:
df = df.sort_values('대여일시', ignore_index = True)
df.head()

,대여일시,대여대여소번호,대여대여소명,반납일시,반납대여소번호,반납대여소명,이용시간,대여년,대여월,대여일,대여요일,대여시간,대여시간_분,반납년,반납월,반납일,반납요일,반납시간,반납시간_분
0,2020-08-01 00:00:01,714,한국SGI 양천문화회관 앞,2020-08-01 00:03:47,740,으뜸공원,4,2020,8,1,5,0,0,2020,8,1,5,0,3
1,2020-08-01 00:00:01,2549,LH 서초 4단지 403동,2020-08-01 00:56:05,2549,LH 서초 4단지 403동,56,2020,8,1,5,0,0,2020,8,1,5,0,56
2,2020-08-01 00:00:01,1017,맥도날드(길동),2020-08-01 00:08:35,1019,다성이즈빌아파트(호원대 대각선 맞은편),9,2020,8,1,5,0,0,2020,8,1,5,0,8
3,2020-08-01 00:00:04,1402,금란주차장 앞,2020-08-01 00:16:15,1447,면목역 3번출구,16,2020,8,1,5,0,0,2020,8,1,5,0,16
4,2020-08-01 00:00:06,592,건국대학교 학생회관,2020-08-01 00:13:57,513,뚝섬역 5번 출구 정류소 옆,14,2020,8,1,5,0,0,2020,8,1,5,0,13

In [8]:
df_rental = df[['대여일시', '대여대여소명','대여대여소번호', '대여년', '대여월', '대여일', '대여요일', '대여시간', '대여시간_분']]
df_rental.reset_index(drop = True, inplace = True)
df_rental.head()

,대여일시,대여대여소명,대여대여소번호,대여년,대여월,대여일,대여요일,대여시간,대여시간_분
0,2020-08-01 00:00:01,한국SGI 양천문화회관 앞,714,2020,8,1,5,0,0
1,2020-08-01 00:00:01,LH 서초 4단지 403동,2549,2020,8,1,5,0,0
2,2020-08-01 00:00:01,맥도날드(길동),1017,2020,8,1,5,0,0
3,2020-08-01 00:00:04,금란주차장 앞,1402,2020,8,1,5,0,0
4,2020-08-01 00:00:06,건국대학교 학생회관,592,2020,8,1,5,0,0

In [9]:
df_rental2 = df_rental.groupby(['대여대여소명','대여대여소번호', '대여년', '대여월', '대여시간']).size().reset_index().rename(columns = {0 : 'rent_count'})
df_rental2

              대여대여소명  대여대여소번호   대여년  대여월  대여시간  rent_count
0      (구)신한은행 중랑교지점     1442  2020    8     0          64
1      (구)신한은행 중랑교지점     1442  2020    8     1          51
2      (구)신한은행 중랑교지점     1442  2020    8     2          45
3      (구)신한은행 중랑교지점     1442  2020    8     3          24
4      (구)신한은행 중랑교지점     1442  2020    8     4          15
...              ...      ...   ...  ...   ...         ...
48063        힐스테이트에코     2720  2020    8    19         141
48064        힐스테이트에코     2720  2020    8    20         147
48065        힐스테이트에코     2720  2020    8    21         114
48066        힐스테이트에코     2720  2020    8    22          91
48067        힐스테이트에코     2720  2020    8    23          72

[48068 rows x 6 columns]

In [10]:
df_rental2['rent_count'] = df_rental2['rent_count'] / 31
df_rental2['mu_15'] = df_rental2['rent_count'] / 4
df_rental2

              대여대여소명  대여대여소번호   대여년  대여월  대여시간  rent_count     mu_15
0      (구)신한은행 중랑교지점     1442  2020    8     0    2.064516  0.516129
1      (구)신한은행 중랑교지점     1442  2020    8     1    1.645161  0.411290
2      (구)신한은행 중랑교지점     1442  2020    8     2    1.451613  0.362903
3      (구)신한은행 중랑교지점     1442  2020    8     3    0.774194  0.193548
4      (구)신한은행 중랑교지점     1442  2020    8     4    0.483871  0.120968
...              ...      ...   ...  ...   ...         ...       ...
48063        힐스테이트에코     2720  2020    8    19    4.548387  1.137097
48064        힐스테이트에코     2720  2020    8    20    4.741935  1.185484
48065        힐스테이트에코     2720  2020    8    21    3.677419  0.919355
48066        힐스테이트에코     2720  2020    8    22    2.935484  0.733871
48067        힐스테이트에코     2720  2020    8    23    2.322581  0.580645

[48068 rows x 7 columns]

In [11]:
df_return = df[['반납일시', '반납대여소명', '반납대여소번호','반납년', '반납월', '반납일', '반납요일', '반납시간', '반납시간_분']]
df_return.reset_index(drop = True, inplace = True)
df_return

,반납일시,반납대여소명,반납대여소번호,반납년,반납월,반납일,반납요일,반납시간,반납시간_분
0,2020-08-01 00:03:47,으뜸공원,740,2020,8,1,5,0,3
1,2020-08-01 00:56:05,LH 서초 4단지 403동,2549,2020,8,1,5,0,56
2,2020-08-01 00:08:35,다성이즈빌아파트(호원대 대각선 맞은편),1019,2020,8,1,5,0,8
3,2020-08-01 00:16:15,면목역 3번출구,1447,2020,8,1,5,0,16
4,2020-08-01 00:13:57,뚝섬역 5번 출구 정류소 옆,513,2020,8,1,5,0,13
...,...,...,...,...,...,...,...,...,...
1710853,2020-09-01 00:09:02,청계7가 사거리,378,2020,9,1,1,0,9
1710854,2020-09-01 00:03:32,이수역 1번출구,2264,2020,9,1,1,0,3
1710855,2020-09-01 00:24:55,가재울 뉴타운 주유소 옆,170,2020,9,1,1,0,24
1710856,2020-09-01 00:50:40,뚝섬유원지역 1번출구 앞,502,2020,9,1,1,0,50
1710857,2020-09-01 00:01:58,은평예술회관,900,2020,9,1,1,0,1

In [12]:
df_c = pd.DataFrame(df_return[['반납대여소명','반납대여소번호','반납년', '반납월','반납시간']].value_counts()).rename(columns = {0 : 'return_count'}).reset_index()
df_c.reset_index(drop=True, inplace = True)
df_c['return_count'] = df_c['return_count'] / 31
df_c['lambda15'] = df_c['return_count']/4
df_c.columns = ['대여소명','대여소번호','년', '월','시간','return_count','lambda15']
df_c

                대여소명  대여소번호     년  월  시간  return_count  lambda15
0      뚝섬유원지역 1번출구 앞    502  2020  8  21     27.774194  6.943548
1       여의나루역 1번출구 앞    207  2020  8  21     27.741935  6.935484
2       여의나루역 1번출구 앞    207  2020  8  22     27.000000  6.750000
3       여의나루역 1번출구 앞    207  2020  8  20     25.580645  6.395161
4      뚝섬유원지역 1번출구 앞    502  2020  8  20     23.903226  5.975806
...              ...    ...   ... ..  ..           ...       ...
48432      관악문화원 건너편   2200  2020  8  18      0.032258  0.008065
48433         종로구청 옆    305  2020  8   2      0.032258  0.008065
48434     종로5가역 4번출구   3414  2020  8  21      0.032258  0.008065
48435     합정역 7번출구 앞    106  2020  9   0      0.032258  0.008065
48436           목마공원    776  2020  8   2      0.032258  0.008065

[48437 rows x 7 columns]

In [13]:
return_ubound = pd.DataFrame(df_c.groupby(['대여소명','대여소번호'])['return_count'].agg(lambda x : np.floor(np.percentile(x,75)+(np.percentile(x,75)-np.percentile(x,25))*1.5))).reset_index().rename(columns = {'return_count' : 'upperbound'})
return_ubound.head()

            대여소명  대여소번호  upperbound
0  (구)신한은행 중랑교지점   1442         5.0
1    (구)합정동 주민센터    101         2.0
2    (시립)고덕평생학습관   1070         0.0
3   (재)FITI시험연구원   2724         5.0
4  3호선 매봉역 3번출구앞   2335         2.0

In [14]:
df_rental2.columns = ['대여소명','대여소번호','년', '월','시간', 'rent_count','mu_15']
df = pd.merge(df_c, df_rental2, on=['대여소명','대여소번호','년', '월','시간'], how='outer')
df.tail()

,대여소명,대여소번호,년,월,시간,return_count,lambda15,rent_count,mu_15
49732,흑석한강푸르지오(110동),2092,2020,8,13,NaN,NaN,0.096774,0.024194
49733,흑석한강푸르지오(110동),2092,2020,8,17,NaN,NaN,0.193548,0.048387
49734,흥국사 정류장,991,2020,8,0,NaN,NaN,0.032258,0.008065
49735,흥국사 정류장,991,2020,8,11,NaN,NaN,0.096774,0.024194
49736,흥국사 정류장,991,2020,8,23,NaN,NaN,0.032258,0.008065

In [15]:
stops = df[['대여소명','대여소번호']].drop_duplicates().reset_index(drop=True)
Dayhour = pd.DataFrame({'년':np.repeat(2020, 24*len(stops)),'월':np.repeat(8, 24*len(stops)),'시간':np.repeat(np.arange(24), len(stops))})
stops2 = pd.concat([stops] * 24).reset_index(drop=True)
Dayhour_frame = pd.concat([stops2,Dayhour],axis=1)

In [16]:
df = pd.merge(df,Dayhour_frame, on = ['대여소명','대여소번호','년', '월','시간'],how='outer')
df = pd.merge(df, return_ubound, on=['대여소명','대여소번호'], how='outer')
df.fillna(0, inplace=True)
df.tail()

,대여소명,대여소번호,년,월,시간,return_count,lambda15,rent_count,mu_15,upperbound
50785,훈련원센터,9991,2020,8,19,0.0,0.0,0.0,0.0,0.0
50786,훈련원센터,9991,2020,8,20,0.0,0.0,0.0,0.0,0.0
50787,훈련원센터,9991,2020,8,21,0.0,0.0,0.0,0.0,0.0
50788,훈련원센터,9991,2020,8,22,0.0,0.0,0.0,0.0,0.0
50789,훈련원센터,9991,2020,8,23,0.0,0.0,0.0,0.0,0.0

In [17]:
df = df.sort_values(['대여소명', '대여소번호','년', '월', '시간'], ignore_index = True)
df

,대여소명,대여소번호,년,월,시간,return_count,lambda15,rent_count,mu_15,upperbound
0,(구)신한은행 중랑교지점,1442,2020,8,0,2.096774,0.524194,2.064516,0.516129,5.0
1,(구)신한은행 중랑교지점,1442,2020,8,1,1.677419,0.419355,1.645161,0.411290,5.0
2,(구)신한은행 중랑교지점,1442,2020,8,2,1.193548,0.298387,1.451613,0.362903,5.0
3,(구)신한은행 중랑교지점,1442,2020,8,3,0.870968,0.217742,0.774194,0.193548,5.0
4,(구)신한은행 중랑교지점,1442,2020,8,4,0.483871,0.120968,0.483871,0.120968,5.0
...,...,...,...,...,...,...,...,...,...,...
50785,힐스테이트에코,2720,2020,8,20,3.903226,0.975806,4.741935,1.185484,7.0
50786,힐스테이트에코,2720,2020,8,21,3.322581,0.830645,3.677419,0.919355,7.0
50787,힐스테이트에코,2720,2020,8,22,3.032258,0.758065,2.935484,0.733871,7.0
50788,힐스테이트에코,2720,2020,8,23,1.967742,0.491935,2.322581,0.580645,7.0
50789,힐스테이트에코,2720,2020,9,0,0.064516,0.016129,0.000000,0.000000,7.0

In [18]:
df = df.drop(['return_count', 'rent_count'], axis = 1)
df = df.rename(columns = {'lambda15' : 'lambda_15', 'upperbound' : 'c'})
df

                대여소명  대여소번호     년  월  시간  lambda_15     mu_15    c
0      (구)신한은행 중랑교지점   1442  2020  8   0   0.524194  0.516129  5.0
1      (구)신한은행 중랑교지점   1442  2020  8   1   0.419355  0.411290  5.0
2      (구)신한은행 중랑교지점   1442  2020  8   2   0.298387  0.362903  5.0
3      (구)신한은행 중랑교지점   1442  2020  8   3   0.217742  0.193548  5.0
4      (구)신한은행 중랑교지점   1442  2020  8   4   0.120968  0.120968  5.0
...              ...    ...   ... ..  ..        ...       ...  ...
50785        힐스테이트에코   2720  2020  8  20   0.975806  1.185484  7.0
50786        힐스테이트에코   2720  2020  8  21   0.830645  0.919355  7.0
50787        힐스테이트에코   2720  2020  8  22   0.758065  0.733871  7.0
50788        힐스테이트에코   2720  2020  8  23   0.491935  0.580645  7.0
50789        힐스테이트에코   2720  2020  9   0   0.016129  0.000000  7.0

[50790 rows x 8 columns]

In [19]:
df['rho'] = float(-1)

for i in range(len(df)):
    if df['mu_15'][i] == 0:
        df['rho'][i] = 0
    else:
        df['rho'][i] = df['lambda_15'][i] / df['mu_15'][i]
df

                대여소명  대여소번호     년  월  시간  lambda_15     mu_15    c       rho
0      (구)신한은행 중랑교지점   1442  2020  8   0   0.524194  0.516129  5.0  1.015625
1      (구)신한은행 중랑교지점   1442  2020  8   1   0.419355  0.411290  5.0  1.019608
2      (구)신한은행 중랑교지점   1442  2020  8   2   0.298387  0.362903  5.0  0.822222
3      (구)신한은행 중랑교지점   1442  2020  8   3   0.217742  0.193548  5.0  1.125000
4      (구)신한은행 중랑교지점   1442  2020  8   4   0.120968  0.120968  5.0  1.000000
...              ...    ...   ... ..  ..        ...       ...  ...       ...
50785        힐스테이트에코   2720  2020  8  20   0.975806  1.185484  7.0  0.823129
50786        힐스테이트에코   2720  2020  8  21   0.830645  0.919355  7.0  0.903509
50787        힐스테이트에코   2720  2020  8  22   0.758065  0.733871  7.0  1.032967
50788        힐스테이트에코   2720  2020  8  23   0.491935  0.580645  7.0  0.847222
50789        힐스테이트에코   2720  2020  9   0   0.016129  0.000000  7.0  0.000000

[50790 rows x 9 columns]

In [20]:
# p_c: 대여소에 자전거가 c개(최대거치용량) 있을 확률

df['p_c'] = float(-1)

for i in range(len(df)):
    if df['rho'][i] == 1:
        df['p_c'][i] = 1 / (1 + df['c'][i]) 
    else:
        df['p_c'][i] = (df['rho'][i]**df['c'][i]) * ((1 - df['rho'][i]) / (1 - (df['rho'][i]**(df['c'][i] + 1))))
df

,대여소명,대여소번호,년,월,시간,lambda_15,mu_15,c,rho,p_c
0,(구)신한은행 중랑교지점,1442,2020,8,0,0.524194,0.516129,5.0,1.015625,0.173193
1,(구)신한은행 중랑교지점,1442,2020,8,1,0.419355,0.411290,5.0,1.019608,0.174861
2,(구)신한은행 중랑교지점,1442,2020,8,2,0.298387,0.362903,5.0,0.822222,0.096680
3,(구)신한은행 중랑교지점,1442,2020,8,3,0.217742,0.193548,5.0,1.125000,0.219271
4,(구)신한은행 중랑교지점,1442,2020,8,4,0.120968,0.120968,5.0,1.000000,0.166667
...,...,...,...,...,...,...,...,...,...,...
50785,힐스테이트에코,2720,2020,8,20,0.975806,1.185484,7.0,0.823129,0.057374
50786,힐스테이트에코,2720,2020,8,21,0.830645,0.919355,7.0,0.903509,0.085310
50787,힐스테이트에코,2720,2020,8,22,0.758065,0.733871,7.0,1.032967,0.139641
50788,힐스테이트에코,2720,2020,8,23,0.491935,0.580645,7.0,0.847222,0.065166
50789,힐스테이트에코,2720,2020,9,0,0.016129,0.000000,7.0,0.000000,0.000000

In [21]:
# L_s : 대여소 내 평균 자전거 수

df['L_s'] = float(-1)

for i in range(len(df)):
    rho = df['rho'][i]
    c = df['c'][i]
    if df['rho'][i] == 1:
        df['L_s'][i] = c / 2
    else:
        df['L_s'][i] = (rho / (1 - rho)) * ((1 - ((c + 1) * rho**c) + (c * rho**(c + 1))) / (1 - (rho**(c + 1))))
df

,대여소명,대여소번호,년,월,시간,lambda_15,mu_15,c,rho,p_c,L_s
0,(구)신한은행 중랑교지점,1442,2020,8,0,0.524194,0.516129,5.0,1.015625,0.173193,2.545214
1,(구)신한은행 중랑교지점,1442,2020,8,1,0.419355,0.411290,5.0,1.019608,0.174861,2.556623
2,(구)신한은행 중랑교지점,1442,2020,8,2,0.298387,0.362903,5.0,0.822222,0.096680,1.942140
3,(구)신한은행 중랑교지점,1442,2020,8,3,0.217742,0.193548,5.0,1.125000,0.219271,2.840629
4,(구)신한은행 중랑교지점,1442,2020,8,4,0.120968,0.120968,5.0,1.000000,0.166667,2.500000
...,...,...,...,...,...,...,...,...,...,...,...
50785,힐스테이트에코,2720,2020,8,20,0.975806,1.185484,7.0,0.823129,0.057374,2.517786
50786,힐스테이트에코,2720,2020,8,21,0.830645,0.919355,7.0,0.903509,0.085310,2.973136
50787,힐스테이트에코,2720,2020,8,22,0.758065,0.733871,7.0,1.032967,0.139641,3.670091
50788,힐스테이트에코,2720,2020,8,23,0.491935,0.580645,7.0,0.847222,0.065166,2.654469
50789,힐스테이트에코,2720,2020,9,0,0.016129,0.000000,7.0,0.000000,0.000000,0.000000

In [22]:
# W_s : 대여소 내 평균 대기시간(자전거 반납 후 재대여 될 때까지의 시간)

df['W_s'] = float(-1)

for i in range(len(df)):
    if df['p_c'][i] == 0:
        df['W_s'][i] = 0
    elif df['p_c'][i] == 1:
        df['W_s'][i] = 0
    else:
        df['W_s'][i] = df['L_s'][i] / (df['lambda_15'][i] * (1 - df['p_c'][i]))
df

,대여소명,대여소번호,년,월,시간,lambda_15,mu_15,c,rho,p_c,L_s,W_s
0,(구)신한은행 중랑교지점,1442,2020,8,0,0.524194,0.516129,5.0,1.015625,0.173193,2.545214,5.872572
1,(구)신한은행 중랑교지점,1442,2020,8,1,0.419355,0.411290,5.0,1.019608,0.174861,2.556623,7.388527
2,(구)신한은행 중랑교지점,1442,2020,8,2,0.298387,0.362903,5.0,0.822222,0.096680,1.942140,7.205408
3,(구)신한은행 중랑교지점,1442,2020,8,3,0.217742,0.193548,5.0,1.125000,0.219271,2.840629,16.709835
4,(구)신한은행 중랑교지점,1442,2020,8,4,0.120968,0.120968,5.0,1.000000,0.166667,2.500000,24.800000
...,...,...,...,...,...,...,...,...,...,...,...,...
50785,힐스테이트에코,2720,2020,8,20,0.975806,1.185484,7.0,0.823129,0.057374,2.517786,2.737257
50786,힐스테이트에코,2720,2020,8,21,0.830645,0.919355,7.0,0.903509,0.085310,2.973136,3.913139
50787,힐스테이트에코,2720,2020,8,22,0.758065,0.733871,7.0,1.032967,0.139641,3.670091,5.627185
50788,힐스테이트에코,2720,2020,8,23,0.491935,0.580645,7.0,0.847222,0.065166,2.654469,5.772114
50789,힐스테이트에코,2720,2020,9,0,0.016129,0.000000,7.0,0.000000,0.000000,0.000000,0.000000

In [23]:
# 일부 칼럼 타입 카테고리로 변환

df = df.astype({'대여소명' : 'category', '대여소번호' : 'category'})

In [24]:
station = pd.read_csv('./대학원/데이터/정리 데이터/공공자전거 대여소 정보(21.06월 기준).csv')
station.head()

,대여소 번호,보관소(대여소)명,자치구,상세주소,위도,경도,설치 시기,LCD 거치대수,QR 거치대수,운영 방식
0,102,망원역 1번출구 앞,마포구,서울특별시 마포구 월드컵로 72,37.555649,126.910629,2015-09-06,20.0,NaN,LCD
1,103,망원역 2번출구 앞,마포구,서울특별시 마포구 월드컵로 79,37.554951,126.910835,2015-09-06,14.0,NaN,LCD
2,104,합정역 1번출구 앞,마포구,서울특별시 마포구 양화로 59,37.550629,126.914986,2015-09-06,13.0,NaN,LCD
3,105,합정역 5번출구 앞,마포구,서울특별시 마포구 양화로 48,37.550007,126.914825,2015-09-06,5.0,NaN,LCD
4,106,합정역 7번출구 앞,마포구,서울특별시 마포구 독막로 4,37.548645,126.912826,2015-09-06,10.0,NaN,LCD

In [25]:
station = station.astype({'자치구' : 'category', '대여소 번호' : 'category'})

In [26]:
station = station.rename(columns = {'대여소 번호' : '대여소번호'})
station

,대여소번호,보관소(대여소)명,자치구,상세주소,위도,경도,설치 시기,LCD 거치대수,QR 거치대수,운영 방식
0,102,망원역 1번출구 앞,마포구,서울특별시 마포구 월드컵로 72,37.555649,126.910629,2015-09-06,20.0,NaN,LCD
1,103,망원역 2번출구 앞,마포구,서울특별시 마포구 월드컵로 79,37.554951,126.910835,2015-09-06,14.0,NaN,LCD
2,104,합정역 1번출구 앞,마포구,서울특별시 마포구 양화로 59,37.550629,126.914986,2015-09-06,13.0,NaN,LCD
3,105,합정역 5번출구 앞,마포구,서울특별시 마포구 양화로 48,37.550007,126.914825,2015-09-06,5.0,NaN,LCD
4,106,합정역 7번출구 앞,마포구,서울특별시 마포구 독막로 4,37.548645,126.912826,2015-09-06,10.0,NaN,LCD
...,...,...,...,...,...,...,...,...,...,...
2462,4864,송파사거리,송파구,송파구 송파동 97-2,37.502056,127.110550,2021-04-27,NaN,6.0,QR
2463,4865,한성백제역 1번출구 뒤,송파구,송파구 방이동 45-4,37.516342,127.115593,2021-04-28,NaN,5.0,QR
2464,4867,가락대림아파트 앞,송파구,송파구 가락동 94-9,37.500027,127.118431,2021-04-28,NaN,10.0,QR
2465,4868,레이크 호텔 앞,송파구,송파구 석촌동 158,37.507172,127.101242,2021-05-18,NaN,7.0,QR
2466,4869,잠실나들목6,송파구,잠실동 24,37.516296,127.084610,2021-06-21,NaN,9.0,QR

In [27]:
df = pd.merge(df, station[['자치구', '대여소번호']], on = '대여소번호')
df.head()

,대여소명,대여소번호,년,월,시간,lambda_15,mu_15,c,rho,p_c,L_s,W_s,자치구
0,(구)신한은행 중랑교지점,1442,2020,8,0,0.524194,0.516129,5.0,1.015625,0.173193,2.545214,5.872572,중랑구
1,(구)신한은행 중랑교지점,1442,2020,8,1,0.419355,0.411290,5.0,1.019608,0.174861,2.556623,7.388527,중랑구
2,(구)신한은행 중랑교지점,1442,2020,8,2,0.298387,0.362903,5.0,0.822222,0.096680,1.942140,7.205408,중랑구
3,(구)신한은행 중랑교지점,1442,2020,8,3,0.217742,0.193548,5.0,1.125000,0.219271,2.840629,16.709835,중랑구
4,(구)신한은행 중랑교지점,1442,2020,8,4,0.120968,0.120968,5.0,1.000000,0.166667,2.500000,24.800000,중랑구

In [28]:
df = df.drop(['대여소번호', 'c'], axis = 1)
df = df[['자치구', '대여소명', '년', '월', '시간','L_s', 'W_s']]
df.head()

   자치구           대여소명     년  월  시간       L_s        W_s
0  중랑구  (구)신한은행 중랑교지점  2020  8   0  2.545214   5.872572
1  중랑구  (구)신한은행 중랑교지점  2020  8   1  2.556623   7.388527
2  중랑구  (구)신한은행 중랑교지점  2020  8   2  1.942140   7.205408
3  중랑구  (구)신한은행 중랑교지점  2020  8   3  2.840629  16.709835
4  중랑구  (구)신한은행 중랑교지점  2020  8   4  2.500000  24.800000

In [29]:
df.to_excel('./2020.08 Ls, Ws.xlsx', index = False)