In [1]:
import pandas as pd
import numpy as np

import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

pd.set_option('display.max_columns', None)

mpl.rcParams['axes.unicode_minus'] = False
plt.rcParams['font.family'] = 'Malgun Gothic'


pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)

In [2]:
df2 = pd.read_csv('./data/file/공공자전거 대여이력_2020.06.csv', encoding = 'cp949')
df2.columns = ['자전거번호', '대여일시', '대여대여소번호', '대여대여소명', '대여거치대', '반납일시', '반납대여소번호', '반납대여소명', '반납거치대', '이용시간', '이용거리']
df2.head()

,자전거번호,대여일시,대여대여소번호,대여대여소명,대여거치대,반납일시,반납대여소번호,반납대여소명,반납거치대,이용시간,이용거리
0,SPB-36260,2020-06-01 00:00:35,1681,현대6차 아파트,0,2020-06-01 00:05:24,1665,양지근린공원앞,0,5,0.0
1,SPB-36146,2020-06-01 00:01:47,816,신용산역 6번출구 앞,0,2020-06-01 00:05:54,829,베르가모앞,0,4,0.0
2,SPB-33273,2020-06-01 00:03:05,1050,둔촌역 3번 출입구,0,2020-06-01 00:05:59,1078,둔촌사거리,0,3,0.0
3,SPB-35969,2020-06-01 00:04:31,1209,잠실나루역 (2번 출구 쪽),0,2020-06-01 00:06:10,1209,잠실나루역 (2번 출구 쪽),0,2,0.0
4,SPB-30703,2020-06-01 00:00:46,1132,등촌역 7번출구,0,2020-06-01 00:06:53,1169,염창역 1번 출구,0,6,0.0

In [3]:
df = df2[~df2['대여대여소명'].str.contains('\?')]
df.head()

,자전거번호,대여일시,대여대여소번호,대여대여소명,대여거치대,반납일시,반납대여소번호,반납대여소명,반납거치대,이용시간,이용거리
0,SPB-36260,2020-06-01 00:00:35,1681,현대6차 아파트,0,2020-06-01 00:05:24,1665,양지근린공원앞,0,5,0.0
1,SPB-36146,2020-06-01 00:01:47,816,신용산역 6번출구 앞,0,2020-06-01 00:05:54,829,베르가모앞,0,4,0.0
2,SPB-33273,2020-06-01 00:03:05,1050,둔촌역 3번 출입구,0,2020-06-01 00:05:59,1078,둔촌사거리,0,3,0.0
3,SPB-35969,2020-06-01 00:04:31,1209,잠실나루역 (2번 출구 쪽),0,2020-06-01 00:06:10,1209,잠실나루역 (2번 출구 쪽),0,2,0.0
4,SPB-30703,2020-06-01 00:00:46,1132,등촌역 7번출구,0,2020-06-01 00:06:53,1169,염창역 1번 출구,0,6,0.0

In [4]:
df = df[~df['반납대여소명'].str.contains('\?')]
df

,자전거번호,대여일시,대여대여소번호,대여대여소명,대여거치대,반납일시,반납대여소번호,반납대여소명,반납거치대,이용시간,이용거리
0,SPB-36260,2020-06-01 00:00:35,1681,현대6차 아파트,0,2020-06-01 00:05:24,1665,양지근린공원앞,0,5,0.00
1,SPB-36146,2020-06-01 00:01:47,816,신용산역 6번출구 앞,0,2020-06-01 00:05:54,829,베르가모앞,0,4,0.00
2,SPB-33273,2020-06-01 00:03:05,1050,둔촌역 3번 출입구,0,2020-06-01 00:05:59,1078,둔촌사거리,0,3,0.00
3,SPB-35969,2020-06-01 00:04:31,1209,잠실나루역 (2번 출구 쪽),0,2020-06-01 00:06:10,1209,잠실나루역 (2번 출구 쪽),0,2,0.00
4,SPB-30703,2020-06-01 00:00:46,1132,등촌역 7번출구,0,2020-06-01 00:06:53,1169,염창역 1번 출구,0,6,0.00
...,...,...,...,...,...,...,...,...,...,...,...
2725232,SPB-12680,2020-06-30 13:01:33,1346,길음8골어린이공원 옆,1,2020-07-01 02:50:27,1347,길음래미안아파트817동 상가 앞,1,15,7230.00
2725233,SPB-40800,2020-06-30 23:56:30,107,신한은행 서교동금융센터점 앞,0,2020-07-01 07:41:32,438,성산2-1 공영주차장,0,465,0.00
2725234,SPB-32402,2020-06-30 16:45:32,1956,도야미리숯불갈비 앞,0,2020-07-01 08:04:52,1956,도야미리숯불갈비 앞,0,919,39786.76
2725235,SPB-38526,2020-06-30 23:23:38,703,오목교역 7번출구 앞,0,2020-07-01 08:37:15,734,신트리공원 입구,0,554,0.00
2725236,SPB-21598,2020-06-30 23:52:23,1008,암사역 3번출구(국민은행앞),4,2020-07-01 09:07:47,1008,암사역 3번출구(국민은행앞),4,42,310.00

In [5]:
df = df.drop(['자전거번호', '대여거치대', '반납거치대', '이용거리'], axis = 1)
df.head()

,대여일시,대여대여소번호,대여대여소명,반납일시,반납대여소번호,반납대여소명,이용시간
0,2020-06-01 00:00:35,1681,현대6차 아파트,2020-06-01 00:05:24,1665,양지근린공원앞,5
1,2020-06-01 00:01:47,816,신용산역 6번출구 앞,2020-06-01 00:05:54,829,베르가모앞,4
2,2020-06-01 00:03:05,1050,둔촌역 3번 출입구,2020-06-01 00:05:59,1078,둔촌사거리,3
3,2020-06-01 00:04:31,1209,잠실나루역 (2번 출구 쪽),2020-06-01 00:06:10,1209,잠실나루역 (2번 출구 쪽),2
4,2020-06-01 00:00:46,1132,등촌역 7번출구,2020-06-01 00:06:53,1169,염창역 1번 출구,6

In [6]:
df['대여일시'] = pd.to_datetime(df['대여일시'])
df['반납일시'] = pd.to_datetime(df['반납일시'])

df['대여년'] = df['대여일시'].dt.year
df['대여월'] = df['대여일시'].dt.month
df['대여일'] = df['대여일시'].dt.day
df['대여요일'] = df['대여일시'].dt.dayofweek
df['대여시간'] = df['대여일시'].dt.hour
df['대여시간_분'] = df['대여일시'].dt.minute

df['반납년'] = df['반납일시'].dt.year
df['반납월'] = df['반납일시'].dt.month
df['반납일'] = df['반납일시'].dt.day
df['반납요일'] = df['반납일시'].dt.dayofweek
df['반납시간'] = df['반납일시'].dt.hour
df['반납시간_분'] = df['반납일시'].dt.minute

In [7]:
df = df.sort_values('대여일시', ignore_index = True)
df.head()

,대여일시,대여대여소번호,대여대여소명,반납일시,반납대여소번호,반납대여소명,이용시간,대여년,대여월,대여일,대여요일,대여시간,대여시간_분,반납년,반납월,반납일,반납요일,반납시간,반납시간_분
0,2020-06-01 00:00:00,106,합정역 7번출구 앞,2020-06-01 00:41:00,830,청암자이아파트앞,40,2020,6,1,0,0,0,2020,6,1,0,0,41
1,2020-06-01 00:00:16,956,응암시장교차로,2020-06-01 00:08:25,939,은평구청 교차로,7,2020,6,1,0,0,0,2020,6,1,0,0,8
2,2020-06-01 00:00:24,2340,삼호물산버스정류장(23370) 옆,2020-06-01 00:14:50,2263,바우뫼문화복지회관,13,2020,6,1,0,0,0,2020,6,1,0,0,14
3,2020-06-01 00:00:26,1057,능골근린공원,2020-06-01 00:07:13,1057,능골근린공원,7,2020,6,1,0,0,0,2020,6,1,0,0,7
4,2020-06-01 00:00:32,3511,응봉역 1번출구,2020-06-01 00:21:38,362,청계8가 사거리,21,2020,6,1,0,0,0,2020,6,1,0,0,21

In [8]:
df_rental = df[['대여일시', '대여대여소명','대여대여소번호', '대여년', '대여월', '대여일', '대여요일', '대여시간', '대여시간_분']]
df_rental.reset_index(drop = True, inplace = True)
df_rental.head()

,대여일시,대여대여소명,대여대여소번호,대여년,대여월,대여일,대여요일,대여시간,대여시간_분
0,2020-06-01 00:00:00,합정역 7번출구 앞,106,2020,6,1,0,0,0
1,2020-06-01 00:00:16,응암시장교차로,956,2020,6,1,0,0,0
2,2020-06-01 00:00:24,삼호물산버스정류장(23370) 옆,2340,2020,6,1,0,0,0
3,2020-06-01 00:00:26,능골근린공원,1057,2020,6,1,0,0,0
4,2020-06-01 00:00:32,응봉역 1번출구,3511,2020,6,1,0,0,0

In [9]:
df_rental2 = df_rental.groupby(['대여대여소명','대여대여소번호', '대여년', '대여월', '대여시간']).size().reset_index().rename(columns = {0 : 'rent_count'})
df_rental2

              대여대여소명  대여대여소번호   대여년  대여월  대여시간  rent_count
0      (구)신한은행 중랑교지점     1442  2020    6     0          81
1      (구)신한은행 중랑교지점     1442  2020    6     1          64
2      (구)신한은행 중랑교지점     1442  2020    6     2          38
3      (구)신한은행 중랑교지점     1442  2020    6     3          25
4      (구)신한은행 중랑교지점     1442  2020    6     4          16
...              ...      ...   ...  ...   ...         ...
47184        힐스테이트에코     2720  2020    6    19         140
47185        힐스테이트에코     2720  2020    6    20         166
47186        힐스테이트에코     2720  2020    6    21         100
47187        힐스테이트에코     2720  2020    6    22         104
47188        힐스테이트에코     2720  2020    6    23          57

[47189 rows x 6 columns]

In [10]:
df_rental2['rent_count'] = df_rental2['rent_count'] / 30
df_rental2['mu_15'] = df_rental2['rent_count'] / 4
df_rental2

              대여대여소명  대여대여소번호   대여년  대여월  대여시간  rent_count     mu_15
0      (구)신한은행 중랑교지점     1442  2020    6     0    2.700000  0.675000
1      (구)신한은행 중랑교지점     1442  2020    6     1    2.133333  0.533333
2      (구)신한은행 중랑교지점     1442  2020    6     2    1.266667  0.316667
3      (구)신한은행 중랑교지점     1442  2020    6     3    0.833333  0.208333
4      (구)신한은행 중랑교지점     1442  2020    6     4    0.533333  0.133333
...              ...      ...   ...  ...   ...         ...       ...
47184        힐스테이트에코     2720  2020    6    19    4.666667  1.166667
47185        힐스테이트에코     2720  2020    6    20    5.533333  1.383333
47186        힐스테이트에코     2720  2020    6    21    3.333333  0.833333
47187        힐스테이트에코     2720  2020    6    22    3.466667  0.866667
47188        힐스테이트에코     2720  2020    6    23    1.900000  0.475000

[47189 rows x 7 columns]

In [11]:
df_return = df[['반납일시', '반납대여소명', '반납대여소번호','반납년', '반납월', '반납일', '반납요일', '반납시간', '반납시간_분']]
df_return.reset_index(drop = True, inplace = True)
df_return

,반납일시,반납대여소명,반납대여소번호,반납년,반납월,반납일,반납요일,반납시간,반납시간_분
0,2020-06-01 00:41:00,청암자이아파트앞,830,2020,6,1,0,0,41
1,2020-06-01 00:08:25,은평구청 교차로,939,2020,6,1,0,0,8
2,2020-06-01 00:14:50,바우뫼문화복지회관,2263,2020,6,1,0,0,14
3,2020-06-01 00:07:13,능골근린공원,1057,2020,6,1,0,0,7
4,2020-06-01 00:21:38,청계8가 사거리,362,2020,6,1,0,0,21
...,...,...,...,...,...,...,...,...,...
2721493,2020-07-01 00:09:19,당현천근린공원,1661,2020,7,1,2,0,9
2721494,2020-07-01 00:31:51,신사동 성당,934,2020,7,1,2,0,31
2721495,2020-07-01 00:06:20,서초신동아1차아파트 옆,2233,2020,7,1,2,0,6
2721496,2020-07-01 00:04:31,예수그리스도후기성도교회 앞,1553,2020,7,1,2,0,4
2721497,2020-07-01 00:21:48,쌍문현대1차아파트 108동 앞,1734,2020,7,1,2,0,21

In [12]:
df_c = pd.DataFrame(df_return[['반납대여소명','반납대여소번호','반납년', '반납월','반납시간']].value_counts()).rename(columns = {0 : 'return_count'}).reset_index()
df_c.reset_index(drop=True, inplace = True)
df_c['return_count'] = df_c['return_count'] / 30
df_c['lambda15'] = df_c['return_count']/4
df_c.columns = ['대여소명','대여소번호','년', '월','시간','return_count','lambda15']
df_c

                대여소명  대여소번호     년  월  시간  return_count   lambda15
0      뚝섬유원지역 1번출구 앞    502  2020  6  20     80.633333  20.158333
1      뚝섬유원지역 1번출구 앞    502  2020  6  21     76.500000  19.125000
2       여의나루역 1번출구 앞    207  2020  6  21     65.533333  16.383333
3      뚝섬유원지역 1번출구 앞    502  2020  6  22     63.366667  15.841667
4      뚝섬유원지역 1번출구 앞    502  2020  6  19     62.100000  15.525000
...              ...    ...   ... ..  ..           ...        ...
47254    한남초교 앞 보도육교    803  2020  6   6      0.033333   0.008333
47255     복자사랑 피정의 집   1370  2020  6   7      0.033333   0.008333
47256       경문고등학교 앞   2095  2020  6   6      0.033333   0.008333
47257   본마을 노인복지센터 앞   2516  2020  6   2      0.033333   0.008333
47258        힐스테이트에코   2720  2020  7   0      0.033333   0.008333

[47259 rows x 7 columns]

In [13]:
return_ubound = pd.DataFrame(df_c.groupby(['대여소명','대여소번호'])['return_count'].agg(lambda x : np.floor(np.percentile(x,75)+(np.percentile(x,75)-np.percentile(x,25))*1.5))).reset_index().rename(columns = {'return_count' : 'upperbound'})
return_ubound.head()

            대여소명  대여소번호  upperbound
0  (구)신한은행 중랑교지점   1442         9.0
1    (구)합정동 주민센터    101         3.0
2   (재)FITI시험연구원   2724         2.0
3  3호선 매봉역 3번출구앞   2335         4.0
4  419민주묘지 입구사거리   1568         1.0

In [14]:
df_rental2.columns = ['대여소명','대여소번호','년', '월','시간', 'rent_count','mu_15']
df = pd.merge(df_c, df_rental2, on=['대여소명','대여소번호','년', '월','시간'], how='outer')
df.tail()

,대여소명,대여소번호,년,월,시간,return_count,lambda15,rent_count,mu_15
48359,흑석한강푸르지오(110동),2092,2020,6,8,NaN,NaN,0.333333,0.083333
48360,흑석한강푸르지오(110동),2092,2020,6,13,NaN,NaN,0.100000,0.025000
48361,흑석한강푸르지오(110동),2092,2020,6,14,NaN,NaN,0.233333,0.058333
48362,흥국사 정류장,991,2020,6,16,NaN,NaN,0.100000,0.025000
48363,흥국사 정류장,991,2020,6,23,NaN,NaN,0.033333,0.008333

In [15]:
stops = df[['대여소명','대여소번호']].drop_duplicates().reset_index(drop=True)
Dayhour = pd.DataFrame({'년':np.repeat(2020, 24*len(stops)),'월':np.repeat(6, 24*len(stops)),'시간':np.repeat(np.arange(24), len(stops))})
stops2 = pd.concat([stops] * 24).reset_index(drop=True)
Dayhour_frame = pd.concat([stops2,Dayhour],axis=1)

In [16]:
df = pd.merge(df,Dayhour_frame, on = ['대여소명','대여소번호','년', '월','시간'],how='outer')
df = pd.merge(df, return_ubound, on=['대여소명','대여소번호'], how='outer')
df.fillna(0, inplace=True)
df.tail()

,대여소명,대여소번호,년,월,시간,return_count,lambda15,rent_count,mu_15,upperbound
49721,천호센터,9988,2020,6,19,0.0,0.0,0.0,0.0,0.0
49722,천호센터,9988,2020,6,20,0.0,0.0,0.0,0.0,0.0
49723,천호센터,9988,2020,6,21,0.0,0.0,0.0,0.0,0.0
49724,천호센터,9988,2020,6,22,0.0,0.0,0.0,0.0,0.0
49725,천호센터,9988,2020,6,23,0.0,0.0,0.0,0.0,0.0

In [17]:
df = df.sort_values(['대여소명', '대여소번호','년', '월', '시간'], ignore_index = True)
df

,대여소명,대여소번호,년,월,시간,return_count,lambda15,rent_count,mu_15,upperbound
0,(구)신한은행 중랑교지점,1442,2020,6,0,3.800000,0.950000,2.700000,0.675000,9.0
1,(구)신한은행 중랑교지점,1442,2020,6,1,3.700000,0.925000,2.133333,0.533333,9.0
2,(구)신한은행 중랑교지점,1442,2020,6,2,2.133333,0.533333,1.266667,0.316667,9.0
3,(구)신한은행 중랑교지점,1442,2020,6,3,1.566667,0.391667,0.833333,0.208333,9.0
4,(구)신한은행 중랑교지점,1442,2020,6,4,1.333333,0.333333,0.533333,0.133333,9.0
...,...,...,...,...,...,...,...,...,...,...
49721,힐스테이트에코,2720,2020,6,20,4.400000,1.100000,5.533333,1.383333,8.0
49722,힐스테이트에코,2720,2020,6,21,4.000000,1.000000,3.333333,0.833333,8.0
49723,힐스테이트에코,2720,2020,6,22,2.566667,0.641667,3.466667,0.866667,8.0
49724,힐스테이트에코,2720,2020,6,23,2.233333,0.558333,1.900000,0.475000,8.0
49725,힐스테이트에코,2720,2020,7,0,0.033333,0.008333,0.000000,0.000000,8.0

In [18]:
df = df.drop(['return_count', 'rent_count'], axis = 1)
df = df.rename(columns = {'lambda15' : 'lambda_15', 'upperbound' : 'c'})
df

                대여소명  대여소번호     년  월  시간  lambda_15     mu_15    c
0      (구)신한은행 중랑교지점   1442  2020  6   0   0.950000  0.675000  9.0
1      (구)신한은행 중랑교지점   1442  2020  6   1   0.925000  0.533333  9.0
2      (구)신한은행 중랑교지점   1442  2020  6   2   0.533333  0.316667  9.0
3      (구)신한은행 중랑교지점   1442  2020  6   3   0.391667  0.208333  9.0
4      (구)신한은행 중랑교지점   1442  2020  6   4   0.333333  0.133333  9.0
...              ...    ...   ... ..  ..        ...       ...  ...
49721        힐스테이트에코   2720  2020  6  20   1.100000  1.383333  8.0
49722        힐스테이트에코   2720  2020  6  21   1.000000  0.833333  8.0
49723        힐스테이트에코   2720  2020  6  22   0.641667  0.866667  8.0
49724        힐스테이트에코   2720  2020  6  23   0.558333  0.475000  8.0
49725        힐스테이트에코   2720  2020  7   0   0.008333  0.000000  8.0

[49726 rows x 8 columns]

In [19]:
df['rho'] = float(-1)

for i in range(len(df)):
    if df['mu_15'][i] == 0:
        df['rho'][i] = 0
    else:
        df['rho'][i] = df['lambda_15'][i] / df['mu_15'][i]
df

                대여소명  대여소번호     년  월  시간  lambda_15     mu_15    c       rho
0      (구)신한은행 중랑교지점   1442  2020  6   0   0.950000  0.675000  9.0  1.407407
1      (구)신한은행 중랑교지점   1442  2020  6   1   0.925000  0.533333  9.0  1.734375
2      (구)신한은행 중랑교지점   1442  2020  6   2   0.533333  0.316667  9.0  1.684211
3      (구)신한은행 중랑교지점   1442  2020  6   3   0.391667  0.208333  9.0  1.880000
4      (구)신한은행 중랑교지점   1442  2020  6   4   0.333333  0.133333  9.0  2.500000
...              ...    ...   ... ..  ..        ...       ...  ...       ...
49721        힐스테이트에코   2720  2020  6  20   1.100000  1.383333  8.0  0.795181
49722        힐스테이트에코   2720  2020  6  21   1.000000  0.833333  8.0  1.200000
49723        힐스테이트에코   2720  2020  6  22   0.641667  0.866667  8.0  0.740385
49724        힐스테이트에코   2720  2020  6  23   0.558333  0.475000  8.0  1.175439
49725        힐스테이트에코   2720  2020  7   0   0.008333  0.000000  8.0  0.000000

[49726 rows x 9 columns]

In [20]:
# p_c: 대여소에 자전거가 c개(최대거치용량) 있을 확률

df['p_c'] = float(-1)

for i in range(len(df)):
    if df['rho'][i] == 1:
        df['p_c'][i] = 1 / (1 + df['c'][i]) 
    else:
        df['p_c'][i] = (df['rho'][i]**df['c'][i]) * ((1 - df['rho'][i]) / (1 - (df['rho'][i]**(df['c'][i] + 1))))
df

,대여소명,대여소번호,년,월,시간,lambda_15,mu_15,c,rho,p_c
0,(구)신한은행 중랑교지점,1442,2020,6,0,0.950000,0.675000,9.0,1.407407,0.299289
1,(구)신한은행 중랑교지점,1442,2020,6,1,0.925000,0.533333,9.0,1.734375,0.425150
2,(구)신한은행 중랑교지점,1442,2020,6,2,0.533333,0.316667,9.0,1.684211,0.408474
3,(구)신한은행 중랑교지점,1442,2020,6,3,0.391667,0.208333,9.0,1.880000,0.468935
4,(구)신한은행 중랑교지점,1442,2020,6,4,0.333333,0.133333,9.0,2.500000,0.600063
...,...,...,...,...,...,...,...,...,...,...
49721,힐스테이트에코,2720,2020,6,20,1.100000,1.383333,8.0,0.795181,0.037509
49722,힐스테이트에코,2720,2020,6,21,1.000000,0.833333,8.0,1.200000,0.206733
49723,힐스테이트에코,2720,2020,6,22,0.641667,0.866667,8.0,0.740385,0.025121
49724,힐스테이트에코,2720,2020,6,23,0.558333,0.475000,8.0,1.175439,0.194709
49725,힐스테이트에코,2720,2020,7,0,0.008333,0.000000,8.0,0.000000,0.000000

In [21]:
# L_s : 대여소 내 평균 자전거 수

df['L_s'] = float(-1)

for i in range(len(df)):
    rho = df['rho'][i]
    c = df['c'][i]
    if df['rho'][i] == 1:
        df['L_s'][i] = c / 2
    else:
        df['L_s'][i] = (rho / (1 - rho)) * ((1 - ((c + 1) * rho**c) + (c * rho**(c + 1))) / (1 - (rho**(c + 1))))
df

,대여소명,대여소번호,년,월,시간,lambda_15,mu_15,c,rho,p_c,L_s
0,(구)신한은행 중랑교지점,1442,2020,6,0,0.950000,0.675000,9.0,1.407407,0.299289,6.884520
1,(구)신한은행 중랑교지점,1442,2020,6,1,0.925000,0.533333,9.0,1.734375,0.425150,7.679068
2,(구)신한은행 중랑교지점,1442,2020,6,2,0.533333,0.316667,9.0,1.684211,0.408474,7.593215
3,(구)신한은행 중랑교지점,1442,2020,6,3,0.391667,0.208333,9.0,1.880000,0.468935,7.881800
4,(구)신한은행 중랑교지점,1442,2020,6,4,0.333333,0.133333,9.0,2.500000,0.600063,8.334382
...,...,...,...,...,...,...,...,...,...,...,...
49721,힐스테이트에코,2720,2020,6,20,1.100000,1.383333,8.0,0.795181,0.037509,2.571731
49722,힐스테이트에코,2720,2020,6,21,1.000000,0.833333,8.0,1.200000,0.206733,5.163576
49723,힐스테이트에코,2720,2020,6,22,0.641667,0.866667,8.0,0.740385,0.025121,2.207076
49724,힐스테이트에코,2720,2020,6,23,0.558333,0.475000,8.0,1.175439,0.194709,5.040971
49725,힐스테이트에코,2720,2020,7,0,0.008333,0.000000,8.0,0.000000,0.000000,0.000000

In [22]:
# W_s : 대여소 내 평균 대기시간(자전거 반납 후 재대여 될 때까지의 시간)

df['W_s'] = float(-1)

for i in range(len(df)):
    if df['p_c'][i] == 0:
        df['W_s'][i] = 0
    elif df['p_c'][i] == 1:
        df['W_s'][i] = 0
    else:
        df['W_s'][i] = df['L_s'][i] / (df['lambda_15'][i] * (1 - df['p_c'][i]))
df

,대여소명,대여소번호,년,월,시간,lambda_15,mu_15,c,rho,p_c,L_s,W_s
0,(구)신한은행 중랑교지점,1442,2020,6,0,0.950000,0.675000,9.0,1.407407,0.299289,6.884520,10.342152
1,(구)신한은행 중랑교지점,1442,2020,6,1,0.925000,0.533333,9.0,1.734375,0.425150,7.679068,14.441490
2,(구)신한은행 중랑교지점,1442,2020,6,2,0.533333,0.316667,9.0,1.684211,0.408474,7.593215,24.068740
3,(구)신한은행 중랑교지점,1442,2020,6,3,0.391667,0.208333,9.0,1.880000,0.468935,7.881800,37.893211
4,(구)신한은행 중랑교지점,1442,2020,6,4,0.333333,0.133333,9.0,2.500000,0.600063,8.334382,62.517699
...,...,...,...,...,...,...,...,...,...,...,...,...
49721,힐스테이트에코,2720,2020,6,20,1.100000,1.383333,8.0,0.795181,0.037509,2.571731,2.429049
49722,힐스테이트에코,2720,2020,6,21,1.000000,0.833333,8.0,1.200000,0.206733,5.163576,6.509252
49723,힐스테이트에코,2720,2020,6,22,0.641667,0.866667,8.0,0.740385,0.025121,2.207076,3.528233
49724,힐스테이트에코,2720,2020,6,23,0.558333,0.475000,8.0,1.175439,0.194709,5.040971,11.211610
49725,힐스테이트에코,2720,2020,7,0,0.008333,0.000000,8.0,0.000000,0.000000,0.000000,0.000000

In [23]:
# 일부 칼럼 타입 카테고리로 변환

df = df.astype({'대여소명' : 'category', '대여소번호' : 'category'})

In [24]:
station = pd.read_csv('./대학원/데이터/정리 데이터/공공자전거 대여소 정보(21.06월 기준).csv')
station.head()

,대여소 번호,보관소(대여소)명,자치구,상세주소,위도,경도,설치 시기,LCD 거치대수,QR 거치대수,운영 방식
0,102,망원역 1번출구 앞,마포구,서울특별시 마포구 월드컵로 72,37.555649,126.910629,2015-09-06,20.0,NaN,LCD
1,103,망원역 2번출구 앞,마포구,서울특별시 마포구 월드컵로 79,37.554951,126.910835,2015-09-06,14.0,NaN,LCD
2,104,합정역 1번출구 앞,마포구,서울특별시 마포구 양화로 59,37.550629,126.914986,2015-09-06,13.0,NaN,LCD
3,105,합정역 5번출구 앞,마포구,서울특별시 마포구 양화로 48,37.550007,126.914825,2015-09-06,5.0,NaN,LCD
4,106,합정역 7번출구 앞,마포구,서울특별시 마포구 독막로 4,37.548645,126.912826,2015-09-06,10.0,NaN,LCD

In [25]:
station = station.astype({'자치구' : 'category', '대여소 번호' : 'category'})

In [26]:
station = station.rename(columns = {'대여소 번호' : '대여소번호'})
station

,대여소번호,보관소(대여소)명,자치구,상세주소,위도,경도,설치 시기,LCD 거치대수,QR 거치대수,운영 방식
0,102,망원역 1번출구 앞,마포구,서울특별시 마포구 월드컵로 72,37.555649,126.910629,2015-09-06,20.0,NaN,LCD
1,103,망원역 2번출구 앞,마포구,서울특별시 마포구 월드컵로 79,37.554951,126.910835,2015-09-06,14.0,NaN,LCD
2,104,합정역 1번출구 앞,마포구,서울특별시 마포구 양화로 59,37.550629,126.914986,2015-09-06,13.0,NaN,LCD
3,105,합정역 5번출구 앞,마포구,서울특별시 마포구 양화로 48,37.550007,126.914825,2015-09-06,5.0,NaN,LCD
4,106,합정역 7번출구 앞,마포구,서울특별시 마포구 독막로 4,37.548645,126.912826,2015-09-06,10.0,NaN,LCD
...,...,...,...,...,...,...,...,...,...,...
2462,4864,송파사거리,송파구,송파구 송파동 97-2,37.502056,127.110550,2021-04-27,NaN,6.0,QR
2463,4865,한성백제역 1번출구 뒤,송파구,송파구 방이동 45-4,37.516342,127.115593,2021-04-28,NaN,5.0,QR
2464,4867,가락대림아파트 앞,송파구,송파구 가락동 94-9,37.500027,127.118431,2021-04-28,NaN,10.0,QR
2465,4868,레이크 호텔 앞,송파구,송파구 석촌동 158,37.507172,127.101242,2021-05-18,NaN,7.0,QR
2466,4869,잠실나들목6,송파구,잠실동 24,37.516296,127.084610,2021-06-21,NaN,9.0,QR

In [27]:
df = pd.merge(df, station[['자치구', '대여소번호']], on = '대여소번호')
df.head()

,대여소명,대여소번호,년,월,시간,lambda_15,mu_15,c,rho,p_c,L_s,W_s,자치구
0,(구)신한은행 중랑교지점,1442,2020,6,0,0.950000,0.675000,9.0,1.407407,0.299289,6.884520,10.342152,중랑구
1,(구)신한은행 중랑교지점,1442,2020,6,1,0.925000,0.533333,9.0,1.734375,0.425150,7.679068,14.441490,중랑구
2,(구)신한은행 중랑교지점,1442,2020,6,2,0.533333,0.316667,9.0,1.684211,0.408474,7.593215,24.068740,중랑구
3,(구)신한은행 중랑교지점,1442,2020,6,3,0.391667,0.208333,9.0,1.880000,0.468935,7.881800,37.893211,중랑구
4,(구)신한은행 중랑교지점,1442,2020,6,4,0.333333,0.133333,9.0,2.500000,0.600063,8.334382,62.517699,중랑구

In [28]:
df = df.drop(['대여소번호', 'c'], axis = 1)
df = df[['자치구', '대여소명', '년', '월', '시간','L_s', 'W_s']]
df.head()

   자치구           대여소명     년  월  시간       L_s        W_s
0  중랑구  (구)신한은행 중랑교지점  2020  6   0  6.884520  10.342152
1  중랑구  (구)신한은행 중랑교지점  2020  6   1  7.679068  14.441490
2  중랑구  (구)신한은행 중랑교지점  2020  6   2  7.593215  24.068740
3  중랑구  (구)신한은행 중랑교지점  2020  6   3  7.881800  37.893211
4  중랑구  (구)신한은행 중랑교지점  2020  6   4  8.334382  62.517699

In [29]:
df.to_excel('./2020.06 Ls, Ws.xlsx', index = False)