In [1]:
import pandas as pd
import numpy as np

import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

pd.set_option('display.max_columns', None)

mpl.rcParams['axes.unicode_minus'] = False
plt.rcParams['font.family'] = 'Malgun Gothic'


pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)

In [2]:
df2 = pd.read_csv('./data/file/공공자전거 대여이력_2020.12.csv', encoding = 'cp949')
df2.columns = ['자전거번호', '대여일시', '대여대여소번호', '대여대여소명', '대여거치대', '반납일시', '반납대여소번호', '반납대여소명', '반납거치대', '이용시간', '이용거리']
df2.head()

,자전거번호,대여일시,대여대여소번호,대여대여소명,대여거치대,반납일시,반납대여소번호,반납대여소명,반납거치대,이용시간,이용거리
0,SPB-33225,2020-12-01 00:00:05,671,대광빌딩,0,2020-12-01 00:01:45,672,대광고등학교,0,2,0.0
1,SPB-32037,2020-12-01 00:00:49,352,중앙고입구 삼거리,0,2020-12-01 00:02:33,353,재동초교 앞 삼거리,0,2,0.0
2,SPB-33654,2020-12-01 00:01:37,2644,성내5교 (GS주유소),0,2020-12-01 00:03:57,1277,오금동 송파 참병원,0,2,0.0
3,SPB-52806,2020-12-01 00:01:00,1953,천왕역 4번출구 뒤,0,2020-12-01 00:04:10,1952,천왕연지타운2단지 앞,0,3,0.0
4,SPB-80266,2020-12-01 00:00:53,1036,고덕동 주양쇼핑,99,2020-12-01 00:04:34,1036,고덕동 주양쇼핑,99,4,80.0

In [3]:
df = df2[~df2['대여대여소명'].str.contains('\?')]
df.head()

,자전거번호,대여일시,대여대여소번호,대여대여소명,대여거치대,반납일시,반납대여소번호,반납대여소명,반납거치대,이용시간,이용거리
0,SPB-33225,2020-12-01 00:00:05,671,대광빌딩,0,2020-12-01 00:01:45,672,대광고등학교,0,2,0.0
1,SPB-32037,2020-12-01 00:00:49,352,중앙고입구 삼거리,0,2020-12-01 00:02:33,353,재동초교 앞 삼거리,0,2,0.0
2,SPB-33654,2020-12-01 00:01:37,2644,성내5교 (GS주유소),0,2020-12-01 00:03:57,1277,오금동 송파 참병원,0,2,0.0
3,SPB-52806,2020-12-01 00:01:00,1953,천왕역 4번출구 뒤,0,2020-12-01 00:04:10,1952,천왕연지타운2단지 앞,0,3,0.0
4,SPB-80266,2020-12-01 00:00:53,1036,고덕동 주양쇼핑,99,2020-12-01 00:04:34,1036,고덕동 주양쇼핑,99,4,80.0

In [4]:
df = df[~df['반납대여소명'].str.contains('\?')]
df

,자전거번호,대여일시,대여대여소번호,대여대여소명,대여거치대,반납일시,반납대여소번호,반납대여소명,반납거치대,이용시간,이용거리
0,SPB-33225,2020-12-01 00:00:05,671,대광빌딩,0,2020-12-01 00:01:45,672,대광고등학교,0,2,0.00
1,SPB-32037,2020-12-01 00:00:49,352,중앙고입구 삼거리,0,2020-12-01 00:02:33,353,재동초교 앞 삼거리,0,2,0.00
2,SPB-33654,2020-12-01 00:01:37,2644,성내5교 (GS주유소),0,2020-12-01 00:03:57,1277,오금동 송파 참병원,0,2,0.00
3,SPB-52806,2020-12-01 00:01:00,1953,천왕역 4번출구 뒤,0,2020-12-01 00:04:10,1952,천왕연지타운2단지 앞,0,3,0.00
4,SPB-80266,2020-12-01 00:00:53,1036,고덕동 주양쇼핑,99,2020-12-01 00:04:34,1036,고덕동 주양쇼핑,99,4,80.00
...,...,...,...,...,...,...,...,...,...,...,...
1185902,SPB-32746,2020-12-31 20:36:25,1009,천호역4번출구(현대백화점),0,2021-01-01 01:52:00,1022,길동 사거리(초소앞),0,315,1869.66
1185903,SPB-30390,2020-12-31 22:51:36,1965,삼환로즈빌아파트 105동 옆,0,2021-01-01 02:29:15,210,IFC몰,0,217,16245.85
1185904,SPB-50439,2020-12-31 22:56:32,1964,원메디타운 앞,0,2021-01-01 02:29:32,210,IFC몰,0,213,0.00
1185905,SPB-37080,2020-12-31 22:18:07,130,신촌역(2호선) 7번출구 앞,0,2021-01-01 02:47:57,148,용강동 주민센터 앞,0,269,1627.36
1185906,SPB-33700,2020-12-31 21:52:24,1735,"도봉역 1,2번 출구사이 건너편",0,2021-01-01 04:39:40,1630,수연빌딩 앞,0,407,7415.48

In [5]:
df = df.drop(['자전거번호', '대여거치대', '반납거치대', '이용거리'], axis = 1)
df.head()

,대여일시,대여대여소번호,대여대여소명,반납일시,반납대여소번호,반납대여소명,이용시간
0,2020-12-01 00:00:05,671,대광빌딩,2020-12-01 00:01:45,672,대광고등학교,2
1,2020-12-01 00:00:49,352,중앙고입구 삼거리,2020-12-01 00:02:33,353,재동초교 앞 삼거리,2
2,2020-12-01 00:01:37,2644,성내5교 (GS주유소),2020-12-01 00:03:57,1277,오금동 송파 참병원,2
3,2020-12-01 00:01:00,1953,천왕역 4번출구 뒤,2020-12-01 00:04:10,1952,천왕연지타운2단지 앞,3
4,2020-12-01 00:00:53,1036,고덕동 주양쇼핑,2020-12-01 00:04:34,1036,고덕동 주양쇼핑,4

In [6]:
df['대여일시'] = pd.to_datetime(df['대여일시'])
df['반납일시'] = pd.to_datetime(df['반납일시'])

df['대여년'] = df['대여일시'].dt.year
df['대여월'] = df['대여일시'].dt.month
df['대여일'] = df['대여일시'].dt.day
df['대여요일'] = df['대여일시'].dt.dayofweek
df['대여시간'] = df['대여일시'].dt.hour
df['대여시간_분'] = df['대여일시'].dt.minute

df['반납년'] = df['반납일시'].dt.year
df['반납월'] = df['반납일시'].dt.month
df['반납일'] = df['반납일시'].dt.day
df['반납요일'] = df['반납일시'].dt.dayofweek
df['반납시간'] = df['반납일시'].dt.hour
df['반납시간_분'] = df['반납일시'].dt.minute

In [7]:
df = df.sort_values('대여일시', ignore_index = True)
df.head()

,대여일시,대여대여소번호,대여대여소명,반납일시,반납대여소번호,반납대여소명,이용시간,대여년,대여월,대여일,대여요일,대여시간,대여시간_분,반납년,반납월,반납일,반납요일,반납시간,반납시간_분
0,2020-12-01 00:00:02,1036,고덕동 주양쇼핑,2020-12-01 00:16:04,1058,고덕숲 아이파크 1,16,2020,12,1,1,0,0,2020,12,1,1,0,16
1,2020-12-01 00:00:05,671,대광빌딩,2020-12-01 00:01:45,672,대광고등학교,2,2020,12,1,1,0,0,2020,12,1,1,0,1
2,2020-12-01 00:00:14,1986,태평양물산빌딩,2020-12-01 00:08:23,1975,대림역 1번 출입구 밑,8,2020,12,1,1,0,0,2020,12,1,1,0,8
3,2020-12-01 00:00:17,1655,공릉1단지아파트,2020-12-01 00:54:45,1655,공릉1단지아파트,54,2020,12,1,1,0,0,2020,12,1,1,0,54
4,2020-12-01 00:00:19,287,영등포전화국사거리 (서강어린이공원),2020-12-01 00:10:44,266,영등포청과시장 사거리,10,2020,12,1,1,0,0,2020,12,1,1,0,10

In [8]:
df_rental = df[['대여일시', '대여대여소명','대여대여소번호', '대여년', '대여월', '대여일', '대여요일', '대여시간', '대여시간_분']]
df_rental.reset_index(drop = True, inplace = True)
df_rental.head()

,대여일시,대여대여소명,대여대여소번호,대여년,대여월,대여일,대여요일,대여시간,대여시간_분
0,2020-12-01 00:00:02,고덕동 주양쇼핑,1036,2020,12,1,1,0,0
1,2020-12-01 00:00:05,대광빌딩,671,2020,12,1,1,0,0
2,2020-12-01 00:00:14,태평양물산빌딩,1986,2020,12,1,1,0,0
3,2020-12-01 00:00:17,공릉1단지아파트,1655,2020,12,1,1,0,0
4,2020-12-01 00:00:19,영등포전화국사거리 (서강어린이공원),287,2020,12,1,1,0,0

In [9]:
df_rental2 = df_rental.groupby(['대여대여소명','대여대여소번호', '대여년', '대여월', '대여시간']).size().reset_index().rename(columns = {0 : 'rent_count'})
df_rental2

              대여대여소명  대여대여소번호   대여년  대여월  대여시간  rent_count
0      (구)신한은행 중랑교지점     1442  2020   12     0          27
1      (구)신한은행 중랑교지점     1442  2020   12     1          14
2      (구)신한은행 중랑교지점     1442  2020   12     2          13
3      (구)신한은행 중랑교지점     1442  2020   12     3           6
4      (구)신한은행 중랑교지점     1442  2020   12     4           8
...              ...      ...   ...  ...   ...         ...
46543        힐스테이트에코     2720  2020   12    19          79
46544        힐스테이트에코     2720  2020   12    20          76
46545        힐스테이트에코     2720  2020   12    21          74
46546        힐스테이트에코     2720  2020   12    22          48
46547        힐스테이트에코     2720  2020   12    23          22

[46548 rows x 6 columns]

In [10]:
df_rental2['rent_count'] = df_rental2['rent_count'] / 31
df_rental2['mu_15'] = df_rental2['rent_count'] / 4
df_rental2

              대여대여소명  대여대여소번호   대여년  대여월  대여시간  rent_count     mu_15
0      (구)신한은행 중랑교지점     1442  2020   12     0    0.870968  0.217742
1      (구)신한은행 중랑교지점     1442  2020   12     1    0.451613  0.112903
2      (구)신한은행 중랑교지점     1442  2020   12     2    0.419355  0.104839
3      (구)신한은행 중랑교지점     1442  2020   12     3    0.193548  0.048387
4      (구)신한은행 중랑교지점     1442  2020   12     4    0.258065  0.064516
...              ...      ...   ...  ...   ...         ...       ...
46543        힐스테이트에코     2720  2020   12    19    2.548387  0.637097
46544        힐스테이트에코     2720  2020   12    20    2.451613  0.612903
46545        힐스테이트에코     2720  2020   12    21    2.387097  0.596774
46546        힐스테이트에코     2720  2020   12    22    1.548387  0.387097
46547        힐스테이트에코     2720  2020   12    23    0.709677  0.177419

[46548 rows x 7 columns]

In [11]:
df_return = df[['반납일시', '반납대여소명', '반납대여소번호','반납년', '반납월', '반납일', '반납요일', '반납시간', '반납시간_분']]
df_return.reset_index(drop = True, inplace = True)
df_return

,반납일시,반납대여소명,반납대여소번호,반납년,반납월,반납일,반납요일,반납시간,반납시간_분
0,2020-12-01 00:16:04,고덕숲 아이파크 1,1058,2020,12,1,1,0,16
1,2020-12-01 00:01:45,대광고등학교,672,2020,12,1,1,0,1
2,2020-12-01 00:08:23,대림역 1번 출입구 밑,1975,2020,12,1,1,0,8
3,2020-12-01 00:54:45,공릉1단지아파트,1655,2020,12,1,1,0,54
4,2020-12-01 00:10:44,영등포청과시장 사거리,266,2020,12,1,1,0,10
...,...,...,...,...,...,...,...,...,...
1184834,2021-01-01 00:07:30,수락리버시티4단지,1696,2021,1,1,4,0,7
1184835,2021-01-01 00:04:04,청솔우성아파트 앞,617,2021,1,1,4,0,4
1184836,2021-01-01 00:35:27,자양중앙나들목,593,2021,1,1,4,0,35
1184837,2021-01-01 00:23:13,석계역 문화광장 내 자전거 보관소,1601,2021,1,1,4,0,23
1184838,2021-01-01 00:08:02,성수2가1동 공영주차장 인근,585,2021,1,1,4,0,8

In [12]:
df_c = pd.DataFrame(df_return[['반납대여소명','반납대여소번호','반납년', '반납월','반납시간']].value_counts()).rename(columns = {0 : 'return_count'}).reset_index()
df_c.reset_index(drop=True, inplace = True)
df_c['return_count'] = df_c['return_count'] / 31
df_c['lambda15'] = df_c['return_count']/4
df_c.columns = ['대여소명','대여소번호','년', '월','시간','return_count','lambda15']
df_c

               대여소명  대여소번호     년   월  시간  return_count  lambda15
0         성동세무서 건너편    563  2020  12   8     18.064516  4.516129
1           태평양물산빌딩   1986  2020  12   8     17.677419  4.419355
2        구로디지털단지역 앞   1911  2020  12   8     15.387097  3.846774
3      시범아파트버스정류장 옆    222  2020  12   8     15.064516  3.766129
4            국민일보 앞    202  2020  12   8     14.806452  3.701613
...             ...    ...   ...  ..  ..           ...       ...
45672         삼익한의원    455  2020  12   6      0.032258  0.008065
45673    강남구 도시관리공단   2388  2020  12  14      0.032258  0.008065
45674         중랑캠핑숲   1453  2020  12  23      0.032258  0.008065
45675         삼익한의원    455  2020  12   5      0.032258  0.008065
45676        문화비축기지    422  2020  12   9      0.032258  0.008065

[45677 rows x 7 columns]

In [13]:
return_ubound = pd.DataFrame(df_c.groupby(['대여소명','대여소번호'])['return_count'].agg(lambda x : np.floor(np.percentile(x,75)+(np.percentile(x,75)-np.percentile(x,25))*1.5))).reset_index().rename(columns = {'return_count' : 'upperbound'})
return_ubound.head()

            대여소명  대여소번호  upperbound
0  (구)신한은행 중랑교지점   1442         4.0
1    (구)합정동 주민센터    101         2.0
2    (시립)고덕평생학습관   1070         0.0
3   (재)FITI시험연구원   2724         2.0
4  3호선 매봉역 3번출구앞   2335         3.0

In [14]:
df_rental2.columns = ['대여소명','대여소번호','년', '월','시간', 'rent_count','mu_15']
df = pd.merge(df_c, df_rental2, on=['대여소명','대여소번호','년', '월','시간'], how='outer')
df.tail()

,대여소명,대여소번호,년,월,시간,return_count,lambda15,rent_count,mu_15
48354,흑석한강푸르지오(110동),2092,2020,12,10,NaN,NaN,0.354839,0.088710
48355,흑석한강푸르지오(110동),2092,2020,12,11,NaN,NaN,0.193548,0.048387
48356,희성오피앙,1639,2020,12,5,NaN,NaN,0.129032,0.032258
48357,희훈타워빌 앞,3905,2020,12,4,NaN,NaN,0.064516,0.016129
48358,희훈타워빌 앞,3905,2020,12,5,NaN,NaN,0.225806,0.056452

In [15]:
stops = df[['대여소명','대여소번호']].drop_duplicates().reset_index(drop=True)
Dayhour = pd.DataFrame({'년':np.repeat(2020, 24*len(stops)),'월':np.repeat(12, 24*len(stops)),'시간':np.repeat(np.arange(24), len(stops))})
stops2 = pd.concat([stops] * 24).reset_index(drop=True)
Dayhour_frame = pd.concat([stops2,Dayhour],axis=1)

In [16]:
df = pd.merge(df,Dayhour_frame, on = ['대여소명','대여소번호','년', '월','시간'],how='outer')
df = pd.merge(df, return_ubound, on=['대여소명','대여소번호'], how='outer')
df.fillna(0, inplace=True)
df.tail()

,대여소명,대여소번호,년,월,시간,return_count,lambda15,rent_count,mu_15,upperbound
50409,상담센터,9999,2020,12,18,0.0,0.0,0.0,0.0,0.0
50410,상담센터,9999,2020,12,20,0.0,0.0,0.0,0.0,0.0
50411,상담센터,9999,2020,12,21,0.0,0.0,0.0,0.0,0.0
50412,상담센터,9999,2020,12,22,0.0,0.0,0.0,0.0,0.0
50413,상담센터,9999,2020,12,23,0.0,0.0,0.0,0.0,0.0

In [17]:
df = df.sort_values(['대여소명', '대여소번호','년', '월', '시간'], ignore_index = True)
df

,대여소명,대여소번호,년,월,시간,return_count,lambda15,rent_count,mu_15,upperbound
0,(구)신한은행 중랑교지점,1442,2020,12,0,0.645161,0.161290,0.870968,0.217742,4.0
1,(구)신한은행 중랑교지점,1442,2020,12,1,0.322581,0.080645,0.451613,0.112903,4.0
2,(구)신한은행 중랑교지점,1442,2020,12,2,0.322581,0.080645,0.419355,0.104839,4.0
3,(구)신한은행 중랑교지점,1442,2020,12,3,0.129032,0.032258,0.193548,0.048387,4.0
4,(구)신한은행 중랑교지점,1442,2020,12,4,0.032258,0.008065,0.258065,0.064516,4.0
...,...,...,...,...,...,...,...,...,...,...
50409,힐스테이트에코,2720,2020,12,19,2.483871,0.620968,2.548387,0.637097,4.0
50410,힐스테이트에코,2720,2020,12,20,2.129032,0.532258,2.451613,0.612903,4.0
50411,힐스테이트에코,2720,2020,12,21,1.677419,0.419355,2.387097,0.596774,4.0
50412,힐스테이트에코,2720,2020,12,22,0.935484,0.233871,1.548387,0.387097,4.0
50413,힐스테이트에코,2720,2020,12,23,0.483871,0.120968,0.709677,0.177419,4.0

In [18]:
df = df.drop(['return_count', 'rent_count'], axis = 1)
df = df.rename(columns = {'lambda15' : 'lambda_15', 'upperbound' : 'c'})
df

                대여소명  대여소번호     년   월  시간  lambda_15     mu_15    c
0      (구)신한은행 중랑교지점   1442  2020  12   0   0.161290  0.217742  4.0
1      (구)신한은행 중랑교지점   1442  2020  12   1   0.080645  0.112903  4.0
2      (구)신한은행 중랑교지점   1442  2020  12   2   0.080645  0.104839  4.0
3      (구)신한은행 중랑교지점   1442  2020  12   3   0.032258  0.048387  4.0
4      (구)신한은행 중랑교지점   1442  2020  12   4   0.008065  0.064516  4.0
...              ...    ...   ...  ..  ..        ...       ...  ...
50409        힐스테이트에코   2720  2020  12  19   0.620968  0.637097  4.0
50410        힐스테이트에코   2720  2020  12  20   0.532258  0.612903  4.0
50411        힐스테이트에코   2720  2020  12  21   0.419355  0.596774  4.0
50412        힐스테이트에코   2720  2020  12  22   0.233871  0.387097  4.0
50413        힐스테이트에코   2720  2020  12  23   0.120968  0.177419  4.0

[50414 rows x 8 columns]

In [19]:
df['rho'] = float(-1)

for i in range(len(df)):
    if df['mu_15'][i] == 0:
        df['rho'][i] = 0
    else:
        df['rho'][i] = df['lambda_15'][i] / df['mu_15'][i]
df

                대여소명  대여소번호     년   월  시간  lambda_15     mu_15    c       rho
0      (구)신한은행 중랑교지점   1442  2020  12   0   0.161290  0.217742  4.0  0.740741
1      (구)신한은행 중랑교지점   1442  2020  12   1   0.080645  0.112903  4.0  0.714286
2      (구)신한은행 중랑교지점   1442  2020  12   2   0.080645  0.104839  4.0  0.769231
3      (구)신한은행 중랑교지점   1442  2020  12   3   0.032258  0.048387  4.0  0.666667
4      (구)신한은행 중랑교지점   1442  2020  12   4   0.008065  0.064516  4.0  0.125000
...              ...    ...   ...  ..  ..        ...       ...  ...       ...
50409        힐스테이트에코   2720  2020  12  19   0.620968  0.637097  4.0  0.974684
50410        힐스테이트에코   2720  2020  12  20   0.532258  0.612903  4.0  0.868421
50411        힐스테이트에코   2720  2020  12  21   0.419355  0.596774  4.0  0.702703
50412        힐스테이트에코   2720  2020  12  22   0.233871  0.387097  4.0  0.604167
50413        힐스테이트에코   2720  2020  12  23   0.120968  0.177419  4.0  0.681818

[50414 rows x 9 columns]

In [20]:
# p_c: 대여소에 자전거가 c개(최대거치용량) 있을 확률

df['p_c'] = float(-1)

for i in range(len(df)):
    if df['rho'][i] == 1:
        df['p_c'][i] = 1 / (1 + df['c'][i]) 
    else:
        df['p_c'][i] = (df['rho'][i]**df['c'][i]) * ((1 - df['rho'][i]) / (1 - (df['rho'][i]**(df['c'][i] + 1))))
df

,대여소명,대여소번호,년,월,시간,lambda_15,mu_15,c,rho,p_c
0,(구)신한은행 중랑교지점,1442,2020,12,0,0.161290,0.217742,4.0,0.740741,0.100458
1,(구)신한은행 중랑교지점,1442,2020,12,1,0.080645,0.112903,4.0,0.714286,0.091361
2,(구)신한은행 중랑교지점,1442,2020,12,2,0.080645,0.104839,4.0,0.769231,0.110582
3,(구)신한은행 중랑교지점,1442,2020,12,3,0.032258,0.048387,4.0,0.666667,0.075829
4,(구)신한은행 중랑교지점,1442,2020,12,4,0.008065,0.064516,4.0,0.125000,0.000214
...,...,...,...,...,...,...,...,...,...,...
50409,힐스테이트에코,2720,2020,12,19,0.620968,0.637097,4.0,0.974684,0.189877
50410,힐스테이트에코,2720,2020,12,20,0.532258,0.612903,4.0,0.868421,0.147871
50411,힐스테이트에코,2720,2020,12,21,0.419355,0.596774,4.0,0.702703,0.087478
50412,힐스테이트에코,2720,2020,12,22,0.233871,0.387097,4.0,0.604167,0.057357
50413,힐스테이트에코,2720,2020,12,23,0.120968,0.177419,4.0,0.681818,0.080645

In [21]:
# L_s : 대여소 내 평균 자전거 수

df['L_s'] = float(-1)

for i in range(len(df)):
    rho = df['rho'][i]
    c = df['c'][i]
    if df['rho'][i] == 1:
        df['L_s'][i] = c / 2
    else:
        df['L_s'][i] = (rho / (1 - rho)) * ((1 - ((c + 1) * rho**c) + (c * rho**(c + 1))) / (1 - (rho**(c + 1))))
df

,대여소명,대여소번호,년,월,시간,lambda_15,mu_15,c,rho,p_c,L_s
0,(구)신한은행 중랑교지점,1442,2020,12,0,0.161290,0.217742,4.0,0.740741,0.100458,1.422025
1,(구)신한은행 중랑교지점,1442,2020,12,1,0.080645,0.112903,4.0,0.714286,0.091361,1.357989
2,(구)신한은행 중랑교지점,1442,2020,12,2,0.080645,0.104839,4.0,0.769231,0.110582,1.490308
3,(구)신한은행 중랑교지점,1442,2020,12,3,0.032258,0.048387,4.0,0.666667,0.075829,1.241706
4,(구)신한은행 중랑교지점,1442,2020,12,4,0.008065,0.064516,4.0,0.125000,0.000214,0.142705
...,...,...,...,...,...,...,...,...,...,...,...
50409,힐스테이트에코,2720,2020,12,19,0.620968,0.637097,4.0,0.974684,0.189877,1.948730
50410,힐스테이트에코,2720,2020,12,20,0.532258,0.612903,4.0,0.868421,0.147871,1.720248
50411,힐스테이트에코,2720,2020,12,21,0.419355,0.596774,4.0,0.702703,0.087478,1.329800
50412,힐스테이트에코,2720,2020,12,22,0.233871,0.387097,4.0,0.604167,0.057357,1.088591
50413,힐스테이트에코,2720,2020,12,23,0.120968,0.177419,4.0,0.681818,0.080645,1.278803

In [22]:
# W_s : 대여소 내 평균 대기시간(자전거 반납 후 재대여 될 때까지의 시간)

df['W_s'] = float(-1)

for i in range(len(df)):
    if df['p_c'][i] == 0:
        df['W_s'][i] = 0
    elif df['p_c'][i] == 1:
        df['W_s'][i] = 0
    else:
        df['W_s'][i] = df['L_s'][i] / (df['lambda_15'][i] * (1 - df['p_c'][i]))
df

,대여소명,대여소번호,년,월,시간,lambda_15,mu_15,c,rho,p_c,L_s,W_s
0,(구)신한은행 중랑교지점,1442,2020,12,0,0.161290,0.217742,4.0,0.740741,0.100458,1.422025,9.801160
1,(구)신한은행 중랑교지점,1442,2020,12,1,0.080645,0.112903,4.0,0.714286,0.091361,1.357989,18.532175
2,(구)신한은행 중랑교지점,1442,2020,12,2,0.080645,0.104839,4.0,0.769231,0.110582,1.490308,20.777412
3,(구)신한은행 중랑교지점,1442,2020,12,3,0.032258,0.048387,4.0,0.666667,0.075829,1.241706,41.651282
4,(구)신한은행 중랑교지점,1442,2020,12,4,0.008065,0.064516,4.0,0.125000,0.000214,0.142705,17.699145
...,...,...,...,...,...,...,...,...,...,...,...,...
50409,힐스테이트에코,2720,2020,12,19,0.620968,0.637097,4.0,0.974684,0.189877,1.948730,3.873749
50410,힐스테이트에코,2720,2020,12,20,0.532258,0.612903,4.0,0.868421,0.147871,1.720248,3.792832
50411,힐스테이트에코,2720,2020,12,21,0.419355,0.596774,4.0,0.702703,0.087478,1.329800,3.475055
50412,힐스테이트에코,2720,2020,12,22,0.233871,0.387097,4.0,0.604167,0.057357,1.088591,4.937888
50413,힐스테이트에코,2720,2020,12,23,0.120968,0.177419,4.0,0.681818,0.080645,1.278803,11.498758

In [23]:
# 일부 칼럼 타입 카테고리로 변환

df = df.astype({'대여소명' : 'category', '대여소번호' : 'category'})

In [24]:
station = pd.read_csv('./대학원/데이터/정리 데이터/공공자전거 대여소 정보(21.06월 기준).csv')
station.head()

,대여소 번호,보관소(대여소)명,자치구,상세주소,위도,경도,설치 시기,LCD 거치대수,QR 거치대수,운영 방식
0,102,망원역 1번출구 앞,마포구,서울특별시 마포구 월드컵로 72,37.555649,126.910629,2015-09-06,20.0,NaN,LCD
1,103,망원역 2번출구 앞,마포구,서울특별시 마포구 월드컵로 79,37.554951,126.910835,2015-09-06,14.0,NaN,LCD
2,104,합정역 1번출구 앞,마포구,서울특별시 마포구 양화로 59,37.550629,126.914986,2015-09-06,13.0,NaN,LCD
3,105,합정역 5번출구 앞,마포구,서울특별시 마포구 양화로 48,37.550007,126.914825,2015-09-06,5.0,NaN,LCD
4,106,합정역 7번출구 앞,마포구,서울특별시 마포구 독막로 4,37.548645,126.912826,2015-09-06,10.0,NaN,LCD

In [25]:
station = station.astype({'자치구' : 'category', '대여소 번호' : 'category'})

In [26]:
station = station.rename(columns = {'대여소 번호' : '대여소번호'})
station

,대여소번호,보관소(대여소)명,자치구,상세주소,위도,경도,설치 시기,LCD 거치대수,QR 거치대수,운영 방식
0,102,망원역 1번출구 앞,마포구,서울특별시 마포구 월드컵로 72,37.555649,126.910629,2015-09-06,20.0,NaN,LCD
1,103,망원역 2번출구 앞,마포구,서울특별시 마포구 월드컵로 79,37.554951,126.910835,2015-09-06,14.0,NaN,LCD
2,104,합정역 1번출구 앞,마포구,서울특별시 마포구 양화로 59,37.550629,126.914986,2015-09-06,13.0,NaN,LCD
3,105,합정역 5번출구 앞,마포구,서울특별시 마포구 양화로 48,37.550007,126.914825,2015-09-06,5.0,NaN,LCD
4,106,합정역 7번출구 앞,마포구,서울특별시 마포구 독막로 4,37.548645,126.912826,2015-09-06,10.0,NaN,LCD
...,...,...,...,...,...,...,...,...,...,...
2462,4864,송파사거리,송파구,송파구 송파동 97-2,37.502056,127.110550,2021-04-27,NaN,6.0,QR
2463,4865,한성백제역 1번출구 뒤,송파구,송파구 방이동 45-4,37.516342,127.115593,2021-04-28,NaN,5.0,QR
2464,4867,가락대림아파트 앞,송파구,송파구 가락동 94-9,37.500027,127.118431,2021-04-28,NaN,10.0,QR
2465,4868,레이크 호텔 앞,송파구,송파구 석촌동 158,37.507172,127.101242,2021-05-18,NaN,7.0,QR
2466,4869,잠실나들목6,송파구,잠실동 24,37.516296,127.084610,2021-06-21,NaN,9.0,QR

In [27]:
df = pd.merge(df, station[['자치구', '대여소번호']], on = '대여소번호')
df.head()

,대여소명,대여소번호,년,월,시간,lambda_15,mu_15,c,rho,p_c,L_s,W_s,자치구
0,(구)신한은행 중랑교지점,1442,2020,12,0,0.161290,0.217742,4.0,0.740741,0.100458,1.422025,9.801160,중랑구
1,(구)신한은행 중랑교지점,1442,2020,12,1,0.080645,0.112903,4.0,0.714286,0.091361,1.357989,18.532175,중랑구
2,(구)신한은행 중랑교지점,1442,2020,12,2,0.080645,0.104839,4.0,0.769231,0.110582,1.490308,20.777412,중랑구
3,(구)신한은행 중랑교지점,1442,2020,12,3,0.032258,0.048387,4.0,0.666667,0.075829,1.241706,41.651282,중랑구
4,(구)신한은행 중랑교지점,1442,2020,12,4,0.008065,0.064516,4.0,0.125000,0.000214,0.142705,17.699145,중랑구

In [28]:
df = df.drop(['대여소번호', 'c'], axis = 1)
df = df[['자치구', '대여소명', '년', '월', '시간','L_s', 'W_s']]
df.head()

   자치구           대여소명     년   월  시간       L_s        W_s
0  중랑구  (구)신한은행 중랑교지점  2020  12   0  1.422025   9.801160
1  중랑구  (구)신한은행 중랑교지점  2020  12   1  1.357989  18.532175
2  중랑구  (구)신한은행 중랑교지점  2020  12   2  1.490308  20.777412
3  중랑구  (구)신한은행 중랑교지점  2020  12   3  1.241706  41.651282
4  중랑구  (구)신한은행 중랑교지점  2020  12   4  0.142705  17.699145

In [29]:
df.to_excel('./2020.12 Ls, Ws.xlsx', index = False)