In [1]:
import pandas as pd
import numpy as np

import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

pd.set_option('display.max_columns', None)

mpl.rcParams['axes.unicode_minus'] = False
plt.rcParams['font.family'] = 'Malgun Gothic'


pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)

In [2]:
df2 = pd.read_csv('./data/file/공공자전거 대여이력_2020.07.csv', encoding = 'cp949')
df2.columns = ['자전거번호', '대여일시', '대여대여소번호', '대여대여소명', '대여거치대', '반납일시', '반납대여소번호', '반납대여소명', '반납거치대', '이용시간', '이용거리']
df2.head()

,자전거번호,대여일시,대여대여소번호,대여대여소명,대여거치대,반납일시,반납대여소번호,반납대여소명,반납거치대,이용시간,이용거리
0,SPB-30768,2020-07-01 00:00:02,2279,교대역 5번출구뒤,0,2020-07-01 00:08:06,2266,서초역 3번출구,0,8,1057.48
1,SPB-31739,2020-07-01 00:00:02,2621,한성백제역 2번 출구,0,2020-07-01 00:08:53,1218,방이역 4번출구,0,9,1313.50
2,SPB-35374,2020-07-01 00:00:04,146,마포역 2번출구 뒤,0,2020-07-01 00:04:22,148,용강동 주민센터 앞,0,4,0.00
3,SPB-21842,2020-07-01 00:00:08,251,서울지방병무청 버스정류장,3,2020-07-01 00:14:19,1911,구로디지털단지역 앞,9,13,3240.00
4,SPB-35459,2020-07-01 00:00:14,265,영등포유통상가 사거리,0,2020-07-01 00:10:00,283,아크로타워 스퀘어(영등포시장),0,10,0.00

In [3]:
df = df2[~df2['대여대여소명'].str.contains('\?')]
df.head()

,자전거번호,대여일시,대여대여소번호,대여대여소명,대여거치대,반납일시,반납대여소번호,반납대여소명,반납거치대,이용시간,이용거리
0,SPB-30768,2020-07-01 00:00:02,2279,교대역 5번출구뒤,0,2020-07-01 00:08:06,2266,서초역 3번출구,0,8,1057.48
1,SPB-31739,2020-07-01 00:00:02,2621,한성백제역 2번 출구,0,2020-07-01 00:08:53,1218,방이역 4번출구,0,9,1313.50
2,SPB-35374,2020-07-01 00:00:04,146,마포역 2번출구 뒤,0,2020-07-01 00:04:22,148,용강동 주민센터 앞,0,4,0.00
3,SPB-21842,2020-07-01 00:00:08,251,서울지방병무청 버스정류장,3,2020-07-01 00:14:19,1911,구로디지털단지역 앞,9,13,3240.00
4,SPB-35459,2020-07-01 00:00:14,265,영등포유통상가 사거리,0,2020-07-01 00:10:00,283,아크로타워 스퀘어(영등포시장),0,10,0.00

In [4]:
df = df[~df['반납대여소명'].str.contains('\?')]
df

,자전거번호,대여일시,대여대여소번호,대여대여소명,대여거치대,반납일시,반납대여소번호,반납대여소명,반납거치대,이용시간,이용거리
0,SPB-30768,2020-07-01 00:00:02,2279,교대역 5번출구뒤,0,2020-07-01 00:08:06,2266,서초역 3번출구,0,8,1057.48
1,SPB-31739,2020-07-01 00:00:02,2621,한성백제역 2번 출구,0,2020-07-01 00:08:53,1218,방이역 4번출구,0,9,1313.50
2,SPB-35374,2020-07-01 00:00:04,146,마포역 2번출구 뒤,0,2020-07-01 00:04:22,148,용강동 주민센터 앞,0,4,0.00
3,SPB-21842,2020-07-01 00:00:08,251,서울지방병무청 버스정류장,3,2020-07-01 00:14:19,1911,구로디지털단지역 앞,9,13,3240.00
4,SPB-35459,2020-07-01 00:00:14,265,영등포유통상가 사거리,0,2020-07-01 00:10:00,283,아크로타워 스퀘어(영등포시장),0,10,0.00
...,...,...,...,...,...,...,...,...,...,...,...
2544875,SPB-36279,2020-07-31 23:59:50,272,당산육갑문,0,2020-08-01 00:03:08,3215,강변삼성래미안,0,3,0.00
2544876,SPB-33523,2020-07-31 23:59:52,834,효창공원앞역 3번출구 뒤,0,2020-08-01 00:07:47,818,숙명여대 입구 교차로,0,8,0.00
2544877,SPB-31478,2020-07-31 23:59:53,2002,노들역 1번출구,0,2020-08-01 00:05:54,2002,노들역 1번출구,0,6,0.00
2544878,SPB-38097,2020-07-31 23:59:55,3586,군자역 비채온 오피스텔,0,2020-08-01 00:06:16,3549,건영아파트 앞,0,6,0.00
2544879,SPB-31793,2020-07-31 23:59:57,1250,문정2동 주민센터,0,2020-08-01 00:06:06,2615,테라타워2,0,6,0.00

In [5]:
df = df.drop(['자전거번호', '대여거치대', '반납거치대', '이용거리'], axis = 1)
df.head()

,대여일시,대여대여소번호,대여대여소명,반납일시,반납대여소번호,반납대여소명,이용시간
0,2020-07-01 00:00:02,2279,교대역 5번출구뒤,2020-07-01 00:08:06,2266,서초역 3번출구,8
1,2020-07-01 00:00:02,2621,한성백제역 2번 출구,2020-07-01 00:08:53,1218,방이역 4번출구,9
2,2020-07-01 00:00:04,146,마포역 2번출구 뒤,2020-07-01 00:04:22,148,용강동 주민센터 앞,4
3,2020-07-01 00:00:08,251,서울지방병무청 버스정류장,2020-07-01 00:14:19,1911,구로디지털단지역 앞,13
4,2020-07-01 00:00:14,265,영등포유통상가 사거리,2020-07-01 00:10:00,283,아크로타워 스퀘어(영등포시장),10

In [6]:
df['대여일시'] = pd.to_datetime(df['대여일시'])
df['반납일시'] = pd.to_datetime(df['반납일시'])

df['대여년'] = df['대여일시'].dt.year
df['대여월'] = df['대여일시'].dt.month
df['대여일'] = df['대여일시'].dt.day
df['대여요일'] = df['대여일시'].dt.dayofweek
df['대여시간'] = df['대여일시'].dt.hour
df['대여시간_분'] = df['대여일시'].dt.minute

df['반납년'] = df['반납일시'].dt.year
df['반납월'] = df['반납일시'].dt.month
df['반납일'] = df['반납일시'].dt.day
df['반납요일'] = df['반납일시'].dt.dayofweek
df['반납시간'] = df['반납일시'].dt.hour
df['반납시간_분'] = df['반납일시'].dt.minute

In [7]:
df = df.sort_values('대여일시', ignore_index = True)
df.head()

,대여일시,대여대여소번호,대여대여소명,반납일시,반납대여소번호,반납대여소명,이용시간,대여년,대여월,대여일,대여요일,대여시간,대여시간_분,반납년,반납월,반납일,반납요일,반납시간,반납시간_분
0,2020-07-01 00:00:02,2279,교대역 5번출구뒤,2020-07-01 00:08:06,2266,서초역 3번출구,8,2020,7,1,2,0,0,2020,7,1,2,0,8
1,2020-07-01 00:00:02,2621,한성백제역 2번 출구,2020-07-01 00:08:53,1218,방이역 4번출구,9,2020,7,1,2,0,0,2020,7,1,2,0,8
2,2020-07-01 00:00:04,146,마포역 2번출구 뒤,2020-07-01 00:04:22,148,용강동 주민센터 앞,4,2020,7,1,2,0,0,2020,7,1,2,0,4
3,2020-07-01 00:00:08,251,서울지방병무청 버스정류장,2020-07-01 00:14:19,1911,구로디지털단지역 앞,13,2020,7,1,2,0,0,2020,7,1,2,0,14
4,2020-07-01 00:00:14,265,영등포유통상가 사거리,2020-07-01 00:10:00,283,아크로타워 스퀘어(영등포시장),10,2020,7,1,2,0,0,2020,7,1,2,0,10

In [8]:
df_rental = df[['대여일시', '대여대여소명','대여대여소번호', '대여년', '대여월', '대여일', '대여요일', '대여시간', '대여시간_분']]
df_rental.reset_index(drop = True, inplace = True)
df_rental.head()

,대여일시,대여대여소명,대여대여소번호,대여년,대여월,대여일,대여요일,대여시간,대여시간_분
0,2020-07-01 00:00:02,교대역 5번출구뒤,2279,2020,7,1,2,0,0
1,2020-07-01 00:00:02,한성백제역 2번 출구,2621,2020,7,1,2,0,0
2,2020-07-01 00:00:04,마포역 2번출구 뒤,146,2020,7,1,2,0,0
3,2020-07-01 00:00:08,서울지방병무청 버스정류장,251,2020,7,1,2,0,0
4,2020-07-01 00:00:14,영등포유통상가 사거리,265,2020,7,1,2,0,0

In [9]:
df_rental2 = df_rental.groupby(['대여대여소명','대여대여소번호', '대여년', '대여월', '대여시간']).size().reset_index().rename(columns = {0 : 'rent_count'})
df_rental2

              대여대여소명  대여대여소번호   대여년  대여월  대여시간  rent_count
0      (구)신한은행 중랑교지점     1442  2020    7     0          83
1      (구)신한은행 중랑교지점     1442  2020    7     1          73
2      (구)신한은행 중랑교지점     1442  2020    7     2          69
3      (구)신한은행 중랑교지점     1442  2020    7     3          38
4      (구)신한은행 중랑교지점     1442  2020    7     4          30
...              ...      ...   ...  ...   ...         ...
48481        힐스테이트에코     2720  2020    7    19         161
48482        힐스테이트에코     2720  2020    7    20         120
48483        힐스테이트에코     2720  2020    7    21         137
48484        힐스테이트에코     2720  2020    7    22          70
48485        힐스테이트에코     2720  2020    7    23          80

[48486 rows x 6 columns]

In [10]:
df_rental2['rent_count'] = df_rental2['rent_count'] / 31
df_rental2['mu_15'] = df_rental2['rent_count'] / 4
df_rental2

              대여대여소명  대여대여소번호   대여년  대여월  대여시간  rent_count     mu_15
0      (구)신한은행 중랑교지점     1442  2020    7     0    2.677419  0.669355
1      (구)신한은행 중랑교지점     1442  2020    7     1    2.354839  0.588710
2      (구)신한은행 중랑교지점     1442  2020    7     2    2.225806  0.556452
3      (구)신한은행 중랑교지점     1442  2020    7     3    1.225806  0.306452
4      (구)신한은행 중랑교지점     1442  2020    7     4    0.967742  0.241935
...              ...      ...   ...  ...   ...         ...       ...
48481        힐스테이트에코     2720  2020    7    19    5.193548  1.298387
48482        힐스테이트에코     2720  2020    7    20    3.870968  0.967742
48483        힐스테이트에코     2720  2020    7    21    4.419355  1.104839
48484        힐스테이트에코     2720  2020    7    22    2.258065  0.564516
48485        힐스테이트에코     2720  2020    7    23    2.580645  0.645161

[48486 rows x 7 columns]

In [11]:
df_return = df[['반납일시', '반납대여소명', '반납대여소번호','반납년', '반납월', '반납일', '반납요일', '반납시간', '반납시간_분']]
df_return.reset_index(drop = True, inplace = True)
df_return

,반납일시,반납대여소명,반납대여소번호,반납년,반납월,반납일,반납요일,반납시간,반납시간_분
0,2020-07-01 00:08:06,서초역 3번출구,2266,2020,7,1,2,0,8
1,2020-07-01 00:08:53,방이역 4번출구,1218,2020,7,1,2,0,8
2,2020-07-01 00:04:22,용강동 주민센터 앞,148,2020,7,1,2,0,4
3,2020-07-01 00:14:19,구로디지털단지역 앞,1911,2020,7,1,2,0,14
4,2020-07-01 00:10:00,아크로타워 스퀘어(영등포시장),283,2020,7,1,2,0,10
...,...,...,...,...,...,...,...,...,...
2538539,2020-08-01 00:03:08,강변삼성래미안,3215,2020,8,1,5,0,3
2538540,2020-08-01 00:07:47,숙명여대 입구 교차로,818,2020,8,1,5,0,7
2538541,2020-08-01 00:05:54,노들역 1번출구,2002,2020,8,1,5,0,5
2538542,2020-08-01 00:06:16,건영아파트 앞,3549,2020,8,1,5,0,6
2538543,2020-08-01 00:06:06,테라타워2,2615,2020,8,1,5,0,6

In [12]:
df_c = pd.DataFrame(df_return[['반납대여소명','반납대여소번호','반납년', '반납월','반납시간']].value_counts()).rename(columns = {0 : 'return_count'}).reset_index()
df_c.reset_index(drop=True, inplace = True)
df_c['return_count'] = df_c['return_count'] / 31
df_c['lambda15'] = df_c['return_count']/4
df_c.columns = ['대여소명','대여소번호','년', '월','시간','return_count','lambda15']
df_c

                대여소명  대여소번호     년  월  시간  return_count   lambda15
0      뚝섬유원지역 1번출구 앞    502  2020  7  20     67.548387  16.887097
1      뚝섬유원지역 1번출구 앞    502  2020  7  21     65.580645  16.395161
2       여의나루역 1번출구 앞    207  2020  7  21     61.387097  15.346774
3      뚝섬유원지역 1번출구 앞    502  2020  7  22     57.677419  14.419355
4      뚝섬유원지역 1번출구 앞    502  2020  7  19     56.741935  14.185484
...              ...    ...   ... ..  ..           ...        ...
48694    신정이펜하우스314동    733  2020  7   5      0.032258   0.008065
48695    녹번 힐스테이트상가앞    978  2020  7   7      0.032258   0.008065
48696          나들목공원   2172  2020  7   3      0.032258   0.008065
48697       문정 법조단지5   1241  2020  7   6      0.032258   0.008065
48698    응봉현대아파트 정류소    569  2020  8   0      0.032258   0.008065

[48699 rows x 7 columns]

In [13]:
return_ubound = pd.DataFrame(df_c.groupby(['대여소명','대여소번호'])['return_count'].agg(lambda x : np.floor(np.percentile(x,75)+(np.percentile(x,75)-np.percentile(x,25))*1.5))).reset_index().rename(columns = {'return_count' : 'upperbound'})
return_ubound.head()

            대여소명  대여소번호  upperbound
0  (구)신한은행 중랑교지점   1442         8.0
1    (구)합정동 주민센터    101         3.0
2    (시립)고덕평생학습관   1070         0.0
3   (재)FITI시험연구원   2724         4.0
4  3호선 매봉역 3번출구앞   2335         2.0

In [14]:
df_rental2.columns = ['대여소명','대여소번호','년', '월','시간', 'rent_count','mu_15']
df = pd.merge(df_c, df_rental2, on=['대여소명','대여소번호','년', '월','시간'], how='outer')
df.tail()

,대여소명,대여소번호,년,월,시간,return_count,lambda15,rent_count,mu_15
49612,흑석한강푸르지오(110동),2092,2020,7,11,NaN,NaN,0.129032,0.032258
49613,흑석한강푸르지오(110동),2092,2020,7,14,NaN,NaN,0.064516,0.016129
49614,흑석한강푸르지오(110동),2092,2020,7,15,NaN,NaN,0.096774,0.024194
49615,흥국사 정류장,991,2020,7,4,NaN,NaN,0.032258,0.008065
49616,흥국사 정류장,991,2020,7,9,NaN,NaN,0.064516,0.016129

In [15]:
stops = df[['대여소명','대여소번호']].drop_duplicates().reset_index(drop=True)
Dayhour = pd.DataFrame({'년':np.repeat(2020, 24*len(stops)),'월':np.repeat(7, 24*len(stops)),'시간':np.repeat(np.arange(24), len(stops))})
stops2 = pd.concat([stops] * 24).reset_index(drop=True)
Dayhour_frame = pd.concat([stops2,Dayhour],axis=1)

In [16]:
df = pd.merge(df,Dayhour_frame, on = ['대여소명','대여소번호','년', '월','시간'],how='outer')
df = pd.merge(df, return_ubound, on=['대여소명','대여소번호'], how='outer')
df.fillna(0, inplace=True)
df.tail()

,대여소명,대여소번호,년,월,시간,return_count,lambda15,rent_count,mu_15,upperbound
50345,천호센터,9988,2020,7,18,0.0,0.0,0.0,0.0,0.0
50346,천호센터,9988,2020,7,19,0.0,0.0,0.0,0.0,0.0
50347,천호센터,9988,2020,7,21,0.0,0.0,0.0,0.0,0.0
50348,천호센터,9988,2020,7,22,0.0,0.0,0.0,0.0,0.0
50349,천호센터,9988,2020,7,23,0.0,0.0,0.0,0.0,0.0

In [17]:
df = df.sort_values(['대여소명', '대여소번호','년', '월', '시간'], ignore_index = True)
df

,대여소명,대여소번호,년,월,시간,return_count,lambda15,rent_count,mu_15,upperbound
0,(구)신한은행 중랑교지점,1442,2020,7,0,3.000000,0.750000,2.677419,0.669355,8.0
1,(구)신한은행 중랑교지점,1442,2020,7,1,2.677419,0.669355,2.354839,0.588710,8.0
2,(구)신한은행 중랑교지점,1442,2020,7,2,2.032258,0.508065,2.225806,0.556452,8.0
3,(구)신한은행 중랑교지점,1442,2020,7,3,1.451613,0.362903,1.225806,0.306452,8.0
4,(구)신한은행 중랑교지점,1442,2020,7,4,1.032258,0.258065,0.967742,0.241935,8.0
...,...,...,...,...,...,...,...,...,...,...
50345,힐스테이트에코,2720,2020,7,19,5.032258,1.258065,5.193548,1.298387,8.0
50346,힐스테이트에코,2720,2020,7,20,3.516129,0.879032,3.870968,0.967742,8.0
50347,힐스테이트에코,2720,2020,7,21,4.161290,1.040323,4.419355,1.104839,8.0
50348,힐스테이트에코,2720,2020,7,22,2.129032,0.532258,2.258065,0.564516,8.0
50349,힐스테이트에코,2720,2020,7,23,2.677419,0.669355,2.580645,0.645161,8.0

In [18]:
df = df.drop(['return_count', 'rent_count'], axis = 1)
df = df.rename(columns = {'lambda15' : 'lambda_15', 'upperbound' : 'c'})
df

                대여소명  대여소번호     년  월  시간  lambda_15     mu_15    c
0      (구)신한은행 중랑교지점   1442  2020  7   0   0.750000  0.669355  8.0
1      (구)신한은행 중랑교지점   1442  2020  7   1   0.669355  0.588710  8.0
2      (구)신한은행 중랑교지점   1442  2020  7   2   0.508065  0.556452  8.0
3      (구)신한은행 중랑교지점   1442  2020  7   3   0.362903  0.306452  8.0
4      (구)신한은행 중랑교지점   1442  2020  7   4   0.258065  0.241935  8.0
...              ...    ...   ... ..  ..        ...       ...  ...
50345        힐스테이트에코   2720  2020  7  19   1.258065  1.298387  8.0
50346        힐스테이트에코   2720  2020  7  20   0.879032  0.967742  8.0
50347        힐스테이트에코   2720  2020  7  21   1.040323  1.104839  8.0
50348        힐스테이트에코   2720  2020  7  22   0.532258  0.564516  8.0
50349        힐스테이트에코   2720  2020  7  23   0.669355  0.645161  8.0

[50350 rows x 8 columns]

In [19]:
df['rho'] = float(-1)

for i in range(len(df)):
    if df['mu_15'][i] == 0:
        df['rho'][i] = 0
    else:
        df['rho'][i] = df['lambda_15'][i] / df['mu_15'][i]
df

                대여소명  대여소번호     년  월  시간  lambda_15     mu_15    c       rho
0      (구)신한은행 중랑교지점   1442  2020  7   0   0.750000  0.669355  8.0  1.120482
1      (구)신한은행 중랑교지점   1442  2020  7   1   0.669355  0.588710  8.0  1.136986
2      (구)신한은행 중랑교지점   1442  2020  7   2   0.508065  0.556452  8.0  0.913043
3      (구)신한은행 중랑교지점   1442  2020  7   3   0.362903  0.306452  8.0  1.184211
4      (구)신한은행 중랑교지점   1442  2020  7   4   0.258065  0.241935  8.0  1.066667
...              ...    ...   ... ..  ..        ...       ...  ...       ...
50345        힐스테이트에코   2720  2020  7  19   1.258065  1.298387  8.0  0.968944
50346        힐스테이트에코   2720  2020  7  20   0.879032  0.967742  8.0  0.908333
50347        힐스테이트에코   2720  2020  7  21   1.040323  1.104839  8.0  0.941606
50348        힐스테이트에코   2720  2020  7  22   0.532258  0.564516  8.0  0.942857
50349        힐스테이트에코   2720  2020  7  23   0.669355  0.645161  8.0  1.037500

[50350 rows x 9 columns]

In [20]:
# p_c: 대여소에 자전거가 c개(최대거치용량) 있을 확률

df['p_c'] = float(-1)

for i in range(len(df)):
    if df['rho'][i] == 1:
        df['p_c'][i] = 1 / (1 + df['c'][i]) 
    else:
        df['p_c'][i] = (df['rho'][i]**df['c'][i]) * ((1 - df['rho'][i]) / (1 - (df['rho'][i]**(df['c'][i] + 1))))
df

,대여소명,대여소번호,년,월,시간,lambda_15,mu_15,c,rho,p_c
0,(구)신한은행 중랑교지점,1442,2020,7,0,0.750000,0.669355,8.0,1.120482,0.167805
1,(구)신한은행 중랑교지점,1442,2020,7,1,0.669355,0.588710,8.0,1.136986,0.175866
2,(구)신한은행 중랑교지점,1442,2020,7,2,0.508065,0.556452,8.0,0.913043,0.075129
3,(구)신한은행 중랑교지점,1442,2020,7,3,0.362903,0.306452,8.0,1.184211,0.199007
4,(구)신한은행 중랑교지점,1442,2020,7,4,0.258065,0.241935,8.0,1.066667,0.141860
...,...,...,...,...,...,...,...,...,...,...
50345,힐스테이트에코,2720,2020,7,19,1.258065,1.298387,8.0,0.968944,0.097614
50346,힐스테이트에코,2720,2020,7,20,0.879032,0.967742,8.0,0.908333,0.073357
50347,힐스테이트에코,2720,2020,7,21,1.040323,1.104839,8.0,0.941606,0.086299
50348,힐스테이트에코,2720,2020,7,22,0.532258,0.564516,8.0,0.942857,0.086804
50349,힐스테이트에코,2720,2020,7,23,0.669355,0.645161,8.0,1.037500,0.128159

In [21]:
# L_s : 대여소 내 평균 자전거 수

df['L_s'] = float(-1)

for i in range(len(df)):
    rho = df['rho'][i]
    c = df['c'][i]
    if df['rho'][i] == 1:
        df['L_s'][i] = c / 2
    else:
        df['L_s'][i] = (rho / (1 - rho)) * ((1 - ((c + 1) * rho**c) + (c * rho**(c + 1))) / (1 - (rho**(c + 1))))
df

,대여소명,대여소번호,년,월,시간,lambda_15,mu_15,c,rho,p_c,L_s
0,(구)신한은행 중랑교지점,1442,2020,7,0,0.750000,0.669355,8.0,1.120482,0.167805,4.745306
1,(구)신한은행 중랑교지점,1442,2020,7,1,0.669355,0.588710,8.0,1.136986,0.175866,4.837189
2,(구)신한은행 중랑교지점,1442,2020,7,2,0.508065,0.556452,8.0,0.913043,0.075129,3.400273
3,(구)신한은행 중랑교지점,1442,2020,7,3,0.362903,0.306452,8.0,1.184211,0.199007,5.085434
4,(구)신한은행 중랑교지점,1442,2020,7,4,0.258065,0.241935,8.0,1.066667,0.141860,4.427827
...,...,...,...,...,...,...,...,...,...,...,...
50345,힐스테이트에코,2720,2020,7,19,1.258065,1.298387,8.0,0.968944,0.097614,3.789963
50346,힐스테이트에코,2720,2020,7,20,0.879032,0.967742,8.0,0.908333,0.073357,3.366996
50347,힐스테이트에코,2720,2020,7,21,1.040323,1.104839,8.0,0.941606,0.086299,3.600847
50348,힐스테이트에코,2720,2020,7,22,0.532258,0.564516,8.0,0.942857,0.086804,3.609574
50349,힐스테이트에코,2720,2020,7,23,0.669355,0.645161,8.0,1.037500,0.128159,4.244973

In [22]:
# W_s : 대여소 내 평균 대기시간(자전거 반납 후 재대여 될 때까지의 시간)

df['W_s'] = float(-1)

for i in range(len(df)):
    if df['p_c'][i] == 0:
        df['W_s'][i] = 0
    elif df['p_c'][i] == 1:
        df['W_s'][i] = 0
    else:
        df['W_s'][i] = df['L_s'][i] / (df['lambda_15'][i] * (1 - df['p_c'][i]))
df

,대여소명,대여소번호,년,월,시간,lambda_15,mu_15,c,rho,p_c,L_s,W_s
0,(구)신한은행 중랑교지점,1442,2020,7,0,0.750000,0.669355,8.0,1.120482,0.167805,4.745306,7.602878
1,(구)신한은행 중랑교지점,1442,2020,7,1,0.669355,0.588710,8.0,1.136986,0.175866,4.837189,8.768773
2,(구)신한은행 중랑교지점,1442,2020,7,2,0.508065,0.556452,8.0,0.913043,0.075129,3.400273,7.236257
3,(구)신한은행 중랑교지점,1442,2020,7,3,0.362903,0.306452,8.0,1.184211,0.199007,5.085434,17.494789
4,(구)신한은행 중랑교지점,1442,2020,7,4,0.258065,0.241935,8.0,1.066667,0.141860,4.427827,19.994206
...,...,...,...,...,...,...,...,...,...,...,...,...
50345,힐스테이트에코,2720,2020,7,19,1.258065,1.298387,8.0,0.968944,0.097614,3.789963,3.338411
50346,힐스테이트에코,2720,2020,7,20,0.879032,0.967742,8.0,0.908333,0.073357,3.366996,4.133570
50347,힐스테이트에코,2720,2020,7,21,1.040323,1.104839,8.0,0.941606,0.086299,3.600847,3.788198
50348,힐스테이트에코,2720,2020,7,22,0.532258,0.564516,8.0,0.942857,0.086804,3.609574,7.426254
50349,힐스테이트에코,2720,2020,7,23,0.669355,0.645161,8.0,1.037500,0.128159,4.244973,7.274135

In [23]:
# 일부 칼럼 타입 카테고리로 변환

df = df.astype({'대여소명' : 'category', '대여소번호' : 'category'})

In [24]:
station = pd.read_csv('./대학원/데이터/정리 데이터/공공자전거 대여소 정보(21.06월 기준).csv')
station.head()

,대여소 번호,보관소(대여소)명,자치구,상세주소,위도,경도,설치 시기,LCD 거치대수,QR 거치대수,운영 방식
0,102,망원역 1번출구 앞,마포구,서울특별시 마포구 월드컵로 72,37.555649,126.910629,2015-09-06,20.0,NaN,LCD
1,103,망원역 2번출구 앞,마포구,서울특별시 마포구 월드컵로 79,37.554951,126.910835,2015-09-06,14.0,NaN,LCD
2,104,합정역 1번출구 앞,마포구,서울특별시 마포구 양화로 59,37.550629,126.914986,2015-09-06,13.0,NaN,LCD
3,105,합정역 5번출구 앞,마포구,서울특별시 마포구 양화로 48,37.550007,126.914825,2015-09-06,5.0,NaN,LCD
4,106,합정역 7번출구 앞,마포구,서울특별시 마포구 독막로 4,37.548645,126.912826,2015-09-06,10.0,NaN,LCD

In [25]:
station = station.astype({'자치구' : 'category', '대여소 번호' : 'category'})

In [26]:
station = station.rename(columns = {'대여소 번호' : '대여소번호'})
station

,대여소번호,보관소(대여소)명,자치구,상세주소,위도,경도,설치 시기,LCD 거치대수,QR 거치대수,운영 방식
0,102,망원역 1번출구 앞,마포구,서울특별시 마포구 월드컵로 72,37.555649,126.910629,2015-09-06,20.0,NaN,LCD
1,103,망원역 2번출구 앞,마포구,서울특별시 마포구 월드컵로 79,37.554951,126.910835,2015-09-06,14.0,NaN,LCD
2,104,합정역 1번출구 앞,마포구,서울특별시 마포구 양화로 59,37.550629,126.914986,2015-09-06,13.0,NaN,LCD
3,105,합정역 5번출구 앞,마포구,서울특별시 마포구 양화로 48,37.550007,126.914825,2015-09-06,5.0,NaN,LCD
4,106,합정역 7번출구 앞,마포구,서울특별시 마포구 독막로 4,37.548645,126.912826,2015-09-06,10.0,NaN,LCD
...,...,...,...,...,...,...,...,...,...,...
2462,4864,송파사거리,송파구,송파구 송파동 97-2,37.502056,127.110550,2021-04-27,NaN,6.0,QR
2463,4865,한성백제역 1번출구 뒤,송파구,송파구 방이동 45-4,37.516342,127.115593,2021-04-28,NaN,5.0,QR
2464,4867,가락대림아파트 앞,송파구,송파구 가락동 94-9,37.500027,127.118431,2021-04-28,NaN,10.0,QR
2465,4868,레이크 호텔 앞,송파구,송파구 석촌동 158,37.507172,127.101242,2021-05-18,NaN,7.0,QR
2466,4869,잠실나들목6,송파구,잠실동 24,37.516296,127.084610,2021-06-21,NaN,9.0,QR

In [27]:
df = pd.merge(df, station[['자치구', '대여소번호']], on = '대여소번호')
df.head()

,대여소명,대여소번호,년,월,시간,lambda_15,mu_15,c,rho,p_c,L_s,W_s,자치구
0,(구)신한은행 중랑교지점,1442,2020,7,0,0.750000,0.669355,8.0,1.120482,0.167805,4.745306,7.602878,중랑구
1,(구)신한은행 중랑교지점,1442,2020,7,1,0.669355,0.588710,8.0,1.136986,0.175866,4.837189,8.768773,중랑구
2,(구)신한은행 중랑교지점,1442,2020,7,2,0.508065,0.556452,8.0,0.913043,0.075129,3.400273,7.236257,중랑구
3,(구)신한은행 중랑교지점,1442,2020,7,3,0.362903,0.306452,8.0,1.184211,0.199007,5.085434,17.494789,중랑구
4,(구)신한은행 중랑교지점,1442,2020,7,4,0.258065,0.241935,8.0,1.066667,0.141860,4.427827,19.994206,중랑구

In [28]:
df = df.drop(['대여소번호', 'c'], axis = 1)
df = df[['자치구', '대여소명', '년', '월', '시간','L_s', 'W_s']]
df.head()

   자치구           대여소명     년  월  시간       L_s        W_s
0  중랑구  (구)신한은행 중랑교지점  2020  7   0  4.745306   7.602878
1  중랑구  (구)신한은행 중랑교지점  2020  7   1  4.837189   8.768773
2  중랑구  (구)신한은행 중랑교지점  2020  7   2  3.400273   7.236257
3  중랑구  (구)신한은행 중랑교지점  2020  7   3  5.085434  17.494789
4  중랑구  (구)신한은행 중랑교지점  2020  7   4  4.427827  19.994206

In [29]:
df.to_excel('./2020.07 Ls, Ws.xlsx', index = False)