In [1]:
import pandas as pd
import numpy as np

import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

pd.set_option('display.max_columns', None)

mpl.rcParams['axes.unicode_minus'] = False
plt.rcParams['font.family'] = 'Malgun Gothic'


pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)

In [2]:
df2 = pd.read_csv('./data/file/공공자전거 대여이력_2020.11.csv', encoding = 'cp949')
df2.columns = ['자전거번호', '대여일시', '대여대여소번호', '대여대여소명', '대여거치대', '반납일시', '반납대여소번호', '반납대여소명', '반납거치대', '이용시간', '이용거리']
df2.head()

,자전거번호,대여일시,대여대여소번호,대여대여소명,대여거치대,반납일시,반납대여소번호,반납대여소명,반납거치대,이용시간,이용거리
0,SPB-36740,2020-11-01 00:01:00,1149,신방화역환승주차장,0,2020-11-01 00:03:39,2702,마곡 엠밸리2단지,0,3,0.0
1,SPB-37147,2020-11-01 00:02:09,3520,광진경찰서,0,2020-11-01 00:04:20,3501,광진구청 앞,0,2,0.0
2,SPB-30331,2020-11-01 00:00:12,3009,서교동사거리(신),0,2020-11-01 00:04:25,3010,홍대입구역 3번출구,0,4,0.0
3,SPB-36835,2020-11-01 00:01:52,2711,가로공원공영주차장 1번 출구,0,2020-11-01 00:04:27,1127,화곡역(에이스정형외과앞) 버스정류장,0,3,0.0
4,SPB-31250,2020-11-01 00:03:31,1637,KT 노원점 건물 앞,0,2020-11-01 00:05:04,1637,KT 노원점 건물 앞,0,2,0.0

In [3]:
df = df2[~df2['대여대여소명'].str.contains('\?')]
df.head()

,자전거번호,대여일시,대여대여소번호,대여대여소명,대여거치대,반납일시,반납대여소번호,반납대여소명,반납거치대,이용시간,이용거리
0,SPB-36740,2020-11-01 00:01:00,1149,신방화역환승주차장,0,2020-11-01 00:03:39,2702,마곡 엠밸리2단지,0,3,0.0
1,SPB-37147,2020-11-01 00:02:09,3520,광진경찰서,0,2020-11-01 00:04:20,3501,광진구청 앞,0,2,0.0
2,SPB-30331,2020-11-01 00:00:12,3009,서교동사거리(신),0,2020-11-01 00:04:25,3010,홍대입구역 3번출구,0,4,0.0
3,SPB-36835,2020-11-01 00:01:52,2711,가로공원공영주차장 1번 출구,0,2020-11-01 00:04:27,1127,화곡역(에이스정형외과앞) 버스정류장,0,3,0.0
4,SPB-31250,2020-11-01 00:03:31,1637,KT 노원점 건물 앞,0,2020-11-01 00:05:04,1637,KT 노원점 건물 앞,0,2,0.0

In [4]:
df = df[~df['반납대여소명'].str.contains('\?')]
df

,자전거번호,대여일시,대여대여소번호,대여대여소명,대여거치대,반납일시,반납대여소번호,반납대여소명,반납거치대,이용시간,이용거리
0,SPB-36740,2020-11-01 00:01:00,1149,신방화역환승주차장,0,2020-11-01 00:03:39,2702,마곡 엠밸리2단지,0,3,0.0
1,SPB-37147,2020-11-01 00:02:09,3520,광진경찰서,0,2020-11-01 00:04:20,3501,광진구청 앞,0,2,0.0
2,SPB-30331,2020-11-01 00:00:12,3009,서교동사거리(신),0,2020-11-01 00:04:25,3010,홍대입구역 3번출구,0,4,0.0
3,SPB-36835,2020-11-01 00:01:52,2711,가로공원공영주차장 1번 출구,0,2020-11-01 00:04:27,1127,화곡역(에이스정형외과앞) 버스정류장,0,3,0.0
4,SPB-31250,2020-11-01 00:03:31,1637,KT 노원점 건물 앞,0,2020-11-01 00:05:04,1637,KT 노원점 건물 앞,0,2,0.0
...,...,...,...,...,...,...,...,...,...,...,...
1975132,SPB-51218,2020-11-30 23:38:28,1617,하계동 중평어린이공원 앞,0,2020-12-01 01:35:30,1656,중앙하이츠 아파트 입구,0,117,0.0
1975133,SPB-33827,2020-11-30 23:54:12,153,성산2교 사거리,0,2020-12-01 01:46:38,153,성산2교 사거리,0,112,0.0
1975134,SPB-42198,2020-11-30 21:15:52,170,가재울 뉴타운 주유소 옆,0,2020-12-01 02:08:20,165,중앙근린공원,0,292,0.0
1975135,SPB-35244,2020-11-30 21:29:15,2111,서울대입구역 1번출구,0,2020-12-01 02:49:14,2284,CJ오쇼핑앞,0,320,0.0
1975136,SPB-33922,2020-11-30 19:28:03,2822,제니스스포츠 앞,0,2020-12-01 05:04:15,263,근로자회관 사거리,0,576,0.0

In [5]:
df = df.drop(['자전거번호', '대여거치대', '반납거치대', '이용거리'], axis = 1)
df.head()

,대여일시,대여대여소번호,대여대여소명,반납일시,반납대여소번호,반납대여소명,이용시간
0,2020-11-01 00:01:00,1149,신방화역환승주차장,2020-11-01 00:03:39,2702,마곡 엠밸리2단지,3
1,2020-11-01 00:02:09,3520,광진경찰서,2020-11-01 00:04:20,3501,광진구청 앞,2
2,2020-11-01 00:00:12,3009,서교동사거리(신),2020-11-01 00:04:25,3010,홍대입구역 3번출구,4
3,2020-11-01 00:01:52,2711,가로공원공영주차장 1번 출구,2020-11-01 00:04:27,1127,화곡역(에이스정형외과앞) 버스정류장,3
4,2020-11-01 00:03:31,1637,KT 노원점 건물 앞,2020-11-01 00:05:04,1637,KT 노원점 건물 앞,2

In [6]:
df['대여일시'] = pd.to_datetime(df['대여일시'])
df['반납일시'] = pd.to_datetime(df['반납일시'])

df['대여년'] = df['대여일시'].dt.year
df['대여월'] = df['대여일시'].dt.month
df['대여일'] = df['대여일시'].dt.day
df['대여요일'] = df['대여일시'].dt.dayofweek
df['대여시간'] = df['대여일시'].dt.hour
df['대여시간_분'] = df['대여일시'].dt.minute

df['반납년'] = df['반납일시'].dt.year
df['반납월'] = df['반납일시'].dt.month
df['반납일'] = df['반납일시'].dt.day
df['반납요일'] = df['반납일시'].dt.dayofweek
df['반납시간'] = df['반납일시'].dt.hour
df['반납시간_분'] = df['반납일시'].dt.minute

In [7]:
df = df.sort_values('대여일시', ignore_index = True)
df.head()

,대여일시,대여대여소번호,대여대여소명,반납일시,반납대여소번호,반납대여소명,이용시간,대여년,대여월,대여일,대여요일,대여시간,대여시간_분,반납년,반납월,반납일,반납요일,반납시간,반납시간_분
0,2020-11-01 00:00:01,1650,중계근린공원내,2020-11-01 00:50:42,1650,중계근린공원내,51,2020,11,1,6,0,0,2020,11,1,6,0,50
1,2020-11-01 00:00:01,1332,석계역 5번출구 건너편,2020-11-01 00:57:02,1396,래미안장위퍼스트하이(513동),57,2020,11,1,6,0,0,2020,11,1,6,0,57
2,2020-11-01 00:00:06,2652,송파 레미니스1단지 102동 앞,2020-11-01 00:08:33,1218,방이역 4번출구,8,2020,11,1,6,0,0,2020,11,1,6,0,8
3,2020-11-01 00:00:07,2728,마곡나루역 3번 출구,2020-11-01 00:10:21,1166,강서구립등빛도서관,10,2020,11,1,6,0,0,2020,11,1,6,0,10
4,2020-11-01 00:00:07,334,종로3가역 2번출구 뒤,2020-11-01 00:13:54,431,청계천 영도교,14,2020,11,1,6,0,0,2020,11,1,6,0,13

In [8]:
df_rental = df[['대여일시', '대여대여소명','대여대여소번호', '대여년', '대여월', '대여일', '대여요일', '대여시간', '대여시간_분']]
df_rental.reset_index(drop = True, inplace = True)
df_rental.head()

,대여일시,대여대여소명,대여대여소번호,대여년,대여월,대여일,대여요일,대여시간,대여시간_분
0,2020-11-01 00:00:01,중계근린공원내,1650,2020,11,1,6,0,0
1,2020-11-01 00:00:01,석계역 5번출구 건너편,1332,2020,11,1,6,0,0
2,2020-11-01 00:00:06,송파 레미니스1단지 102동 앞,2652,2020,11,1,6,0,0
3,2020-11-01 00:00:07,마곡나루역 3번 출구,2728,2020,11,1,6,0,0
4,2020-11-01 00:00:07,종로3가역 2번출구 뒤,334,2020,11,1,6,0,0

In [9]:
df_rental2 = df_rental.groupby(['대여대여소명','대여대여소번호', '대여년', '대여월', '대여시간']).size().reset_index().rename(columns = {0 : 'rent_count'})
df_rental2

              대여대여소명  대여대여소번호   대여년  대여월  대여시간  rent_count
0      (구)신한은행 중랑교지점     1442  2020   11     0          67
1      (구)신한은행 중랑교지점     1442  2020   11     1          24
2      (구)신한은행 중랑교지점     1442  2020   11     2          36
3      (구)신한은행 중랑교지점     1442  2020   11     3          15
4      (구)신한은행 중랑교지점     1442  2020   11     4          12
...              ...      ...   ...  ...   ...         ...
48196        힐스테이트에코     2720  2020   11    19         148
48197        힐스테이트에코     2720  2020   11    20         139
48198        힐스테이트에코     2720  2020   11    21          92
48199        힐스테이트에코     2720  2020   11    22          89
48200        힐스테이트에코     2720  2020   11    23          42

[48201 rows x 6 columns]

In [10]:
df_rental2['rent_count'] = df_rental2['rent_count'] / 30
df_rental2['mu_15'] = df_rental2['rent_count'] / 4
df_rental2

              대여대여소명  대여대여소번호   대여년  대여월  대여시간  rent_count     mu_15
0      (구)신한은행 중랑교지점     1442  2020   11     0    2.233333  0.558333
1      (구)신한은행 중랑교지점     1442  2020   11     1    0.800000  0.200000
2      (구)신한은행 중랑교지점     1442  2020   11     2    1.200000  0.300000
3      (구)신한은행 중랑교지점     1442  2020   11     3    0.500000  0.125000
4      (구)신한은행 중랑교지점     1442  2020   11     4    0.400000  0.100000
...              ...      ...   ...  ...   ...         ...       ...
48196        힐스테이트에코     2720  2020   11    19    4.933333  1.233333
48197        힐스테이트에코     2720  2020   11    20    4.633333  1.158333
48198        힐스테이트에코     2720  2020   11    21    3.066667  0.766667
48199        힐스테이트에코     2720  2020   11    22    2.966667  0.741667
48200        힐스테이트에코     2720  2020   11    23    1.400000  0.350000

[48201 rows x 7 columns]

In [11]:
df_return = df[['반납일시', '반납대여소명', '반납대여소번호','반납년', '반납월', '반납일', '반납요일', '반납시간', '반납시간_분']]
df_return.reset_index(drop = True, inplace = True)
df_return

,반납일시,반납대여소명,반납대여소번호,반납년,반납월,반납일,반납요일,반납시간,반납시간_분
0,2020-11-01 00:50:42,중계근린공원내,1650,2020,11,1,6,0,50
1,2020-11-01 00:57:02,래미안장위퍼스트하이(513동),1396,2020,11,1,6,0,57
2,2020-11-01 00:08:33,방이역 4번출구,1218,2020,11,1,6,0,8
3,2020-11-01 00:10:21,강서구립등빛도서관,1166,2020,11,1,6,0,10
4,2020-11-01 00:13:54,청계천 영도교,431,2020,11,1,6,0,13
...,...,...,...,...,...,...,...,...,...
1972497,2020-12-01 00:03:26,영문초등학교 사거리,262,2020,12,1,1,0,3
1972498,2020-12-01 00:28:16,래미안월곡아파트 입구,1382,2020,12,1,1,0,28
1972499,2020-12-01 00:06:33,교보생명보험 앞,264,2020,12,1,1,0,6
1972500,2020-12-01 00:20:24,북한산 코오롱 하늘채,1742,2020,12,1,1,0,20
1972501,2020-12-01 00:16:04,고덕숲 아이파크 1,1058,2020,12,1,1,0,16

In [12]:
df_c = pd.DataFrame(df_return[['반납대여소명','반납대여소번호','반납년', '반납월','반납시간']].value_counts()).rename(columns = {0 : 'return_count'}).reset_index()
df_c.reset_index(drop=True, inplace = True)
df_c['return_count'] = df_c['return_count'] / 30
df_c['lambda15'] = df_c['return_count']/4
df_c.columns = ['대여소명','대여소번호','년', '월','시간','return_count','lambda15']
df_c

                    대여소명  대여소번호     년   월  시간  return_count  lambda15
0      발산역 1번, 9번 인근 대여소   1153  2020  11  18     29.066667  7.266667
1           시범아파트버스정류장 옆    222  2020  11   8     28.966667  7.241667
2                태평양물산빌딩   1986  2020  11   8     28.233333  7.058333
3              성동세무서 건너편    563  2020  11   8     25.533333  6.383333
4          코오롱One&Only타워   1195  2020  11   8     25.333333  6.333333
...                  ...    ...   ...  ..  ..           ...       ...
47904        당산롯데캐슬프레스티지   3202  2020  11   3      0.033333  0.008333
47905           문정 법조단지6   1242  2020  11  16      0.033333  0.008333
47906             궁동생태공원   1969  2020  11  23      0.033333  0.008333
47907        벽산 디지털밸리 5차   1848  2020  11   5      0.033333  0.008333
47908        중앙보훈병원역3번출구   1082  2020  11   3      0.033333  0.008333

[47909 rows x 7 columns]

In [13]:
return_ubound = pd.DataFrame(df_c.groupby(['대여소명','대여소번호'])['return_count'].agg(lambda x : np.floor(np.percentile(x,75)+(np.percentile(x,75)-np.percentile(x,25))*1.5))).reset_index().rename(columns = {'return_count' : 'upperbound'})
return_ubound.head()

            대여소명  대여소번호  upperbound
0  (구)신한은행 중랑교지점   1442         5.0
1    (구)합정동 주민센터    101         3.0
2    (시립)고덕평생학습관   1070         1.0
3   (재)FITI시험연구원   2724         4.0
4  3호선 매봉역 3번출구앞   2335         3.0

In [14]:
df_rental2.columns = ['대여소명','대여소번호','년', '월','시간', 'rent_count','mu_15']
df = pd.merge(df_c, df_rental2, on=['대여소명','대여소번호','년', '월','시간'], how='outer')
df.tail()

,대여소명,대여소번호,년,월,시간,return_count,lambda15,rent_count,mu_15
49333,희훈타워빌 앞,3905,2020,11,1,NaN,NaN,0.033333,0.008333
49334,희훈타워빌 앞,3905,2020,11,5,NaN,NaN,0.066667,0.016667
49335,희훈타워빌 앞,3905,2020,11,7,NaN,NaN,0.066667,0.016667
49336,희훈타워빌 앞,3905,2020,11,12,NaN,NaN,0.266667,0.066667
49337,희훈타워빌 앞,3905,2020,11,20,NaN,NaN,0.100000,0.025000

In [15]:
stops = df[['대여소명','대여소번호']].drop_duplicates().reset_index(drop=True)
Dayhour = pd.DataFrame({'년':np.repeat(2020, 24*len(stops)),'월':np.repeat(11, 24*len(stops)),'시간':np.repeat(np.arange(24), len(stops))})
stops2 = pd.concat([stops] * 24).reset_index(drop=True)
Dayhour_frame = pd.concat([stops2,Dayhour],axis=1)

In [16]:
df = pd.merge(df,Dayhour_frame, on = ['대여소명','대여소번호','년', '월','시간'],how='outer')
df = pd.merge(df, return_ubound, on=['대여소명','대여소번호'], how='outer')
df.fillna(0, inplace=True)
df.tail()

,대여소명,대여소번호,년,월,시간,return_count,lambda15,rent_count,mu_15,upperbound
50309,상담센터,9999,2020,11,3,0.0,0.0,0.0,0.0,0.0
50310,상담센터,9999,2020,11,5,0.0,0.0,0.0,0.0,0.0
50311,상담센터,9999,2020,11,6,0.0,0.0,0.0,0.0,0.0
50312,상담센터,9999,2020,11,7,0.0,0.0,0.0,0.0,0.0
50313,상담센터,9999,2020,11,23,0.0,0.0,0.0,0.0,0.0

In [17]:
df = df.sort_values(['대여소명', '대여소번호','년', '월', '시간'], ignore_index = True)
df

,대여소명,대여소번호,년,월,시간,return_count,lambda15,rent_count,mu_15,upperbound
0,(구)신한은행 중랑교지점,1442,2020,11,0,2.000000,0.500000,2.233333,0.558333,5.0
1,(구)신한은행 중랑교지점,1442,2020,11,1,1.500000,0.375000,0.800000,0.200000,5.0
2,(구)신한은행 중랑교지점,1442,2020,11,2,0.933333,0.233333,1.200000,0.300000,5.0
3,(구)신한은행 중랑교지점,1442,2020,11,3,0.866667,0.216667,0.500000,0.125000,5.0
4,(구)신한은행 중랑교지점,1442,2020,11,4,0.600000,0.150000,0.400000,0.100000,5.0
...,...,...,...,...,...,...,...,...,...,...
50309,힐스테이트에코,2720,2020,11,19,5.100000,1.275000,4.933333,1.233333,9.0
50310,힐스테이트에코,2720,2020,11,20,3.833333,0.958333,4.633333,1.158333,9.0
50311,힐스테이트에코,2720,2020,11,21,2.733333,0.683333,3.066667,0.766667,9.0
50312,힐스테이트에코,2720,2020,11,22,2.333333,0.583333,2.966667,0.741667,9.0
50313,힐스테이트에코,2720,2020,11,23,0.966667,0.241667,1.400000,0.350000,9.0

In [18]:
df = df.drop(['return_count', 'rent_count'], axis = 1)
df = df.rename(columns = {'lambda15' : 'lambda_15', 'upperbound' : 'c'})
df

                대여소명  대여소번호     년   월  시간  lambda_15     mu_15    c
0      (구)신한은행 중랑교지점   1442  2020  11   0   0.500000  0.558333  5.0
1      (구)신한은행 중랑교지점   1442  2020  11   1   0.375000  0.200000  5.0
2      (구)신한은행 중랑교지점   1442  2020  11   2   0.233333  0.300000  5.0
3      (구)신한은행 중랑교지점   1442  2020  11   3   0.216667  0.125000  5.0
4      (구)신한은행 중랑교지점   1442  2020  11   4   0.150000  0.100000  5.0
...              ...    ...   ...  ..  ..        ...       ...  ...
50309        힐스테이트에코   2720  2020  11  19   1.275000  1.233333  9.0
50310        힐스테이트에코   2720  2020  11  20   0.958333  1.158333  9.0
50311        힐스테이트에코   2720  2020  11  21   0.683333  0.766667  9.0
50312        힐스테이트에코   2720  2020  11  22   0.583333  0.741667  9.0
50313        힐스테이트에코   2720  2020  11  23   0.241667  0.350000  9.0

[50314 rows x 8 columns]

In [19]:
df['rho'] = float(-1)

for i in range(len(df)):
    if df['mu_15'][i] == 0:
        df['rho'][i] = 0
    else:
        df['rho'][i] = df['lambda_15'][i] / df['mu_15'][i]
df

                대여소명  대여소번호     년   월  시간  lambda_15     mu_15    c       rho
0      (구)신한은행 중랑교지점   1442  2020  11   0   0.500000  0.558333  5.0  0.895522
1      (구)신한은행 중랑교지점   1442  2020  11   1   0.375000  0.200000  5.0  1.875000
2      (구)신한은행 중랑교지점   1442  2020  11   2   0.233333  0.300000  5.0  0.777778
3      (구)신한은행 중랑교지점   1442  2020  11   3   0.216667  0.125000  5.0  1.733333
4      (구)신한은행 중랑교지점   1442  2020  11   4   0.150000  0.100000  5.0  1.500000
...              ...    ...   ...  ..  ..        ...       ...  ...       ...
50309        힐스테이트에코   2720  2020  11  19   1.275000  1.233333  9.0  1.033784
50310        힐스테이트에코   2720  2020  11  20   0.958333  1.158333  9.0  0.827338
50311        힐스테이트에코   2720  2020  11  21   0.683333  0.766667  9.0  0.891304
50312        힐스테이트에코   2720  2020  11  22   0.583333  0.741667  9.0  0.786517
50313        힐스테이트에코   2720  2020  11  23   0.241667  0.350000  9.0  0.690476

[50314 rows x 9 columns]

In [20]:
# p_c: 대여소에 자전거가 c개(최대거치용량) 있을 확률

df['p_c'] = float(-1)

for i in range(len(df)):
    if df['rho'][i] == 1:
        df['p_c'][i] = 1 / (1 + df['c'][i]) 
    else:
        df['p_c'][i] = (df['rho'][i]**df['c'][i]) * ((1 - df['rho'][i]) / (1 - (df['rho'][i]**(df['c'][i] + 1))))
df

,대여소명,대여소번호,년,월,시간,lambda_15,mu_15,c,rho,p_c
0,(구)신한은행 중랑교지점,1442,2020,11,0,0.500000,0.558333,5.0,0.895522,0.124267
1,(구)신한은행 중랑교지점,1442,2020,11,1,0.375000,0.200000,5.0,1.875000,0.477660
2,(구)신한은행 중랑교지점,1442,2020,11,2,0.233333,0.300000,5.0,0.777778,0.081234
3,(구)신한은행 중랑교지점,1442,2020,11,3,0.216667,0.125000,5.0,1.733333,0.439274
4,(구)신한은행 중랑교지점,1442,2020,11,4,0.150000,0.100000,5.0,1.500000,0.365414
...,...,...,...,...,...,...,...,...,...,...
50309,힐스테이트에코,2720,2020,11,19,1.275000,1.233333,9.0,1.033784,0.115600
50310,힐스테이트에코,2720,2020,11,20,0.958333,1.158333,9.0,0.827338,0.036902
50311,힐스테이트에코,2720,2020,11,21,0.683333,0.766667,9.0,0.891304,0.056449
50312,힐스테이트에코,2720,2020,11,22,0.583333,0.741667,9.0,0.786517,0.027038
50313,힐스테이트에코,2720,2020,11,23,0.241667,0.350000,9.0,0.690476,0.011320

In [21]:
# L_s : 대여소 내 평균 자전거 수

df['L_s'] = float(-1)

for i in range(len(df)):
    rho = df['rho'][i]
    c = df['c'][i]
    if df['rho'][i] == 1:
        df['L_s'][i] = c / 2
    else:
        df['L_s'][i] = (rho / (1 - rho)) * ((1 - ((c + 1) * rho**c) + (c * rho**(c + 1))) / (1 - (rho**(c + 1))))
df

,대여소명,대여소번호,년,월,시간,lambda_15,mu_15,c,rho,p_c,L_s
0,(구)신한은행 중랑교지점,1442,2020,11,0,0.500000,0.558333,5.0,0.895522,0.124267,2.180543
1,(구)신한은행 중랑교지점,1442,2020,11,1,0.375000,0.200000,5.0,1.875000,0.477660,3.998480
2,(구)신한은행 중랑교지점,1442,2020,11,2,0.233333,0.300000,5.0,0.777778,0.081234,1.794085
3,(구)신한은행 중랑교지점,1442,2020,11,3,0.216667,0.125000,5.0,1.733333,0.439274,3.866071
4,(구)신한은행 중랑교지점,1442,2020,11,4,0.150000,0.100000,5.0,1.500000,0.365414,3.577444
...,...,...,...,...,...,...,...,...,...,...,...
50309,힐스테이트에코,2720,2020,11,19,1.275000,1.233333,9.0,1.033784,0.115600,4.773604
50310,힐스테이트에코,2720,2020,11,20,0.958333,1.158333,9.0,0.827338,0.036902,3.023423
50311,힐스테이트에코,2720,2020,11,21,0.683333,0.766667,9.0,0.891304,0.056449,3.571192
50312,힐스테이트에코,2720,2020,11,22,0.583333,0.741667,9.0,0.786517,0.027038,2.688070
50313,힐스테이트에코,2720,2020,11,23,0.241667,0.350000,9.0,0.690476,0.011320,1.978236

In [22]:
# W_s : 대여소 내 평균 대기시간(자전거 반납 후 재대여 될 때까지의 시간)

df['W_s'] = float(-1)

for i in range(len(df)):
    if df['p_c'][i] == 0:
        df['W_s'][i] = 0
    elif df['p_c'][i] == 1:
        df['W_s'][i] = 0
    else:
        df['W_s'][i] = df['L_s'][i] / (df['lambda_15'][i] * (1 - df['p_c'][i]))
df

,대여소명,대여소번호,년,월,시간,lambda_15,mu_15,c,rho,p_c,L_s,W_s
0,(구)신한은행 중랑교지점,1442,2020,11,0,0.500000,0.558333,5.0,0.895522,0.124267,2.180543,4.979928
1,(구)신한은행 중랑교지점,1442,2020,11,1,0.375000,0.200000,5.0,1.875000,0.477660,3.998480,20.413146
2,(구)신한은행 중랑교지점,1442,2020,11,2,0.233333,0.300000,5.0,0.777778,0.081234,1.794085,8.368764
3,(구)신한은행 중랑교지점,1442,2020,11,3,0.216667,0.125000,5.0,1.733333,0.439274,3.866071,31.821982
4,(구)신한은행 중랑교지점,1442,2020,11,4,0.150000,0.100000,5.0,1.500000,0.365414,3.577444,37.582938
...,...,...,...,...,...,...,...,...,...,...,...,...
50309,힐스테이트에코,2720,2020,11,19,1.275000,1.233333,9.0,1.033784,0.115600,4.773604,4.233382
50310,힐스테이트에코,2720,2020,11,20,0.958333,1.158333,9.0,0.827338,0.036902,3.023423,3.275760
50311,힐스테이트에코,2720,2020,11,21,0.683333,0.766667,9.0,0.891304,0.056449,3.571192,5.538793
50312,힐스테이트에코,2720,2020,11,22,0.583333,0.741667,9.0,0.786517,0.027038,2.688070,4.736177
50313,힐스테이트에코,2720,2020,11,23,0.241667,0.350000,9.0,0.690476,0.011320,1.978236,8.279533

In [23]:
# 일부 칼럼 타입 카테고리로 변환

df = df.astype({'대여소명' : 'category', '대여소번호' : 'category'})

In [24]:
station = pd.read_csv('./대학원/데이터/정리 데이터/공공자전거 대여소 정보(21.06월 기준).csv')
station.head()

,대여소 번호,보관소(대여소)명,자치구,상세주소,위도,경도,설치 시기,LCD 거치대수,QR 거치대수,운영 방식
0,102,망원역 1번출구 앞,마포구,서울특별시 마포구 월드컵로 72,37.555649,126.910629,2015-09-06,20.0,NaN,LCD
1,103,망원역 2번출구 앞,마포구,서울특별시 마포구 월드컵로 79,37.554951,126.910835,2015-09-06,14.0,NaN,LCD
2,104,합정역 1번출구 앞,마포구,서울특별시 마포구 양화로 59,37.550629,126.914986,2015-09-06,13.0,NaN,LCD
3,105,합정역 5번출구 앞,마포구,서울특별시 마포구 양화로 48,37.550007,126.914825,2015-09-06,5.0,NaN,LCD
4,106,합정역 7번출구 앞,마포구,서울특별시 마포구 독막로 4,37.548645,126.912826,2015-09-06,10.0,NaN,LCD

In [25]:
station = station.astype({'자치구' : 'category', '대여소 번호' : 'category'})

In [26]:
station = station.rename(columns = {'대여소 번호' : '대여소번호'})
station

,대여소번호,보관소(대여소)명,자치구,상세주소,위도,경도,설치 시기,LCD 거치대수,QR 거치대수,운영 방식
0,102,망원역 1번출구 앞,마포구,서울특별시 마포구 월드컵로 72,37.555649,126.910629,2015-09-06,20.0,NaN,LCD
1,103,망원역 2번출구 앞,마포구,서울특별시 마포구 월드컵로 79,37.554951,126.910835,2015-09-06,14.0,NaN,LCD
2,104,합정역 1번출구 앞,마포구,서울특별시 마포구 양화로 59,37.550629,126.914986,2015-09-06,13.0,NaN,LCD
3,105,합정역 5번출구 앞,마포구,서울특별시 마포구 양화로 48,37.550007,126.914825,2015-09-06,5.0,NaN,LCD
4,106,합정역 7번출구 앞,마포구,서울특별시 마포구 독막로 4,37.548645,126.912826,2015-09-06,10.0,NaN,LCD
...,...,...,...,...,...,...,...,...,...,...
2462,4864,송파사거리,송파구,송파구 송파동 97-2,37.502056,127.110550,2021-04-27,NaN,6.0,QR
2463,4865,한성백제역 1번출구 뒤,송파구,송파구 방이동 45-4,37.516342,127.115593,2021-04-28,NaN,5.0,QR
2464,4867,가락대림아파트 앞,송파구,송파구 가락동 94-9,37.500027,127.118431,2021-04-28,NaN,10.0,QR
2465,4868,레이크 호텔 앞,송파구,송파구 석촌동 158,37.507172,127.101242,2021-05-18,NaN,7.0,QR
2466,4869,잠실나들목6,송파구,잠실동 24,37.516296,127.084610,2021-06-21,NaN,9.0,QR

In [27]:
df = pd.merge(df, station[['자치구', '대여소번호']], on = '대여소번호')
df.head()

,대여소명,대여소번호,년,월,시간,lambda_15,mu_15,c,rho,p_c,L_s,W_s,자치구
0,(구)신한은행 중랑교지점,1442,2020,11,0,0.500000,0.558333,5.0,0.895522,0.124267,2.180543,4.979928,중랑구
1,(구)신한은행 중랑교지점,1442,2020,11,1,0.375000,0.200000,5.0,1.875000,0.477660,3.998480,20.413146,중랑구
2,(구)신한은행 중랑교지점,1442,2020,11,2,0.233333,0.300000,5.0,0.777778,0.081234,1.794085,8.368764,중랑구
3,(구)신한은행 중랑교지점,1442,2020,11,3,0.216667,0.125000,5.0,1.733333,0.439274,3.866071,31.821982,중랑구
4,(구)신한은행 중랑교지점,1442,2020,11,4,0.150000,0.100000,5.0,1.500000,0.365414,3.577444,37.582938,중랑구

In [28]:
df = df.drop(['대여소번호', 'c'], axis = 1)
df = df[['자치구', '대여소명', '년', '월', '시간','L_s', 'W_s']]
df.head()

   자치구           대여소명     년   월  시간       L_s        W_s
0  중랑구  (구)신한은행 중랑교지점  2020  11   0  2.180543   4.979928
1  중랑구  (구)신한은행 중랑교지점  2020  11   1  3.998480  20.413146
2  중랑구  (구)신한은행 중랑교지점  2020  11   2  1.794085   8.368764
3  중랑구  (구)신한은행 중랑교지점  2020  11   3  3.866071  31.821982
4  중랑구  (구)신한은행 중랑교지점  2020  11   4  3.577444  37.582938

In [29]:
df.to_excel('./2020.11 Ls, Ws.xlsx', index = False)