In [1]:
import pandas as pd
import numpy as np

import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

pd.set_option('display.max_columns', None)

mpl.rcParams['axes.unicode_minus'] = False
plt.rcParams['font.family'] = 'Malgun Gothic'


pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)

In [2]:
df2 = pd.read_csv('./data/file/공공자전거 대여이력_2020.10.csv', encoding = 'cp949')
df2.columns = ['자전거번호', '대여일시', '대여대여소번호', '대여대여소명', '대여거치대', '반납일시', '반납대여소번호', '반납대여소명', '반납거치대', '이용시간', '이용거리']
df2.head()

,자전거번호,대여일시,대여대여소번호,대여대여소명,대여거치대,반납일시,반납대여소번호,반납대여소명,반납거치대,이용시간,이용거리
0,SPB-32784,2020-10-01 00:00:19,2403,공무원연금매점 교차로 (개포주공9단지 입구),0,2020-10-01 00:03:56,2423,영희초교 사거리(래미안개포루체하임),0,4,0.0
1,SPB-33175,2020-10-01 00:01:20,1946,구로역 광장,0,2020-10-01 00:04:09,1946,구로역 광장,0,3,0.0
2,SPB-35926,2020-10-01 00:02:57,1541,삼양역,0,2020-10-01 00:04:53,1541,삼양역,0,2,0.0
3,SPB-21575,2020-10-01 00:00:07,1161,강서면허시험장앞,1,2020-10-01 00:04:59,1184,마곡13단지,11,4,850.0
4,SPB-19842,2020-10-01 00:01:47,2264,이수역 1번출구,4,2020-10-01 00:05:06,2228,뒷벌공원 옆,17,3,540.0

In [3]:
df = df2[~df2['대여대여소명'].str.contains('\?')]
df.head()

,자전거번호,대여일시,대여대여소번호,대여대여소명,대여거치대,반납일시,반납대여소번호,반납대여소명,반납거치대,이용시간,이용거리
0,SPB-32784,2020-10-01 00:00:19,2403,공무원연금매점 교차로 (개포주공9단지 입구),0,2020-10-01 00:03:56,2423,영희초교 사거리(래미안개포루체하임),0,4,0.0
1,SPB-33175,2020-10-01 00:01:20,1946,구로역 광장,0,2020-10-01 00:04:09,1946,구로역 광장,0,3,0.0
2,SPB-35926,2020-10-01 00:02:57,1541,삼양역,0,2020-10-01 00:04:53,1541,삼양역,0,2,0.0
3,SPB-21575,2020-10-01 00:00:07,1161,강서면허시험장앞,1,2020-10-01 00:04:59,1184,마곡13단지,11,4,850.0
4,SPB-19842,2020-10-01 00:01:47,2264,이수역 1번출구,4,2020-10-01 00:05:06,2228,뒷벌공원 옆,17,3,540.0

In [4]:
df = df[~df['반납대여소명'].str.contains('\?')]
df

,자전거번호,대여일시,대여대여소번호,대여대여소명,대여거치대,반납일시,반납대여소번호,반납대여소명,반납거치대,이용시간,이용거리
0,SPB-32784,2020-10-01 00:00:19,2403,공무원연금매점 교차로 (개포주공9단지 입구),0,2020-10-01 00:03:56,2423,영희초교 사거리(래미안개포루체하임),0,4,0.0
1,SPB-33175,2020-10-01 00:01:20,1946,구로역 광장,0,2020-10-01 00:04:09,1946,구로역 광장,0,3,0.0
2,SPB-35926,2020-10-01 00:02:57,1541,삼양역,0,2020-10-01 00:04:53,1541,삼양역,0,2,0.0
3,SPB-21575,2020-10-01 00:00:07,1161,강서면허시험장앞,1,2020-10-01 00:04:59,1184,마곡13단지,11,4,850.0
4,SPB-19842,2020-10-01 00:01:47,2264,이수역 1번출구,4,2020-10-01 00:05:06,2228,뒷벌공원 옆,17,3,540.0
...,...,...,...,...,...,...,...,...,...,...,...
2869177,SPB-39736,2020-10-31 21:25:40,1199,우장산역 3번출구,0,2020-11-01 08:26:40,2737,까치산역 3번 출구,0,661,0.0
2869178,SPB-50812,2020-10-31 22:49:34,1090,상일동역 2번출구 앞,0,2020-11-01 08:40:06,1016,해뜨는 주유소옆 리엔파크 109동앞,0,591,0.0
2869179,SPB-44402,2020-10-31 22:09:40,765,오목교역 3번출구,0,2020-11-01 10:07:54,764,목동청소년수련관,0,718,0.0
2869180,SPB-51314,2020-10-31 22:33:53,838,숙대입구역 4번출구,0,2020-11-01 16:30:50,445,대한상공회의소,0,1077,0.0
2869181,SPB-51448,2020-10-31 22:33:37,838,숙대입구역 4번출구,0,2020-11-01 16:30:55,445,대한상공회의소,0,1077,0.0

In [5]:
df = df.drop(['자전거번호', '대여거치대', '반납거치대', '이용거리'], axis = 1)
df.head()

,대여일시,대여대여소번호,대여대여소명,반납일시,반납대여소번호,반납대여소명,이용시간
0,2020-10-01 00:00:19,2403,공무원연금매점 교차로 (개포주공9단지 입구),2020-10-01 00:03:56,2423,영희초교 사거리(래미안개포루체하임),4
1,2020-10-01 00:01:20,1946,구로역 광장,2020-10-01 00:04:09,1946,구로역 광장,3
2,2020-10-01 00:02:57,1541,삼양역,2020-10-01 00:04:53,1541,삼양역,2
3,2020-10-01 00:00:07,1161,강서면허시험장앞,2020-10-01 00:04:59,1184,마곡13단지,4
4,2020-10-01 00:01:47,2264,이수역 1번출구,2020-10-01 00:05:06,2228,뒷벌공원 옆,3

In [6]:
df['대여일시'] = pd.to_datetime(df['대여일시'])
df['반납일시'] = pd.to_datetime(df['반납일시'])

df['대여년'] = df['대여일시'].dt.year
df['대여월'] = df['대여일시'].dt.month
df['대여일'] = df['대여일시'].dt.day
df['대여요일'] = df['대여일시'].dt.dayofweek
df['대여시간'] = df['대여일시'].dt.hour
df['대여시간_분'] = df['대여일시'].dt.minute

df['반납년'] = df['반납일시'].dt.year
df['반납월'] = df['반납일시'].dt.month
df['반납일'] = df['반납일시'].dt.day
df['반납요일'] = df['반납일시'].dt.dayofweek
df['반납시간'] = df['반납일시'].dt.hour
df['반납시간_분'] = df['반납일시'].dt.minute

In [7]:
df = df.sort_values('대여일시', ignore_index = True)
df.head()

,대여일시,대여대여소번호,대여대여소명,반납일시,반납대여소번호,반납대여소명,이용시간,대여년,대여월,대여일,대여요일,대여시간,대여시간_분,반납년,반납월,반납일,반납요일,반납시간,반납시간_분
0,2020-10-01 00:00:02,726,목동3단지 시내버스정류장,2020-10-01 00:10:13,770,목동역5번출구 교통정보센터 앞,10,2020,10,1,3,0,0,2020,10,1,3,0,10
1,2020-10-01 00:00:03,1705,도봉구청 정문앞,2020-10-01 00:35:02,1471,동양쇼핑 정류소 앞,35,2020,10,1,3,0,0,2020,10,1,3,0,35
2,2020-10-01 00:00:03,1208,풍납현대아파트쉼터,2020-10-01 01:02:23,1076,전자랜드 길동점,62,2020,10,1,3,0,0,2020,10,1,3,1,2
3,2020-10-01 00:00:03,1047,건강보험 강동지사kt,2020-10-01 00:16:37,1036,고덕동 주양쇼핑,17,2020,10,1,3,0,0,2020,10,1,3,0,16
4,2020-10-01 00:00:05,2713,우장초등학교 앞,2020-10-01 00:16:20,1146,곰달래사거리,16,2020,10,1,3,0,0,2020,10,1,3,0,16

In [8]:
df_rental = df[['대여일시', '대여대여소명','대여대여소번호', '대여년', '대여월', '대여일', '대여요일', '대여시간', '대여시간_분']]
df_rental.reset_index(drop = True, inplace = True)
df_rental.head()

,대여일시,대여대여소명,대여대여소번호,대여년,대여월,대여일,대여요일,대여시간,대여시간_분
0,2020-10-01 00:00:02,목동3단지 시내버스정류장,726,2020,10,1,3,0,0
1,2020-10-01 00:00:03,도봉구청 정문앞,1705,2020,10,1,3,0,0
2,2020-10-01 00:00:03,풍납현대아파트쉼터,1208,2020,10,1,3,0,0
3,2020-10-01 00:00:03,건강보험 강동지사kt,1047,2020,10,1,3,0,0
4,2020-10-01 00:00:05,우장초등학교 앞,2713,2020,10,1,3,0,0

In [9]:
df_rental2 = df_rental.groupby(['대여대여소명','대여대여소번호', '대여년', '대여월', '대여시간']).size().reset_index().rename(columns = {0 : 'rent_count'})
df_rental2

              대여대여소명  대여대여소번호   대여년  대여월  대여시간  rent_count
0      (구)신한은행 중랑교지점     1442  2020   10     0          99
1      (구)신한은행 중랑교지점     1442  2020   10     1          61
2      (구)신한은행 중랑교지점     1442  2020   10     2          46
3      (구)신한은행 중랑교지점     1442  2020   10     3          31
4      (구)신한은행 중랑교지점     1442  2020   10     4          33
...              ...      ...   ...  ...   ...         ...
48544        힐스테이트에코     2720  2020   10    19         175
48545        힐스테이트에코     2720  2020   10    20         166
48546        힐스테이트에코     2720  2020   10    21         123
48547        힐스테이트에코     2720  2020   10    22         102
48548        힐스테이트에코     2720  2020   10    23          56

[48549 rows x 6 columns]

In [10]:
df_rental2['rent_count'] = df_rental2['rent_count'] / 31
df_rental2['mu_15'] = df_rental2['rent_count'] / 4
df_rental2

              대여대여소명  대여대여소번호   대여년  대여월  대여시간  rent_count     mu_15
0      (구)신한은행 중랑교지점     1442  2020   10     0    3.193548  0.798387
1      (구)신한은행 중랑교지점     1442  2020   10     1    1.967742  0.491935
2      (구)신한은행 중랑교지점     1442  2020   10     2    1.483871  0.370968
3      (구)신한은행 중랑교지점     1442  2020   10     3    1.000000  0.250000
4      (구)신한은행 중랑교지점     1442  2020   10     4    1.064516  0.266129
...              ...      ...   ...  ...   ...         ...       ...
48544        힐스테이트에코     2720  2020   10    19    5.645161  1.411290
48545        힐스테이트에코     2720  2020   10    20    5.354839  1.338710
48546        힐스테이트에코     2720  2020   10    21    3.967742  0.991935
48547        힐스테이트에코     2720  2020   10    22    3.290323  0.822581
48548        힐스테이트에코     2720  2020   10    23    1.806452  0.451613

[48549 rows x 7 columns]

In [11]:
df_return = df[['반납일시', '반납대여소명', '반납대여소번호','반납년', '반납월', '반납일', '반납요일', '반납시간', '반납시간_분']]
df_return.reset_index(drop = True, inplace = True)
df_return

,반납일시,반납대여소명,반납대여소번호,반납년,반납월,반납일,반납요일,반납시간,반납시간_분
0,2020-10-01 00:10:13,목동역5번출구 교통정보센터 앞,770,2020,10,1,3,0,10
1,2020-10-01 00:35:02,동양쇼핑 정류소 앞,1471,2020,10,1,3,0,35
2,2020-10-01 01:02:23,전자랜드 길동점,1076,2020,10,1,3,1,2
3,2020-10-01 00:16:37,고덕동 주양쇼핑,1036,2020,10,1,3,0,16
4,2020-10-01 00:16:20,곰달래사거리,1146,2020,10,1,3,0,16
...,...,...,...,...,...,...,...,...,...
2866093,2020-11-01 00:08:35,양재시민의숲역 3번출구,2274,2020,11,1,6,0,8
2866094,2020-11-01 01:31:04,아크로리버뷰 부지 앞,2217,2020,11,1,6,1,31
2866095,2020-11-01 00:11:03,공덕역 8번출구,144,2020,11,1,6,0,11
2866096,2020-11-01 00:56:04,서남환경공원 버스정류장,1113,2020,11,1,6,0,56
2866097,2020-11-01 00:03:09,뒷벌공원 옆,2228,2020,11,1,6,0,3

In [12]:
df_c = pd.DataFrame(df_return[['반납대여소명','반납대여소번호','반납년', '반납월','반납시간']].value_counts()).rename(columns = {0 : 'return_count'}).reset_index()
df_c.reset_index(drop=True, inplace = True)
df_c['return_count'] = df_c['return_count'] / 31
df_c['lambda15'] = df_c['return_count']/4
df_c.columns = ['대여소명','대여소번호','년', '월','시간','return_count','lambda15']
df_c

                 대여소명  대여소번호     년   월  시간  return_count   lambda15
0       뚝섬유원지역 1번출구 앞    502  2020  10  17     53.967742  13.491935
1       뚝섬유원지역 1번출구 앞    502  2020  10  18     52.096774  13.024194
2        여의나루역 1번출구 앞    207  2020  10  17     47.645161  11.911290
3       뚝섬유원지역 1번출구 앞    502  2020  10  16     45.516129  11.379032
4        여의나루역 1번출구 앞    207  2020  10  18     45.451613  11.362903
...               ...    ...   ...  ..  ..           ...        ...
49062      신사역 4번출구 뒤   2504  2020  10   6      0.032258   0.008065
49063        용마문화복지센터   1425  2020  11   0      0.032258   0.008065
49064        노원경찰서교차로   1670  2020  11   0      0.032258   0.008065
49065  SK리쳄블(상수도사업본부)   3134  2020  10   6      0.032258   0.008065
49066         힐스테이트에코   2720  2020  11   0      0.032258   0.008065

[49067 rows x 7 columns]

In [13]:
return_ubound = pd.DataFrame(df_c.groupby(['대여소명','대여소번호'])['return_count'].agg(lambda x : np.floor(np.percentile(x,75)+(np.percentile(x,75)-np.percentile(x,25))*1.5))).reset_index().rename(columns = {'return_count' : 'upperbound'})
return_ubound.head()

            대여소명  대여소번호  upperbound
0  (구)신한은행 중랑교지점   1442         6.0
1    (구)합정동 주민센터    101         4.0
2    (시립)고덕평생학습관   1070         2.0
3   (재)FITI시험연구원   2724         6.0
4  3호선 매봉역 3번출구앞   2335         2.0

In [14]:
df_rental2.columns = ['대여소명','대여소번호','년', '월','시간', 'rent_count','mu_15']
df = pd.merge(df_c, df_rental2, on=['대여소명','대여소번호','년', '월','시간'], how='outer')
df.tail()

,대여소명,대여소번호,년,월,시간,return_count,lambda15,rent_count,mu_15
49987,흑석한강푸르지오(110동),2092,2020,10,2,NaN,NaN,0.064516,0.016129
49988,흑석한강푸르지오(110동),2092,2020,10,6,NaN,NaN,0.225806,0.056452
49989,흑석한강푸르지오(110동),2092,2020,10,13,NaN,NaN,0.129032,0.032258
49990,흥국사 정류장,991,2020,10,0,NaN,NaN,0.032258,0.008065
49991,흥국사 정류장,991,2020,10,6,NaN,NaN,0.032258,0.008065

In [15]:
stops = df[['대여소명','대여소번호']].drop_duplicates().reset_index(drop=True)
Dayhour = pd.DataFrame({'년':np.repeat(2020, 24*len(stops)),'월':np.repeat(10, 24*len(stops)),'시간':np.repeat(np.arange(24), len(stops))})
stops2 = pd.concat([stops] * 24).reset_index(drop=True)
Dayhour_frame = pd.concat([stops2,Dayhour],axis=1)

In [16]:
df = pd.merge(df,Dayhour_frame, on = ['대여소명','대여소번호','년', '월','시간'],how='outer')
df = pd.merge(df, return_ubound, on=['대여소명','대여소번호'], how='outer')
df.fillna(0, inplace=True)
df.tail()

,대여소명,대여소번호,년,월,시간,return_count,lambda15,rent_count,mu_15,upperbound
50883,훈련원센터,9991,2020,10,19,0.0,0.0,0.0,0.0,0.0
50884,훈련원센터,9991,2020,10,20,0.0,0.0,0.0,0.0,0.0
50885,훈련원센터,9991,2020,10,21,0.0,0.0,0.0,0.0,0.0
50886,훈련원센터,9991,2020,10,22,0.0,0.0,0.0,0.0,0.0
50887,훈련원센터,9991,2020,10,23,0.0,0.0,0.0,0.0,0.0

In [17]:
df = df.sort_values(['대여소명', '대여소번호','년', '월', '시간'], ignore_index = True)
df

,대여소명,대여소번호,년,월,시간,return_count,lambda15,rent_count,mu_15,upperbound
0,(구)신한은행 중랑교지점,1442,2020,10,0,2.322581,0.580645,3.193548,0.798387,6.0
1,(구)신한은행 중랑교지점,1442,2020,10,1,2.258065,0.564516,1.967742,0.491935,6.0
2,(구)신한은행 중랑교지점,1442,2020,10,2,1.709677,0.427419,1.483871,0.370968,6.0
3,(구)신한은행 중랑교지점,1442,2020,10,3,1.193548,0.298387,1.000000,0.250000,6.0
4,(구)신한은행 중랑교지점,1442,2020,10,4,0.709677,0.177419,1.064516,0.266129,6.0
...,...,...,...,...,...,...,...,...,...,...
50883,힐스테이트에코,2720,2020,10,20,4.870968,1.217742,5.354839,1.338710,10.0
50884,힐스테이트에코,2720,2020,10,21,3.290323,0.822581,3.967742,0.991935,10.0
50885,힐스테이트에코,2720,2020,10,22,2.838710,0.709677,3.290323,0.822581,10.0
50886,힐스테이트에코,2720,2020,10,23,1.548387,0.387097,1.806452,0.451613,10.0
50887,힐스테이트에코,2720,2020,11,0,0.032258,0.008065,0.000000,0.000000,10.0

In [18]:
df = df.drop(['return_count', 'rent_count'], axis = 1)
df = df.rename(columns = {'lambda15' : 'lambda_15', 'upperbound' : 'c'})
df

                대여소명  대여소번호     년   월  시간  lambda_15     mu_15     c
0      (구)신한은행 중랑교지점   1442  2020  10   0   0.580645  0.798387   6.0
1      (구)신한은행 중랑교지점   1442  2020  10   1   0.564516  0.491935   6.0
2      (구)신한은행 중랑교지점   1442  2020  10   2   0.427419  0.370968   6.0
3      (구)신한은행 중랑교지점   1442  2020  10   3   0.298387  0.250000   6.0
4      (구)신한은행 중랑교지점   1442  2020  10   4   0.177419  0.266129   6.0
...              ...    ...   ...  ..  ..        ...       ...   ...
50883        힐스테이트에코   2720  2020  10  20   1.217742  1.338710  10.0
50884        힐스테이트에코   2720  2020  10  21   0.822581  0.991935  10.0
50885        힐스테이트에코   2720  2020  10  22   0.709677  0.822581  10.0
50886        힐스테이트에코   2720  2020  10  23   0.387097  0.451613  10.0
50887        힐스테이트에코   2720  2020  11   0   0.008065  0.000000  10.0

[50888 rows x 8 columns]

In [19]:
df['rho'] = float(-1)

for i in range(len(df)):
    if df['mu_15'][i] == 0:
        df['rho'][i] = 0
    else:
        df['rho'][i] = df['lambda_15'][i] / df['mu_15'][i]
df

                대여소명  대여소번호     년   월  시간  lambda_15     mu_15     c       rho
0      (구)신한은행 중랑교지점   1442  2020  10   0   0.580645  0.798387   6.0  0.727273
1      (구)신한은행 중랑교지점   1442  2020  10   1   0.564516  0.491935   6.0  1.147541
2      (구)신한은행 중랑교지점   1442  2020  10   2   0.427419  0.370968   6.0  1.152174
3      (구)신한은행 중랑교지점   1442  2020  10   3   0.298387  0.250000   6.0  1.193548
4      (구)신한은행 중랑교지점   1442  2020  10   4   0.177419  0.266129   6.0  0.666667
...              ...    ...   ...  ..  ..        ...       ...   ...       ...
50883        힐스테이트에코   2720  2020  10  20   1.217742  1.338710  10.0  0.909639
50884        힐스테이트에코   2720  2020  10  21   0.822581  0.991935  10.0  0.829268
50885        힐스테이트에코   2720  2020  10  22   0.709677  0.822581  10.0  0.862745
50886        힐스테이트에코   2720  2020  10  23   0.387097  0.451613  10.0  0.857143
50887        힐스테이트에코   2720  2020  11   0   0.008065  0.000000  10.0  0.000000

[50888 rows x 9 columns]

In [20]:
# p_c: 대여소에 자전거가 c개(최대거치용량) 있을 확률

df['p_c'] = float(-1)

for i in range(len(df)):
    if df['rho'][i] == 1:
        df['p_c'][i] = 1 / (1 + df['c'][i]) 
    else:
        df['p_c'][i] = (df['rho'][i]**df['c'][i]) * ((1 - df['rho'][i]) / (1 - (df['rho'][i]**(df['c'][i] + 1))))
df

,대여소명,대여소번호,년,월,시간,lambda_15,mu_15,c,rho,p_c
0,(구)신한은행 중랑교지점,1442,2020,10,0,0.580645,0.798387,6.0,0.727273,0.045223
1,(구)신한은행 중랑교지점,1442,2020,10,1,0.564516,0.491935,6.0,1.147541,0.207914
2,(구)신한은행 중랑교지점,1442,2020,10,2,0.427419,0.370968,6.0,1.152174,0.209977
3,(구)신한은행 중랑교지점,1442,2020,10,3,0.298387,0.250000,6.0,1.193548,0.228338
4,(구)신한은행 중랑교지점,1442,2020,10,4,0.177419,0.266129,6.0,0.666667,0.031083
...,...,...,...,...,...,...,...,...,...,...
50883,힐스테이트에코,2720,2020,10,20,1.217742,1.338710,10.0,0.909639,0.054156
50884,힐스테이트에코,2720,2020,10,21,0.822581,0.991935,10.0,0.829268,0.030097
50885,힐스테이트에코,2720,2020,10,22,0.709677,0.822581,10.0,0.862745,0.039057
50886,힐스테이트에코,2720,2020,10,23,0.387097,0.451613,10.0,0.857143,0.037451
50887,힐스테이트에코,2720,2020,11,0,0.008065,0.000000,10.0,0.000000,0.000000

In [21]:
# L_s : 대여소 내 평균 자전거 수

df['L_s'] = float(-1)

for i in range(len(df)):
    rho = df['rho'][i]
    c = df['c'][i]
    if df['rho'][i] == 1:
        df['L_s'][i] = c / 2
    else:
        df['L_s'][i] = (rho / (1 - rho)) * ((1 - ((c + 1) * rho**c) + (c * rho**(c + 1))) / (1 - (rho**(c + 1))))
df

,대여소명,대여소번호,년,월,시간,lambda_15,mu_15,c,rho,p_c,L_s
0,(구)신한은행 중랑교지점,1442,2020,10,0,0.580645,0.798387,6.0,0.727273,0.045223,1.822501
1,(구)신한은행 중랑교지점,1442,2020,10,1,0.564516,0.491935,6.0,1.147541,0.207914,3.541985
2,(구)신한은행 중랑교지점,1442,2020,10,2,0.427419,0.370968,6.0,1.152174,0.209977,3.557345
3,(구)신한은행 중랑교지점,1442,2020,10,3,0.298387,0.250000,6.0,1.193548,0.228338,3.689910
4,(구)신한은행 중랑교지점,1442,2020,10,4,0.177419,0.266129,6.0,0.666667,0.031083,1.564837
...,...,...,...,...,...,...,...,...,...,...,...
50883,힐스테이트에코,2720,2020,10,20,1.217742,1.338710,10.0,0.909639,0.054156,4.069759
50884,힐스테이트에코,2720,2020,10,21,0.822581,0.991935,10.0,0.829268,0.030097,3.249118
50885,힐스테이트에코,2720,2020,10,22,0.709677,0.822581,10.0,0.862745,0.039057,3.585216
50886,힐스테이트에코,2720,2020,10,23,0.387097,0.451613,10.0,0.857143,0.037451,3.528217
50887,힐스테이트에코,2720,2020,11,0,0.008065,0.000000,10.0,0.000000,0.000000,0.000000

In [22]:
# W_s : 대여소 내 평균 대기시간(자전거 반납 후 재대여 될 때까지의 시간)

df['W_s'] = float(-1)

for i in range(len(df)):
    if df['p_c'][i] == 0:
        df['W_s'][i] = 0
    elif df['p_c'][i] == 1:
        df['W_s'][i] = 0
    else:
        df['W_s'][i] = df['L_s'][i] / (df['lambda_15'][i] * (1 - df['p_c'][i]))
df

,대여소명,대여소번호,년,월,시간,lambda_15,mu_15,c,rho,p_c,L_s,W_s
0,(구)신한은행 중랑교지점,1442,2020,10,0,0.580645,0.798387,6.0,0.727273,0.045223,1.822501,3.287419
1,(구)신한은행 중랑교지점,1442,2020,10,1,0.564516,0.491935,6.0,1.147541,0.207914,3.541985,7.921328
2,(구)신한은행 중랑교지점,1442,2020,10,2,0.427419,0.370968,6.0,1.152174,0.209977,3.557345,10.534937
3,(구)신한은행 중랑교지점,1442,2020,10,3,0.298387,0.250000,6.0,1.193548,0.228338,3.689910,16.025384
4,(구)신한은행 중랑교지점,1442,2020,10,4,0.177419,0.266129,6.0,0.666667,0.031083,1.564837,9.102939
...,...,...,...,...,...,...,...,...,...,...,...,...
50883,힐스테이트에코,2720,2020,10,20,1.217742,1.338710,10.0,0.909639,0.054156,4.069759,3.533410
50884,힐스테이트에코,2720,2020,10,21,0.822581,0.991935,10.0,0.829268,0.030097,3.249118,4.072477
50885,힐스테이트에코,2720,2020,10,22,0.709677,0.822581,10.0,0.862745,0.039057,3.585216,5.257226
50886,힐스테이트에코,2720,2020,10,23,0.387097,0.451613,10.0,0.857143,0.037451,3.528217,9.469193
50887,힐스테이트에코,2720,2020,11,0,0.008065,0.000000,10.0,0.000000,0.000000,0.000000,0.000000

In [23]:
# 일부 칼럼 타입 카테고리로 변환

df = df.astype({'대여소명' : 'category', '대여소번호' : 'category'})

In [24]:
station = pd.read_csv('./대학원/데이터/정리 데이터/공공자전거 대여소 정보(21.06월 기준).csv')
station.head()

,대여소 번호,보관소(대여소)명,자치구,상세주소,위도,경도,설치 시기,LCD 거치대수,QR 거치대수,운영 방식
0,102,망원역 1번출구 앞,마포구,서울특별시 마포구 월드컵로 72,37.555649,126.910629,2015-09-06,20.0,NaN,LCD
1,103,망원역 2번출구 앞,마포구,서울특별시 마포구 월드컵로 79,37.554951,126.910835,2015-09-06,14.0,NaN,LCD
2,104,합정역 1번출구 앞,마포구,서울특별시 마포구 양화로 59,37.550629,126.914986,2015-09-06,13.0,NaN,LCD
3,105,합정역 5번출구 앞,마포구,서울특별시 마포구 양화로 48,37.550007,126.914825,2015-09-06,5.0,NaN,LCD
4,106,합정역 7번출구 앞,마포구,서울특별시 마포구 독막로 4,37.548645,126.912826,2015-09-06,10.0,NaN,LCD

In [25]:
station = station.astype({'자치구' : 'category', '대여소 번호' : 'category'})

In [26]:
station = station.rename(columns = {'대여소 번호' : '대여소번호'})
station

,대여소번호,보관소(대여소)명,자치구,상세주소,위도,경도,설치 시기,LCD 거치대수,QR 거치대수,운영 방식
0,102,망원역 1번출구 앞,마포구,서울특별시 마포구 월드컵로 72,37.555649,126.910629,2015-09-06,20.0,NaN,LCD
1,103,망원역 2번출구 앞,마포구,서울특별시 마포구 월드컵로 79,37.554951,126.910835,2015-09-06,14.0,NaN,LCD
2,104,합정역 1번출구 앞,마포구,서울특별시 마포구 양화로 59,37.550629,126.914986,2015-09-06,13.0,NaN,LCD
3,105,합정역 5번출구 앞,마포구,서울특별시 마포구 양화로 48,37.550007,126.914825,2015-09-06,5.0,NaN,LCD
4,106,합정역 7번출구 앞,마포구,서울특별시 마포구 독막로 4,37.548645,126.912826,2015-09-06,10.0,NaN,LCD
...,...,...,...,...,...,...,...,...,...,...
2462,4864,송파사거리,송파구,송파구 송파동 97-2,37.502056,127.110550,2021-04-27,NaN,6.0,QR
2463,4865,한성백제역 1번출구 뒤,송파구,송파구 방이동 45-4,37.516342,127.115593,2021-04-28,NaN,5.0,QR
2464,4867,가락대림아파트 앞,송파구,송파구 가락동 94-9,37.500027,127.118431,2021-04-28,NaN,10.0,QR
2465,4868,레이크 호텔 앞,송파구,송파구 석촌동 158,37.507172,127.101242,2021-05-18,NaN,7.0,QR
2466,4869,잠실나들목6,송파구,잠실동 24,37.516296,127.084610,2021-06-21,NaN,9.0,QR

In [27]:
df = pd.merge(df, station[['자치구', '대여소번호']], on = '대여소번호')
df.head()

,대여소명,대여소번호,년,월,시간,lambda_15,mu_15,c,rho,p_c,L_s,W_s,자치구
0,(구)신한은행 중랑교지점,1442,2020,10,0,0.580645,0.798387,6.0,0.727273,0.045223,1.822501,3.287419,중랑구
1,(구)신한은행 중랑교지점,1442,2020,10,1,0.564516,0.491935,6.0,1.147541,0.207914,3.541985,7.921328,중랑구
2,(구)신한은행 중랑교지점,1442,2020,10,2,0.427419,0.370968,6.0,1.152174,0.209977,3.557345,10.534937,중랑구
3,(구)신한은행 중랑교지점,1442,2020,10,3,0.298387,0.250000,6.0,1.193548,0.228338,3.689910,16.025384,중랑구
4,(구)신한은행 중랑교지점,1442,2020,10,4,0.177419,0.266129,6.0,0.666667,0.031083,1.564837,9.102939,중랑구

In [28]:
df = df.drop(['대여소번호', 'c'], axis = 1)
df = df[['자치구', '대여소명', '년', '월', '시간','L_s', 'W_s']]
df.head()

   자치구           대여소명     년   월  시간       L_s        W_s
0  중랑구  (구)신한은행 중랑교지점  2020  10   0  1.822501   3.287419
1  중랑구  (구)신한은행 중랑교지점  2020  10   1  3.541985   7.921328
2  중랑구  (구)신한은행 중랑교지점  2020  10   2  3.557345  10.534937
3  중랑구  (구)신한은행 중랑교지점  2020  10   3  3.689910  16.025384
4  중랑구  (구)신한은행 중랑교지점  2020  10   4  1.564837   9.102939

In [29]:
df.to_excel('./2020.10 Ls, Ws.xlsx', index = False)