In [1]:
import pandas as pd
import numpy as np

import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

pd.set_option('display.max_columns', None)

mpl.rcParams['axes.unicode_minus'] = False
plt.rcParams['font.family'] = 'Malgun Gothic'


pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)

In [2]:
df2 = pd.read_excel('./data/file/공공자전거 대여이력_2020.02.xlsx')
df2.columns = ['자전거번호', '대여일시', '대여대여소번호', '대여대여소명', '대여거치대', '반납일시', '반납대여소번호', '반납대여소명', '반납거치대', '이용시간', '이용거리']
df2.head()

,자전거번호,대여일시,대여대여소번호,대여대여소명,대여거치대,반납일시,반납대여소번호,반납대여소명,반납거치대,이용시간,이용거리
0,SPB-22727,2020-01-31 23:40:04,183,하늘채코오롱아파트 건너편,15,2020-02-01 00:00:02,113,홍대입구역 2번출구 앞,10,19,2430.0
1,SPB-21546,2020-01-31 22:05:17,3106,홍남교 두바퀴쉼터,6,2020-02-01 00:00:06,3106,홍남교 두바퀴쉼터,7,105,860.0
2,SPB-24679,2020-01-31 23:55:01,1435,능산삼거리,8,2020-02-01 00:00:08,1430,중랑구청,19,4,720.0
3,SPB-20312,2020-01-31 23:54:06,1656,중앙하이츠 아파트 입구,2,2020-02-01 00:00:11,1625,상계역(4번출구),16,5,660.0
4,SPB-21946,2020-01-31 23:41:05,237,보라매 두산위브 건너편,1,2020-02-01 00:00:11,2169,봉천역 2번출구,6,19,2890.0

In [3]:
df = df2[~df2['대여대여소명'].str.contains('\?')]
df.head()

,자전거번호,대여일시,대여대여소번호,대여대여소명,대여거치대,반납일시,반납대여소번호,반납대여소명,반납거치대,이용시간,이용거리
0,SPB-22727,2020-01-31 23:40:04,183,하늘채코오롱아파트 건너편,15,2020-02-01 00:00:02,113,홍대입구역 2번출구 앞,10,19,2430.0
1,SPB-21546,2020-01-31 22:05:17,3106,홍남교 두바퀴쉼터,6,2020-02-01 00:00:06,3106,홍남교 두바퀴쉼터,7,105,860.0
2,SPB-24679,2020-01-31 23:55:01,1435,능산삼거리,8,2020-02-01 00:00:08,1430,중랑구청,19,4,720.0
3,SPB-20312,2020-01-31 23:54:06,1656,중앙하이츠 아파트 입구,2,2020-02-01 00:00:11,1625,상계역(4번출구),16,5,660.0
4,SPB-21946,2020-01-31 23:41:05,237,보라매 두산위브 건너편,1,2020-02-01 00:00:11,2169,봉천역 2번출구,6,19,2890.0

In [4]:
df = df[~df['반납대여소명'].str.contains('\?')]
df

,자전거번호,대여일시,대여대여소번호,대여대여소명,대여거치대,반납일시,반납대여소번호,반납대여소명,반납거치대,이용시간,이용거리
0,SPB-22727,2020-01-31 23:40:04,183,하늘채코오롱아파트 건너편,15,2020-02-01 00:00:02,113,홍대입구역 2번출구 앞,10,19,2430.0
1,SPB-21546,2020-01-31 22:05:17,3106,홍남교 두바퀴쉼터,6,2020-02-01 00:00:06,3106,홍남교 두바퀴쉼터,7,105,860.0
2,SPB-24679,2020-01-31 23:55:01,1435,능산삼거리,8,2020-02-01 00:00:08,1430,중랑구청,19,4,720.0
3,SPB-20312,2020-01-31 23:54:06,1656,중앙하이츠 아파트 입구,2,2020-02-01 00:00:11,1625,상계역(4번출구),16,5,660.0
4,SPB-21946,2020-01-31 23:41:05,237,보라매 두산위브 건너편,1,2020-02-01 00:00:11,2169,봉천역 2번출구,6,19,2890.0
...,...,...,...,...,...,...,...,...,...,...,...
734127,SPB-24279,2020-02-29 23:36:05,657,동대문롯데캐슬아파트 앞,5,2020-02-29 23:59:46,559,왕십리역 4번 출구 건너편,1,23,3580.0
734128,SPB-24344,2020-02-29 23:45:29,1340,광운초등학교 앞,2,2020-02-29 23:59:47,1601,석계역 문화광장 내 자전거 보관소,17,13,1710.0
734129,SPB-17675,2020-02-29 23:41:15,3529,어린이대공원정문,10,2020-02-29 23:59:51,3535,중곡사거리(국민은행),2,18,1970.0
734130,SPB-19051,2020-02-29 23:53:02,2294,두상빌딩 앞,2,2020-02-29 23:59:54,2255,시민의숲역 1번출구 옆,6,6,360.0
734131,SPB-23133,2020-02-29 23:56:29,1112,마곡엠밸리4단지 정문,6,2020-02-29 23:59:56,1113,서남환경공원 버스정류장,12,3,530.0

In [5]:
df = df.drop(['자전거번호', '대여거치대', '반납거치대', '이용거리'], axis = 1)
df.head()

,대여일시,대여대여소번호,대여대여소명,반납일시,반납대여소번호,반납대여소명,이용시간
0,2020-01-31 23:40:04,183,하늘채코오롱아파트 건너편,2020-02-01 00:00:02,113,홍대입구역 2번출구 앞,19
1,2020-01-31 22:05:17,3106,홍남교 두바퀴쉼터,2020-02-01 00:00:06,3106,홍남교 두바퀴쉼터,105
2,2020-01-31 23:55:01,1435,능산삼거리,2020-02-01 00:00:08,1430,중랑구청,4
3,2020-01-31 23:54:06,1656,중앙하이츠 아파트 입구,2020-02-01 00:00:11,1625,상계역(4번출구),5
4,2020-01-31 23:41:05,237,보라매 두산위브 건너편,2020-02-01 00:00:11,2169,봉천역 2번출구,19

In [6]:
df['대여일시'] = pd.to_datetime(df['대여일시'])
df['반납일시'] = pd.to_datetime(df['반납일시'])

df['대여년'] = df['대여일시'].dt.year
df['대여월'] = df['대여일시'].dt.month
df['대여일'] = df['대여일시'].dt.day
df['대여요일'] = df['대여일시'].dt.dayofweek
df['대여시간'] = df['대여일시'].dt.hour
df['대여시간_분'] = df['대여일시'].dt.minute

df['반납년'] = df['반납일시'].dt.year
df['반납월'] = df['반납일시'].dt.month
df['반납일'] = df['반납일시'].dt.day
df['반납요일'] = df['반납일시'].dt.dayofweek
df['반납시간'] = df['반납일시'].dt.hour
df['반납시간_분'] = df['반납일시'].dt.minute

In [7]:
df = df.sort_values('대여일시', ignore_index = True)
df.head()

,대여일시,대여대여소번호,대여대여소명,반납일시,반납대여소번호,반납대여소명,이용시간,대여년,대여월,대여일,대여요일,대여시간,대여시간_분,반납년,반납월,반납일,반납요일,반납시간,반납시간_분
0,2020-01-31 10:56:36,389,을지로4가역 1번출구,2020-02-01 09:55:00,389,을지로4가역 1번출구,1378,2020,1,31,4,10,56,2020,2,1,5,9,55
1,2020-01-31 11:14:07,389,을지로4가역 1번출구,2020-02-01 09:54:56,389,을지로4가역 1번출구,1360,2020,1,31,4,11,14,2020,2,1,5,9,54
2,2020-01-31 18:07:26,107,신한은행 서교동금융센터점 앞,2020-02-01 07:36:26,151,망원1동주민센터,40,2020,1,31,4,18,7,2020,2,1,5,7,36
3,2020-01-31 21:03:53,1169,염창역 1번 출구,2020-02-01 08:23:05,700,KB국민은행 염창역 지점 앞,111,2020,1,31,4,21,3,2020,2,1,5,8,23
4,2020-01-31 21:07:28,1226,잠실4동 주민센터 옆,2020-02-01 00:02:41,1210,롯데월드타워(잠실역2번출구 쪽),174,2020,1,31,4,21,7,2020,2,1,5,0,2

In [8]:
df_rental = df[['대여일시', '대여대여소명','대여대여소번호', '대여년', '대여월', '대여일', '대여요일', '대여시간', '대여시간_분']]
df_rental.reset_index(drop = True, inplace = True)
df_rental.head()

,대여일시,대여대여소명,대여대여소번호,대여년,대여월,대여일,대여요일,대여시간,대여시간_분
0,2020-01-31 10:56:36,을지로4가역 1번출구,389,2020,1,31,4,10,56
1,2020-01-31 11:14:07,을지로4가역 1번출구,389,2020,1,31,4,11,14
2,2020-01-31 18:07:26,신한은행 서교동금융센터점 앞,107,2020,1,31,4,18,7
3,2020-01-31 21:03:53,염창역 1번 출구,1169,2020,1,31,4,21,3
4,2020-01-31 21:07:28,잠실4동 주민센터 옆,1226,2020,1,31,4,21,7

In [9]:
df_rental2 = df_rental.groupby(['대여대여소명','대여대여소번호', '대여년', '대여월', '대여시간']).size().reset_index().rename(columns = {0 : 'rent_count'})
df_rental2

              대여대여소명  대여대여소번호   대여년  대여월  대여시간  rent_count
0      (구)신한은행 중랑교지점     1442  2020    2     0           8
1      (구)신한은행 중랑교지점     1442  2020    2     1          15
2      (구)신한은행 중랑교지점     1442  2020    2     2          14
3      (구)신한은행 중랑교지점     1442  2020    2     3           8
4      (구)신한은행 중랑교지점     1442  2020    2     4          14
...              ...      ...   ...  ...   ...         ...
35148          희성오피앙     1639  2020    2    19          16
35149          희성오피앙     1639  2020    2    20          12
35150          희성오피앙     1639  2020    2    21          13
35151          희성오피앙     1639  2020    2    22          12
35152          희성오피앙     1639  2020    2    23          10

[35153 rows x 6 columns]

In [10]:
df_rental2['rent_count'] = df_rental2['rent_count'] / 29
df_rental2['mu_15'] = df_rental2['rent_count'] / 4
df_rental2

              대여대여소명  대여대여소번호   대여년  대여월  대여시간  rent_count     mu_15
0      (구)신한은행 중랑교지점     1442  2020    2     0    0.275862  0.068966
1      (구)신한은행 중랑교지점     1442  2020    2     1    0.517241  0.129310
2      (구)신한은행 중랑교지점     1442  2020    2     2    0.482759  0.120690
3      (구)신한은행 중랑교지점     1442  2020    2     3    0.275862  0.068966
4      (구)신한은행 중랑교지점     1442  2020    2     4    0.482759  0.120690
...              ...      ...   ...  ...   ...         ...       ...
35148          희성오피앙     1639  2020    2    19    0.551724  0.137931
35149          희성오피앙     1639  2020    2    20    0.413793  0.103448
35150          희성오피앙     1639  2020    2    21    0.448276  0.112069
35151          희성오피앙     1639  2020    2    22    0.413793  0.103448
35152          희성오피앙     1639  2020    2    23    0.344828  0.086207

[35153 rows x 7 columns]

In [11]:
df_return = df[['반납일시', '반납대여소명', '반납대여소번호','반납년', '반납월', '반납일', '반납요일', '반납시간', '반납시간_분']]
df_return.reset_index(drop = True, inplace = True)
df_return

,반납일시,반납대여소명,반납대여소번호,반납년,반납월,반납일,반납요일,반납시간,반납시간_분
0,2020-02-01 09:55:00,을지로4가역 1번출구,389,2020,2,1,5,9,55
1,2020-02-01 09:54:56,을지로4가역 1번출구,389,2020,2,1,5,9,54
2,2020-02-01 07:36:26,망원1동주민센터,151,2020,2,1,5,7,36
3,2020-02-01 08:23:05,KB국민은행 염창역 지점 앞,700,2020,2,1,5,8,23
4,2020-02-01 00:02:41,롯데월드타워(잠실역2번출구 쪽),1210,2020,2,1,5,0,2
...,...,...,...,...,...,...,...,...,...
729649,2020-02-29 23:57:49,창신역 1번출구 앞,364,2020,2,29,5,23,57
729650,2020-02-29 23:59:13,면목초등학교,1412,2020,2,29,5,23,59
729651,2020-02-29 23:59:37,청솔우성아파트 앞,617,2020,2,29,5,23,59
729652,2020-02-29 23:58:43,양문교회 앞,2066,2020,2,29,5,23,58
729653,2020-02-29 23:59:56,서남환경공원 버스정류장,1113,2020,2,29,5,23,59

In [12]:
df_c = pd.DataFrame(df_return[['반납대여소명','반납대여소번호','반납년', '반납월','반납시간']].value_counts()).rename(columns = {0 : 'return_count'}).reset_index()
df_c.reset_index(drop=True, inplace = True)
df_c['return_count'] = df_c['return_count'] / 29
df_c['lambda15'] = df_c['return_count']/4
df_c.columns = ['대여소명','대여소번호','년', '월','시간','return_count','lambda15']
df_c

                대여소명  대여소번호     년  월  시간  return_count  lambda15
0          성동세무서 건너편    563  2020  2   8     21.206897  5.301724
1      코오롱One&Only타워   1195  2020  2   8     19.896552  4.974138
2       홍대입구역 2번출구 앞    113  2020  2   8     16.551724  4.137931
3      마곡나루역 5번출구 뒤편   2701  2020  2  18     13.517241  3.379310
4        이마트 버스정류소 옆    509  2020  2   8     12.931034  3.232759
...              ...    ...   ... ..  ..           ...       ...
34338       목동청소년수련관    764  2020  2   1      0.034483  0.008621
34339      고덕동 아남아파트   1033  2020  2   6      0.034483  0.008621
34340       오금공원 사거리   1283  2020  2   9      0.034483  0.008621
34341      한내근린공원 남측   1641  2020  2   5      0.034483  0.008621
34342      삼육대 제3과학관   1680  2020  2   1      0.034483  0.008621

[34343 rows x 7 columns]

In [13]:
return_ubound = pd.DataFrame(df_c.groupby(['대여소명','대여소번호'])['return_count'].agg(lambda x : np.floor(np.percentile(x,75)+(np.percentile(x,75)-np.percentile(x,25))*1.5))).reset_index().rename(columns = {'return_count' : 'upperbound'})
return_ubound.head()

             대여소명  대여소번호  upperbound
0   (구)신한은행 중랑교지점   1442         2.0
1     (구)합정동 주민센터    101         1.0
2   3호선 매봉역 3번출구앞   2335         1.0
3        419민주묘지역   1539         1.0
4  9호선종합운동장역 9번출구   1206         2.0

In [14]:
df_rental2.columns = ['대여소명','대여소번호','년', '월','시간', 'rent_count','mu_15']
df = pd.merge(df_c, df_rental2, on=['대여소명','대여소번호','년', '월','시간'], how='outer')
df.tail()

,대여소명,대여소번호,년,월,시간,return_count,lambda15,rent_count,mu_15
36179,흑석한강푸르지오 106동앞,2064,2020,2,9,NaN,NaN,0.137931,0.034483
36180,흑석한강푸르지오 106동앞,2064,2020,2,11,NaN,NaN,0.241379,0.060345
36181,흑석한강푸르지오 106동앞,2064,2020,2,14,NaN,NaN,0.310345,0.077586
36182,희성오피앙,1639,2020,2,5,NaN,NaN,0.068966,0.017241
36183,희성오피앙,1639,2020,2,7,NaN,NaN,0.103448,0.025862

In [15]:
stops = df[['대여소명','대여소번호']].drop_duplicates().reset_index(drop=True)
Dayhour = pd.DataFrame({'년':np.repeat(2020, 24*len(stops)),'월':np.repeat(2, 24*len(stops)),'시간':np.repeat(np.arange(24), len(stops))})
stops2 = pd.concat([stops] * 24).reset_index(drop=True)
Dayhour_frame = pd.concat([stops2,Dayhour],axis=1)

In [16]:
df = pd.merge(df,Dayhour_frame, on = ['대여소명','대여소번호','년', '월','시간'],how='outer')
df = pd.merge(df, return_ubound, on=['대여소명','대여소번호'], how='outer')
df.fillna(0, inplace=True)
df.tail()

,대여소명,대여소번호,년,월,시간,return_count,lambda15,rent_count,mu_15,upperbound
37336,대한상공회의소,445,2020,2,19,0.0,0.0,0.0,0.0,0.0
37337,대한상공회의소,445,2020,2,20,0.0,0.0,0.0,0.0,0.0
37338,대한상공회의소,445,2020,2,21,0.0,0.0,0.0,0.0,0.0
37339,대한상공회의소,445,2020,2,22,0.0,0.0,0.0,0.0,0.0
37340,대한상공회의소,445,2020,2,23,0.0,0.0,0.0,0.0,0.0

In [17]:
df = df.sort_values(['대여소명', '대여소번호','년', '월', '시간'], ignore_index = True)
df

,대여소명,대여소번호,년,월,시간,return_count,lambda15,rent_count,mu_15,upperbound
0,(구)신한은행 중랑교지점,1442,2020,2,0,0.827586,0.206897,0.275862,0.068966,2.0
1,(구)신한은행 중랑교지점,1442,2020,2,1,1.103448,0.275862,0.517241,0.129310,2.0
2,(구)신한은행 중랑교지점,1442,2020,2,2,0.689655,0.172414,0.482759,0.120690,2.0
3,(구)신한은행 중랑교지점,1442,2020,2,3,0.413793,0.103448,0.275862,0.068966,2.0
4,(구)신한은행 중랑교지점,1442,2020,2,4,0.379310,0.094828,0.482759,0.120690,2.0
...,...,...,...,...,...,...,...,...,...,...
37336,희성오피앙,1639,2020,2,19,1.137931,0.284483,0.551724,0.137931,1.0
37337,희성오피앙,1639,2020,2,20,0.413793,0.103448,0.413793,0.103448,1.0
37338,희성오피앙,1639,2020,2,21,0.793103,0.198276,0.448276,0.112069,1.0
37339,희성오피앙,1639,2020,2,22,0.413793,0.103448,0.413793,0.103448,1.0
37340,희성오피앙,1639,2020,2,23,0.275862,0.068966,0.344828,0.086207,1.0

In [18]:
df = df.drop(['return_count', 'rent_count'], axis = 1)
df = df.rename(columns = {'lambda15' : 'lambda_15', 'upperbound' : 'c'})
df

                대여소명  대여소번호     년  월  시간  lambda_15     mu_15    c
0      (구)신한은행 중랑교지점   1442  2020  2   0   0.206897  0.068966  2.0
1      (구)신한은행 중랑교지점   1442  2020  2   1   0.275862  0.129310  2.0
2      (구)신한은행 중랑교지점   1442  2020  2   2   0.172414  0.120690  2.0
3      (구)신한은행 중랑교지점   1442  2020  2   3   0.103448  0.068966  2.0
4      (구)신한은행 중랑교지점   1442  2020  2   4   0.094828  0.120690  2.0
...              ...    ...   ... ..  ..        ...       ...  ...
37336          희성오피앙   1639  2020  2  19   0.284483  0.137931  1.0
37337          희성오피앙   1639  2020  2  20   0.103448  0.103448  1.0
37338          희성오피앙   1639  2020  2  21   0.198276  0.112069  1.0
37339          희성오피앙   1639  2020  2  22   0.103448  0.103448  1.0
37340          희성오피앙   1639  2020  2  23   0.068966  0.086207  1.0

[37341 rows x 8 columns]

In [19]:
df['rho'] = float(-1)

for i in range(len(df)):
    if df['mu_15'][i] == 0:
        df['rho'][i] = 0
    else:
        df['rho'][i] = df['lambda_15'][i] / df['mu_15'][i]
df

                대여소명  대여소번호     년  월  시간  lambda_15     mu_15    c       rho
0      (구)신한은행 중랑교지점   1442  2020  2   0   0.206897  0.068966  2.0  3.000000
1      (구)신한은행 중랑교지점   1442  2020  2   1   0.275862  0.129310  2.0  2.133333
2      (구)신한은행 중랑교지점   1442  2020  2   2   0.172414  0.120690  2.0  1.428571
3      (구)신한은행 중랑교지점   1442  2020  2   3   0.103448  0.068966  2.0  1.500000
4      (구)신한은행 중랑교지점   1442  2020  2   4   0.094828  0.120690  2.0  0.785714
...              ...    ...   ... ..  ..        ...       ...  ...       ...
37336          희성오피앙   1639  2020  2  19   0.284483  0.137931  1.0  2.062500
37337          희성오피앙   1639  2020  2  20   0.103448  0.103448  1.0  1.000000
37338          희성오피앙   1639  2020  2  21   0.198276  0.112069  1.0  1.769231
37339          희성오피앙   1639  2020  2  22   0.103448  0.103448  1.0  1.000000
37340          희성오피앙   1639  2020  2  23   0.068966  0.086207  1.0  0.800000

[37341 rows x 9 columns]

In [20]:
# p_c: 대여소에 자전거가 c개(최대거치용량) 있을 확률

df['p_c'] = float(-1)

for i in range(len(df)):
    if df['rho'][i] == 1:
        df['p_c'][i] = 1 / (1 + df['c'][i]) 
    else:
        df['p_c'][i] = (df['rho'][i]**df['c'][i]) * ((1 - df['rho'][i]) / (1 - (df['rho'][i]**(df['c'][i] + 1))))
df

,대여소명,대여소번호,년,월,시간,lambda_15,mu_15,c,rho,p_c
0,(구)신한은행 중랑교지점,1442,2020,2,0,0.206897,0.068966,2.0,3.000000,0.692308
1,(구)신한은행 중랑교지점,1442,2020,2,1,0.275862,0.129310,2.0,2.133333,0.592250
2,(구)신한은행 중랑교지점,1442,2020,2,2,0.172414,0.120690,2.0,1.428571,0.456621
3,(구)신한은행 중랑교지점,1442,2020,2,3,0.103448,0.068966,2.0,1.500000,0.473684
4,(구)신한은행 중랑교지점,1442,2020,2,4,0.094828,0.120690,2.0,0.785714,0.256900
...,...,...,...,...,...,...,...,...,...,...
37336,희성오피앙,1639,2020,2,19,0.284483,0.137931,1.0,2.062500,0.673469
37337,희성오피앙,1639,2020,2,20,0.103448,0.103448,1.0,1.000000,0.500000
37338,희성오피앙,1639,2020,2,21,0.198276,0.112069,1.0,1.769231,0.638889
37339,희성오피앙,1639,2020,2,22,0.103448,0.103448,1.0,1.000000,0.500000
37340,희성오피앙,1639,2020,2,23,0.068966,0.086207,1.0,0.800000,0.444444

In [21]:
# L_s : 대여소 내 평균 자전거 수

df['L_s'] = float(-1)

for i in range(len(df)):
    rho = df['rho'][i]
    c = df['c'][i]
    if df['rho'][i] == 1:
        df['L_s'][i] = c / 2
    else:
        df['L_s'][i] = (rho / (1 - rho)) * ((1 - ((c + 1) * rho**c) + (c * rho**(c + 1))) / (1 - (rho**(c + 1))))
df

,대여소명,대여소번호,년,월,시간,lambda_15,mu_15,c,rho,p_c,L_s
0,(구)신한은행 중랑교지점,1442,2020,2,0,0.206897,0.068966,2.0,3.000000,0.692308,1.615385
1,(구)신한은행 중랑교지점,1442,2020,2,1,0.275862,0.129310,2.0,2.133333,0.592250,1.462117
2,(구)신한은행 중랑교지점,1442,2020,2,2,0.172414,0.120690,2.0,1.428571,0.456621,1.232877
3,(구)신한은행 중랑교지점,1442,2020,2,3,0.103448,0.068966,2.0,1.500000,0.473684,1.263158
4,(구)신한은행 중랑교지점,1442,2020,2,4,0.094828,0.120690,2.0,0.785714,0.256900,0.840764
...,...,...,...,...,...,...,...,...,...,...,...
37336,희성오피앙,1639,2020,2,19,0.284483,0.137931,1.0,2.062500,0.673469,0.673469
37337,희성오피앙,1639,2020,2,20,0.103448,0.103448,1.0,1.000000,0.500000,0.500000
37338,희성오피앙,1639,2020,2,21,0.198276,0.112069,1.0,1.769231,0.638889,0.638889
37339,희성오피앙,1639,2020,2,22,0.103448,0.103448,1.0,1.000000,0.500000,0.500000
37340,희성오피앙,1639,2020,2,23,0.068966,0.086207,1.0,0.800000,0.444444,0.444444

In [22]:
# W_s : 대여소 내 평균 대기시간(자전거 반납 후 재대여 될 때까지의 시간)

df['W_s'] = float(-1)

for i in range(len(df)):
    if df['p_c'][i] == 0:
        df['W_s'][i] = 0
    elif df['p_c'][i] == 1:
        df['W_s'][i] = 0
    else:
        df['W_s'][i] = df['L_s'][i] / (df['lambda_15'][i] * (1 - df['p_c'][i]))
df

,대여소명,대여소번호,년,월,시간,lambda_15,mu_15,c,rho,p_c,L_s,W_s
0,(구)신한은행 중랑교지점,1442,2020,2,0,0.206897,0.068966,2.0,3.000000,0.692308,1.615385,25.375000
1,(구)신한은행 중랑교지점,1442,2020,2,1,0.275862,0.129310,2.0,2.133333,0.592250,1.462117,12.998582
2,(구)신한은행 중랑교지점,1442,2020,2,2,0.172414,0.120690,2.0,1.428571,0.456621,1.232877,13.159664
3,(구)신한은행 중랑교지점,1442,2020,2,3,0.103448,0.068966,2.0,1.500000,0.473684,1.263158,23.200000
4,(구)신한은행 중랑교지점,1442,2020,2,4,0.094828,0.120690,2.0,0.785714,0.256900,0.840764,11.931429
...,...,...,...,...,...,...,...,...,...,...,...,...
37336,희성오피앙,1639,2020,2,19,0.284483,0.137931,1.0,2.062500,0.673469,0.673469,7.250000
37337,희성오피앙,1639,2020,2,20,0.103448,0.103448,1.0,1.000000,0.500000,0.500000,9.666667
37338,희성오피앙,1639,2020,2,21,0.198276,0.112069,1.0,1.769231,0.638889,0.638889,8.923077
37339,희성오피앙,1639,2020,2,22,0.103448,0.103448,1.0,1.000000,0.500000,0.500000,9.666667
37340,희성오피앙,1639,2020,2,23,0.068966,0.086207,1.0,0.800000,0.444444,0.444444,11.600000

In [23]:
# 일부 칼럼 타입 카테고리로 변환

df = df.astype({'대여소명' : 'category', '대여소번호' : 'category'})

In [24]:
station = pd.read_csv('./대학원/데이터/정리 데이터/공공자전거 대여소 정보(21.06월 기준).csv')
station.head()

,대여소 번호,보관소(대여소)명,자치구,상세주소,위도,경도,설치 시기,LCD 거치대수,QR 거치대수,운영 방식
0,102,망원역 1번출구 앞,마포구,서울특별시 마포구 월드컵로 72,37.555649,126.910629,2015-09-06,20.0,NaN,LCD
1,103,망원역 2번출구 앞,마포구,서울특별시 마포구 월드컵로 79,37.554951,126.910835,2015-09-06,14.0,NaN,LCD
2,104,합정역 1번출구 앞,마포구,서울특별시 마포구 양화로 59,37.550629,126.914986,2015-09-06,13.0,NaN,LCD
3,105,합정역 5번출구 앞,마포구,서울특별시 마포구 양화로 48,37.550007,126.914825,2015-09-06,5.0,NaN,LCD
4,106,합정역 7번출구 앞,마포구,서울특별시 마포구 독막로 4,37.548645,126.912826,2015-09-06,10.0,NaN,LCD

In [25]:
station = station.astype({'자치구' : 'category', '대여소 번호' : 'category'})

In [26]:
station = station.rename(columns = {'대여소 번호' : '대여소번호'})
station

,대여소번호,보관소(대여소)명,자치구,상세주소,위도,경도,설치 시기,LCD 거치대수,QR 거치대수,운영 방식
0,102,망원역 1번출구 앞,마포구,서울특별시 마포구 월드컵로 72,37.555649,126.910629,2015-09-06,20.0,NaN,LCD
1,103,망원역 2번출구 앞,마포구,서울특별시 마포구 월드컵로 79,37.554951,126.910835,2015-09-06,14.0,NaN,LCD
2,104,합정역 1번출구 앞,마포구,서울특별시 마포구 양화로 59,37.550629,126.914986,2015-09-06,13.0,NaN,LCD
3,105,합정역 5번출구 앞,마포구,서울특별시 마포구 양화로 48,37.550007,126.914825,2015-09-06,5.0,NaN,LCD
4,106,합정역 7번출구 앞,마포구,서울특별시 마포구 독막로 4,37.548645,126.912826,2015-09-06,10.0,NaN,LCD
...,...,...,...,...,...,...,...,...,...,...
2462,4864,송파사거리,송파구,송파구 송파동 97-2,37.502056,127.110550,2021-04-27,NaN,6.0,QR
2463,4865,한성백제역 1번출구 뒤,송파구,송파구 방이동 45-4,37.516342,127.115593,2021-04-28,NaN,5.0,QR
2464,4867,가락대림아파트 앞,송파구,송파구 가락동 94-9,37.500027,127.118431,2021-04-28,NaN,10.0,QR
2465,4868,레이크 호텔 앞,송파구,송파구 석촌동 158,37.507172,127.101242,2021-05-18,NaN,7.0,QR
2466,4869,잠실나들목6,송파구,잠실동 24,37.516296,127.084610,2021-06-21,NaN,9.0,QR

In [27]:
df = pd.merge(df, station[['자치구', '대여소번호']], on = '대여소번호')
df.head()

,대여소명,대여소번호,년,월,시간,lambda_15,mu_15,c,rho,p_c,L_s,W_s,자치구
0,(구)신한은행 중랑교지점,1442,2020,2,0,0.206897,0.068966,2.0,3.000000,0.692308,1.615385,25.375000,중랑구
1,(구)신한은행 중랑교지점,1442,2020,2,1,0.275862,0.129310,2.0,2.133333,0.592250,1.462117,12.998582,중랑구
2,(구)신한은행 중랑교지점,1442,2020,2,2,0.172414,0.120690,2.0,1.428571,0.456621,1.232877,13.159664,중랑구
3,(구)신한은행 중랑교지점,1442,2020,2,3,0.103448,0.068966,2.0,1.500000,0.473684,1.263158,23.200000,중랑구
4,(구)신한은행 중랑교지점,1442,2020,2,4,0.094828,0.120690,2.0,0.785714,0.256900,0.840764,11.931429,중랑구

In [28]:
df = df.drop(['대여소번호', 'c'], axis = 1)
df = df[['자치구', '대여소명', '년', '월', '시간','L_s', 'W_s']]
df.head()

   자치구           대여소명     년  월  시간       L_s        W_s
0  중랑구  (구)신한은행 중랑교지점  2020  2   0  1.615385  25.375000
1  중랑구  (구)신한은행 중랑교지점  2020  2   1  1.462117  12.998582
2  중랑구  (구)신한은행 중랑교지점  2020  2   2  1.232877  13.159664
3  중랑구  (구)신한은행 중랑교지점  2020  2   3  1.263158  23.200000
4  중랑구  (구)신한은행 중랑교지점  2020  2   4  0.840764  11.931429

In [29]:
df.to_excel('./2020.02 Ls, Ws.xlsx', index = False)